/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face{
	font-family:"capture";
	src:url('/static/fonts/Capture_it.ttf');
}
*{
	margin:0;
	padding:0;
	outline:0;
	
}
a{
	color: black;
  	text-decoration: none;
}
html{
	background:url('/static/polls/images/bg2.jpg') no-repeat center center fixed;
	background-size:cover;/*font-family: 'capture',sans-serif;*/
	max-width: 1200px;
  	margin: 0 auto;
  	position: relative;
}
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
body{
  	margin: 0 auto;
}
#header{
	background: -webkit-linear-gradient(337deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
	background: -o-linear-gradient(337deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
	background: -ms-linear-gradient(337deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
	background: -moz-linear-gradient(337deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
	background: linear-gradient(113deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
	width:100%;
	margin:0rem 0rem 3rem 0rem;
	opacity:0.93;
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:10;
}
#headerContent{
	width:95%;
	margin:0 auto;
	position: relative;
}
.logo{
	/*margin: -2rem 0;*/
  	display: inline-block;
}
.logo img{
	width: 75px;
  	height: 75px;
}
.menu{
	font-size: 2rem;
  	display: inline-block;
  	position: absolute;
  	right: 0;
  	top: 20px;
}
ul.menu-nav li{
	list-style-type: none;
	float:left;
	padding-left:1rem;
}
.userInNav{
	/* margin-left: 10rem; */
  	margin-top: -1.2rem;
}
.userInNav img{
	width: 75px;
	height: 75px;
	border-radius: 50%;
}
ul.menu-nav li a{
	color:black;
  	text-decoration:none;
}
ul.menu-nav li a:hover{
	color:red;
	letter-spacing: 0.2rem;
}
.search{
	margin-top:-0.65rem;
}
.searchBox{
	/*width:200%;*/
	height:3rem;
	color:#000;
	font-size:1rem;
	border: 3px solid #000;
    border-radius: 25px;
	text-align:center;
	padding:0 1rem;
}
.dropDownBox{
	display: none;
	position: absolute;
	z-index: 98;
	top: 57px;
	right: -11px;
	padding: 10px;
	color: #333;
	background: white;
	opacity: 1;
	border: 1px solid #ccc;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 1px 4px rgba(0,0,0,0.4);
	text-align: center;
	font-size: 1.5rem;
	color: black;
}
/*.dropDownBoxClick{
	display:block;
	background: #666;
}*/
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
@media only screen and (max-width: 960px){
	#header{
		 position: relative;
		 padding: 1rem 0rem 2rem 0rem;
  	     margin-bottom: 3rem;
		}
	.logo{
		width:100%;
		margin:0;
	}
	.logo img{
		display: block;
  		margin:0 auto;
	}
	.menu{
		display: block;
		position: relative;
	}
	ul.menu-nav li{
		float:none;
		padding: 0;
		text-align:center;
		background: #fff;
		border: 3px solid #000;
    	border-radius: 25px;
    	margin-bottom:1rem;
	}
	.searchLi{
		border:none !important;
	}
	.search{
		margin:0;
		width:100%;
	}
	.searchBox{
		width:100%;
	    margin:0 auto;
	    font-size:1rem;
	    height:2.7rem;
	    border: none;
	}
	.userInNav{
		display:none;
	}
}
.anchorSpan{
	font-size: 2rem;
  	color: orange;
  	font-weight: bold;
}
.errorlist{
	color: red;
  	display: inline-block;
  	float: right;
}
#overlay-inAbox .wrapper {
    text-align: center;
}
#overlay-shade {
    display: none;
}

#overlay-shade {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #000;
}

.overlay {
	border: 3px solid #000;
  	border-radius: 25px;
  	background-color: #fff;
    position: absolute;
    /*top: -300px;
    left: 0;*/
    width: 50%;
    min-height: 30%;
    z-index: 11;
    color: #000;
} .ie7 .overlay {
    height: 200px;
} .overlay .wrapper {
    padding: 15px 30px 30px;
}
#overlay-inAbox{
	display:none;
	margin-left: 25%;
}
#overlaytext{
	font-size: 2rem;
	padding: 1rem;
}
.push_button{
	  /* margin-left: 18rem; */
  margin-top: 1rem;
  background: #3e9cbf;
  border: 1px solid #3e9cbf;
  cursor: pointer;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  color: #fff;
  -webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
  -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
  box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 0 1rem;
  display: block;
  margin: 0 auto;
}
.push_button:hover{
	/* color:#dfe7ea; */
	letter-spacing:.05rem;
	/*reduce the size of the shadow to give a pushed effect*/
	-webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
	box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
}
/*@media only screen and (max-width: 480px){
	#header{
		 position: relative;
		 padding: 1rem 0rem 1rem 0rem;
  	     margin-bottom: 3rem;
		}
	.logo{
		width:100%;
		margin:0;
	}
	.logo img{
		display: block;
  		margin:0 auto;
	}
	.menu{
		margin-top:1rem;
		width:100%;
	}
	ul.menu-nav li{
		float:none;
		padding: 0;
		text-align:center;
		background: #fff;
		border: 3px solid #000;
    	border-radius: 25px;
    	margin-bottom:1rem;
	}
	.searchLi{
		border:none !important;
	}
	.search{
		margin:0;
		width:100%;
	}
	.searchBox{
		width:100%;
	    margin:0 auto;
	    font-size:1rem;
	    height:2.7rem;
	}
	#header,.menu,.search{
		float:none;
	}
	#header{
		position: relative;
		width:90%;
		margin:0 auto;
		padding:3rem 0rem 1rem 0rem;
	}
	.logo{
		width:100%;
		margin:-2rem 1rem;
	}
	.logo img{
		margin: 0 auto;
  		display: block;
	}
	.menu{
		margin-top:3rem;
		width:100%;
	}
	ul.menu-nav li{
		float:none;
		padding: 0;
		text-align:center;
		background: #fff;
		border: 3px solid #000;
    	border-radius: 25px;
    	margin-bottom:1rem;
	}
	.searchLi{
		border:none !important;
	}
	.search{
		margin:0;
		width:100%;
	}
	.searchBox{
		width:100%;
	    margin:0 auto;
	    font-size:1rem;
	    height:2.7rem;
	}
}*/
#display_message_section{
	margin: 7rem 5rem 0rem 5rem;
}
.display_message{
	text-align :center;
	border: 3px solid #000;
  	border-radius: 25px;
  	background-color: white;
  	opacity: 0.93;
  	padding: 3rem 3rem;
  	margin-bottom:2rem;
	font-size : 2rem;
}
/*.questions>div{
	flex:1;
}*/
.display_message_content p {
	font-size : 1.5rem;
}