html{
	background:url('/static/polls/images/question.jpg') no-repeat center center fixed;
	background-size:cover;/*font-family: 'capture',sans-serif;*/
}
#createPoll{
	margin: 7rem 5rem 0rem 5rem;
}
.createPoll{
	border: 3px solid #000;
	border-radius: 25px;
	background-color: white;
	opacity: 0.93;
	/* padding: 1rem 1rem;
	margin-bottom: 2rem; */
	/* width: 75%; */
	margin: 0 auto;
}
.createPoll p{
	margin-bottom:2rem;
}
.createPollContent{
	margin: 0 auto;
}
form.createPollContentForm{
	/* width:60%; */
	padding: 4rem 4rem 0 4rem;
	margin:0 auto;
	/* margin-left:21rem; */
}
form.createPollContentForm label{
	display: inline-block;
	width:20%;
	color: #666;
}

.createPollContentForm input[type="text"]{
		height: 2rem;
		border-radius: 10px;
		border: 1px solid #4c4c4c;
		background: transparent;
		overflow:hidden;
}
.createPollText{
	margin-right: 1rem;
}
.createPollContentForm textarea{
	vertical-align: top;
	border-radius: 10px;
    border: 1px solid #666;
    background: transparent;
    overflow: hidden;
	margin-top: -2rem;
	width:75%;
	/*width: 45rem;*/
	/*margin-left:11rem;*/
}
#qText{
	margin-bottom:2rem;
}
.createPollContentForm input[type="date"]{
	border-radius: 10px;
    border: 2px solid #666;
    background: transparent;
}
.createPollContentForm p{
	width:90%;
	margin:0 auto;
	margin-bottom:2rem;
}
.createPollContentForm input[type="file"] {
   /*  margin-left: 2rem;
	width:25%;
	background: #3e9cbf; */ /*the colour of the button*/
	/* border:1px solid #3e9cbf; /*required or the default border for the browser will appear*/ */
	/* cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/ */
	/* -moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	font-size: 1rem;
	visibility:hidden;
	background:url('question.jpg') no-repeat center center fixed; */
}
/***SET THE BUTTON'S HOVER AND FOCUS STATES***/
/*.createPollContentForm input[type="submit"]*
/*gundla https://github.com/gundla/jquery-autocomplete-multiselect*/
#categories {
    border:none;
}

.ui-autocomplete-multiselect.ui-state-default {
    display: inline-block;
    background: #fff;
    border: 1px solid #000;
    padding: 3px 3px;
    padding-bottom: 0px;
    overflow: hidden;
    cursor: text;
    width:75% !important;
}

.ui-autocomplete-multiselect .ui-autocomplete-multiselect-item .ui-icon {
    float: right;
    cursor: pointer;
}

.ui-autocomplete-multiselect .ui-autocomplete-multiselect-item {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1px 3px;
    margin-right: 2px;
    margin-bottom: 3px;
    color: #333;
    background-color: #f6f6f6;
}

.ui-autocomplete-multiselect input {
    display: inline-block;
    border: none;
    outline: none;
    height: auto;
    margin: 2px;
    overflow: visible;
    margin-bottom: 5px;
    text-align: left;
}

.ui-autocomplete-multiselect.ui-state-active {
    outline: none;
    border: 1px solid #7ea4c7;
    -moz-box-shadow: 0 0 5px rgba(50,150,255,0.5);
    -webkit-box-shadow: 0 0 5px rgba(50,150,255,0.5);
    -khtml-box-shadow: 0 0 5px rgba(50,150,255,0.5);
    box-shadow: 0 0 5px rgba(50,150,255,0.5);
}

.ui-autocomplete {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.ui-state-default .ui-icon {
  background-image: url('/static/polls/images/ui-icons_ef8c08_256x240.png') !important;
}
/*end*/
.anonymous{
	text-align: center;
}
.anonymous input[type="checkbox"]{
	width:30px;
	height:30px;
}
.anonymous label{
	vertical-align: super;
	width:initial !important;
}
.ac-results{
  background: #faebd7;
  opacity: 1;
  width: 73%;
  margin: 0 auto;
  padding: 1rem 1rem;
  border-radius: 25px;
  margin-left: 20%;
  margin-bottom: 7%;
  margin-top: -4%;
}
.choice_image{
	width: 200px;
  	height: 150px;
  	border: 5px solid #666;
  	margin-right: 2rem;
  	cursor:pointer;
}
.choice_image:hover{
	border-color: #00ff00;
}
  
  #createPoll{
    margin:0;
    margin-bottom:2rem;
  } 
  form.createPollContentForm {
    width: 100%;
    padding: 0; 
    margin: 0 auto;
    padding-top:1rem;
  }
  form.createPollContentForm label{
    display: block;
    text-align: center;
    width:100%;
    margin-bottom: 0.5rem;
  }
  #qText{
    margin-bottom: 0.5rem;
  }
  form.createPollContentForm p{
    margin-bottom:1rem;
  }
  form.createPollContentForm textarea {
    margin: 0;
    width: 100%;
    margin-bottom:0.5rem;
  }
  .createPollContentForm input[type="date"] {
    width:100%;
    text-align: center;
  }
  .createPollContentForm input[type="text"]{
    display: block;
    width:100%;
  }
  .fileLabel{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  .ui-autocomplete-multiselect.ui-state-default{
    width:100% !important;
  }
}