#content{
	margin: 7rem 5rem 0rem 5rem;
}
.searchResultsContent{
  font-size: 2rem;
  border: 3px solid #000;
  border-radius: 25px;
  background-color: white;
  opacity: 0.8;
  padding: 1rem 3rem;
  /* margin: 0 auto; */
  /* text-align: center; */
 }
.searchResults{
	font-size: 1rem;
	border: 3px solid #000;
  	border-radius: 25px;
  	/* background-color: white; */
  	/* opacity: 0.93; */
  	padding: 1rem 3rem;
  	margin-bottom:2rem;
  	display: -ms-flex; 
  	display: -webkit-flex; 
  	display: flex;
}
.result{
	width:90%;
	margin:0 auto;
}