<style>
	.askbypoll-embed-poll-mu{
        max-width:600px;
        display:block;
        color: white;
        margin:0 auto;
        border: 1px solid black;
    }
    .askbypoll-embed-poll-mu .askbypoll-embed-content{
    	border: 1px solid black !important;
    }
    .askbypoll-embed-poll-mu .askbypoll-embed-poll-wrapper{
        background-color: none;
        background: url('{{ domain_url }}/static/confused-npa-man.jpg') no-repeat;
        background-size: cover;
    }
    .askbypoll-embed-poll-mu .askbypoll-widget-title{
        display:none !important;
    }
    .askbypoll-embed-poll-mu a.askbypoll-embed-poll-icon{
        position:absolute;
        right:0;
        margin-right:0;
    }
    .askbypoll-embed-poll-mu img.askbypoll-embed-poll-logo {
        width: 50px;
        height: 50px;
    }
    /*.askbypoll-embed-poll-mu .askbypoll-embed-poll-question {
        text-align: center;
    }*/
    .askbypoll-embed-poll-mu .askbypoll-embed-poll-question-description{
        margin-bottom:1rem !important;
    }
    .askbypoll-embed-poll-mu .askbypoll-embed-progress-bar{
        position: relative;
        background: rgba(255,255,255,.2);
        width:100%;
        height: 50px;
        border-right:2px solid;
        /*padding:0.2rem;*/
        /*height: initial;*/
    }
    .askbypoll-embed-poll-mu .askbypoll-embed-poll-question-choice-text {
        width: 88%;
        display: block !important;
        padding: .5rem 1rem !important;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color:black;
    }
    .askbypoll-embed-poll-mu .askbypoll-embed-poll-powered-by{
        margin-top:2rem;
    }
    .askbypoll-embed-poll-mu .askbypoll-embed-poll-choice {
        width: 94%;
        margin: 0 auto;
        margin-top: 1rem;
        border:2px solid;
    }
    .askbypoll-embed-poll-mu span.askbypoll-poll-result{
        left:90%;
    }
	p.askbypoll-embed-poll-powered-by-p{
		font-size:0.5rem;
	}
	label.askbypoll-embed-tab-radio-label{
		font-size:0.8rem;
	}
</style>
<div class="askbypoll-embed-poll-wrapper" id="askbypoll-embed-poll-wrapper---{{ poll.id }}">
	{% if analysisNeeded %}
		<div class="askbypoll-embed-overlay" id="askbypoll-embed-overlay---{{ poll.id }}">
			<span class="askbypoll-enter-details">Enter Details To View Graphs</span>
			<select class="askbypoll-ageField askbypoll-enter" id="askbypoll-age---{{ poll.id }}" name="age">
				<option value="notSelected">What's your Age Group</option>
				<option value="16"><19</option>
				<option value="22">20-25</option>
				<option value="28">26-30</option>
				<option value="33">31-35</option>
				<option value="43">36-50</option>
				<option value="55">>50</option>
			</select>
			<select class="askbypoll-genderField askbypoll-enter" id="askbypoll-gender---{{ poll.id }}" name="gender">
				<option value="notSelected">What's your Gender</option>
				<option value="Female">Female</option>
				<option value="Male">Male</option>
				<option value="D">Rather Not Say</option>
			</select>
			<select class="askbypoll-professionField askbypoll-enter" id="askbypoll-profession---{{ poll.id }}" name="profession">
				<option value="notSelected">What's your Profession</option>
				<option value="Student">Student</option>
				<option value="Politics">Politics</option>
				<option value="Education">Education</option>
				<option value="Information Technology">Information Technology</option>
				<option value="Public Sector">Public Sector</option>
				<option value="Social Services">Social Services</option>
				<option value="Medical">Medical</option>
				<option value="Finance">Finance</option>
				<option value="Manager">Manager</option>
				<option value="Others">Others</option>
			</select>
			<input type="text" class="askbypoll-emailField askbypoll-enter" id="askbypoll-email---{{ poll.id }}" placeholder="Enter your Email for Authentication. No Spam Ever!" name="email">

			<div class="askbypoll-embed-button">
				<button id="askbypoll-closeButton---{{ poll.id }}" class="askbypoll-close-button"> Close </button>
				<button id="askbypoll-nextButton---{{ poll.id }}" class="askbypoll-button"> Show me </button>
			</div>
		</div>
	{% endif %}
	<div class="a-clearfix askbypoll-embed-poll-header" id="askbypoll-embed-poll-header---{{ poll.id }}">
		<a class="askbypoll-embed-poll-icon" id="askbypoll-embed-poll-icon---{{ poll.id }}"  href="{{ domain_url }}" target="new">
			<img class="askbypoll-embed-poll-logo" src="{{ domain_url }}/static/widgetLogo_mu.png">
		</a>
		<div class="askbypoll-embed-poll-question" id="askbypoll-embed-poll-question---{{ poll.id }}">
			<p class="askbypoll-widget-title" id="askbypoll-widget-title---{{ poll.id }}"> 
				YOUR OPINION MATTERS 
			</p>
			<p class="askbypoll-embed-poll-question-text" id="askbypoll-embed-poll-question-text---{{ poll.id }}">
				{{ poll.question_text }}
			</p>
			{% if poll.description %}
				<p class="askbypoll-embed-poll-question-description" id="askbypoll-embed-poll-question-description---{{ poll.id }}">
					Description: {{ poll.description }}
				</p>
			{% endif %}
		</div>
	</div>
	<div class="askbypoll-embed-poll-question-choices" id="askbypoll-embed-poll-question-choices---{{ poll.id }}">
		{% for choice in poll.choice_set.all %}
			{% if choice.choice_image %}
				<div class="askbypoll-embed-poll-question-choice" id="askbypoll-embed-poll-question-choice---{{ choice.id }}">
					<img class="askbypoll-embed-poll-question-choice-img askbypoll-embed-poll-question-choice-img---{{ poll.id }}" id="askbypoll-embed-poll-question-choice-img---{{ choice.id }}" src="{{ domain_url }}/media/choices/{{ choice.get_file_name }}">
					<div class="askbypoll-progress-bar-Img-div" style="position:relative;">
						<div class="askbypoll-embed-progress-bar askbypoll-embed-progress-bar-img" id="askbypoll-embed-progress-bar---{{ choice.id }}---{{ poll.id }}">
							<p class="askbypoll-embed-poll-question-choice-img-text askbypoll-embed-poll-question-choice-img-text---{{ poll.id }}" id="askbypoll-embed-poll-question-choice---text-{{ choice.id }}---{{ poll.id }}">
							{% if choice.choice_text %}
								{{ choice.choice_text }}
							{% else %}
								Choice {{ forloop.counter }}
							{% endif %}
							</p>
							<span class="askbypoll-poll-result" id="askbypoll-result-choice---{{ choice.id }}"></span>
						</div>
					</div>
				</div>
			{% else %}
				<div class="askbypoll-embed-poll-choice clearfix" id="askbypoll-embed-poll-choice---{{ choice.id }}">
					<p class="askbypoll-embed-poll-question-choice-text" id="askbypoll-embed-poll-question-choice-text---{{ choice.id }}---{{ poll.id }}">
							{{ choice.choice_text }}
					</p>
					<span class="askbypoll-poll-result" id="askbypoll-result-choice---{{ choice.id }}"></span>
					<div class="askbypoll-embed-progress-bar askbypoll-embed-progress-bar-text" id="askbypoll-embed-progress-bar---{{ choice.id }}---{{ poll.id }}">
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
	{% if analysisNeeded and not poll.protectResult %}
		<div class="askbypoll-embed-show-demographics" id="askbypoll-embed-show-demographics---{{ poll.id }}">
			Display Graphs 
		</div>
	{% endif %}
	<div class="askbypoll-embed-poll-powered-by">
		<p class="askbypoll-embed-poll-powered-by-p"  id="askbypoll-embed-poll-powered-by-p---{{ poll.id }}">Powered By 
			<a class="askbypoll-embed-poll-askbypoll-url" href="{{ domain_url }}" target="new">AskByPoll</a>
		</p>
	</div>
</div>
