/*Vertical css tabs taken from http://codepen.io/nik-savchenko/pen/xDIAe*/
html{
	background:url('/static/login/images/profile-f.jpg') no-repeat center center fixed;
	background-size:cover;
}
#profile{
	margin: 7rem 5rem 0rem 5rem;
}
.profilePic{
	margin: 2% 2% 5% 16%;
	width: 50%;
	margin:0 auto;
}
.profilePic img{
	width:140px;
	height:140px;
	border-radius:50%;
	display:block;
	margin:auto;
}
.profileContent{
	font-size:2rem;
}

.tabs{
	top:10px;
	float: none;
	list-style: none;
	position: relative;
	margin: 20px 5px 5px 10px;
	text-align: left;
	box-sizing:border-box;
}
.tabs input[name="tabs"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
.insideTabs{
  margin:0 auto;
  width:62%;
}
.tabs li{
    float: left;
    width:33%;
}

.tabs label.tabsLabel{
	cursor: pointer;
  	display: block;
    padding: 10px 0px;
  margin-top: 10px;
  	background: -webkit-linear-gradient(23deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
    background: -o-linear-gradient(23deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
    background: linear-gradient(113deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
    position: relative;
    top: -10px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    text-align: center;
    width:163px;
}
.tabs label.tabsLabel:hover{
	background: #b2b2b2;
}
.tabs .tabContent{
	  z-index: 2;
    display: none; 
    overflow: hidden;
    width: 99%;
    position: absolute;
    top: 50px;
    left: 0; 
    background: -webkit-linear-gradient(337deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
    background: -o-linear-gradient(337deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
    background: -ms-linear-gradient(337deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
    background: -moz-linear-gradient(337deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
    background: linear-gradient(113deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
    margin: 0rem 0rem;
    padding: 3rem 0rem;
    opacity: 0.8;
    border: 3px solid #000;
  	border-radius: 25px;
}
/*.tabs input[type="radio"]:checked + label{
	top:0;
	padding-bottom:20px;
}*/
.tabs [id^="tab"]:checked + label { 
    /*top: 0;*/
    /*padding-top: 7px; */
    background: #b2b2b2; 
  }
.tabs [id^="tab"]:checked ~ [id^="tabContent"] {
    display: block;
	/* margin: 0 5rem; */
}
form.profileForm{
	width:90%;
	margin:0 auto;
}
.profileForm p{
  margin-bottom:2rem;
}
form.profileForm label{
	display: inline-block;
	width:24%;
	color: #666;
  font-size: 1rem;
}
form.profileForm .fileLabel{
  padding: 0.2rem;
  text-align: center;
  display: inline-block;
  background: #fff;
  border: 1px solid;
  cursor: pointer;
  font-size: 1.5rem;
  color: #000000;
  -webkit-box-shadow: inset 0px 1px 0px #000005, 0px 5px 0px 0px #020F13, 0px 10px 5px #999;
  -moz-box-shadow: inset 0px 1px 0px #000005, 0px 5px 0px 0px #020F13, 0px 10px 5px #999;
  box-shadow: inset 0px 1px 0px #000005, 0px 5px 0px 0px #020F13, 0px 10px 5px #999;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
.upImg{
    width: 140px;
  height: 140px;
  border-radius: 50%;
  display: block;
  margin: auto;
}
#upImgText{
  padding:1.3rem;
}
.profileForm input[type="text"]{
		height: 2rem;
		border-radius: 10px;
		border: 1px solid #4c4c4c;
		background: transparent;
		font-size:1rem;
		overflow:hidden;
    box-sizing: border-box;
    padding-left: 4px;
}
.bioCss{
  margin-bottom:10rem;
}
.profileForm textarea{
	border-radius: 10px;
  border: 1px solid #666;
  background: transparent;
  font-size: 1.25rem;
  overflow: hidden;
	float:right;
  width:75%;
  padding-left:4px;
  height:4rem;
}
label[for=id_bio]{
  margin-top:3rem;
}
ul.resp-tabs-list, p {
  font-size: 1rem;
}
ul.ul-easy-tabs-polls{
  width:initial !important;
}
ul.ul-easy-tabs-polls li{
  width:initial !important;
}
.polls-resp-tabs-container{
  width:76% !important;
}
.profileForm input[type="date"]{
	border-radius: 10px;
    border: 2px solid #666;
    background: transparent;
    font-size: 1rem;
}
.searchResults{
  font-size: 1rem;
  border: 3px solid #000;
    border-radius: 25px;
    background-color: white;
    opacity: 0.93;
    padding: 1rem 3rem;
    margin-bottom:2rem;
    display: -ms-flex; 
    display: -webkit-flex; 
    display: flex;
}
.result{
  width:90%;
  margin:0 auto;
}

/***SET THE BUTTON'S HOVER AND FOCUS STATES***/
/*.createPollContentForm input[type="submit"]*/ .fileLabel:hover{
	/* color:#dfe7ea; */
	letter-spacing:.05rem;
	/*reduce the size of the shadow to give a pushed effect*/
	-webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
	box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
}
#changePassword{
    width: 40%;
  margin: 0 auto;
}
#changePassword p{
  font-size:1.5rem;
  margin-bottom: 1rem;
}
#changePassword form p{
  font-size:1rem;
}
#changePassword label{
    width: 35%;
  display: inline-block;
}

.circle
{
  width: 32%;
  height: 200px;
  border-radius: 50%;
  font-size: 1rem;
  color: white;
  /* line-height: 83px; */
  text-align: center;
  background: #666;
  display: inline-block;
  margin-top: 1rem;
}
.circleP{
    margin-top:5rem;
}
.category_figure{
    display:inline-block;
    margin:1rem;
}
.category_figurecaption{
    font-size: 1rem;
    text-align: center;
}
.category_imagethumbnails{
    height:96px;
    width:128px;
}
.profilePageZeroQuestions{
    text-align:center;
}
#id_categories{
  width: 125%;
  margin-left: 3rem;
}
#id_categories li{
  display:inline;
  width:45%;
}
span#cats{
  cursor:pointer;
  font-size:1rem;
}