{% extends "polls/common.html" %}
{% load static %}

		{% block extra_css %}
			<link rel="stylesheet" type="text/css" href="{% static 'login/css/public_profile.css' %}" />
			<link rel="stylesheet" type="text/css" href="{% static 'login/css/easy-responsive-tabs.css' %}" />
		{% endblock %}
		{% block extra_js %}
			<script src="{% static 'login/js/countryStateCityLoader.js' %}" ></script>
			<script type="text/javascript" src="{% static 'login/js/easy-responsive-tabs.js' %}"></script>
		{% endblock %}
		{% block content %}
		<section id="content">
		{% if context_user %}
			<div class="profileHeader clearfix">
				<div class="profilePicDiv clearfix">
					<img class="profilePic" src="{{ context_user.extendeduser.get_profile_pic_url }}" alt="User {{ context_user.first_name }}">
				</div>
				<div class="profileBrief clearfix">
					<ul class="profileBriefUl">
						<li>{{ context_user.first_name }} {{ context_user.last_name }}</li>
						<li>{{ context_user.extendeduser.profession }}</li>
						<li>{{ context_user.extendeduser.state }},{{ context_user.extendeduser.country }}</li>
						<li><i class="fa fa-rss"></i><li>
						<li><i class="fa fa-comment"></i></li>
						<li><i class="fa fa-flag"></i></li>
					</ul>
				</div>
				<div class="detailHeader">
						<h1>Recent Activity</h1>
				</div>
			</div>
			<div class="profileBody clearfix">
				<div class="profileStats">
					<ul class="profileStatsUl">
						<li><i class="fa fa-coins"></i> 900 Credits</li>
						<li><i class="fa fa-users"></i> 190 Connections</li>
						<li><i class="fa fa-question-circle"></i> {{ questions.count }} Polls</li>
						<li><i class="fa fa-check-circle"></i> {{ voted.count }} Votes</li>
						<li><i class="fa fa-comments"></i> 15 Comments</li>
						<li><i class="fa fa-th-large"></i>{{ categories|length }} Categories</li>
						<li><i class="fa fa-coin-bag"></i>12 Bets</li>
					</ul>
				</div>
				<div class="profileDetail">
					<ul class="profileDetailUl">
						<li>
							<div class="liDetail">
								<p class="main">Dave Das voted on Why would someone vote on this ? </p>
								<p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos</p>
							</div>
						</li>
						<li>
							<div class="liDetail">
								<p class="main">Dave Das voted on Another random question ? </p>
								<p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos</p>
							</div>
						</li>
						<li>
							<div class="liDetail">
								<p class="main">Dave Das voted on Why would someone vote on this ? </p>
								<p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos</p>
							</div>
						</li>
						<li>
							<div class="liDetail">
								<p class="main">Dave Das voted on Another random question ? </p>
								<p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos</p>
							</div>
						</li>
						<li>
							<div class="liDetail">
								<p class="main">Dave Das voted on Why would someone vote on this ? </p>
								<p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos</p>
							</div>
						</li>
						<li>See More</li>
					</ul>
				</div>
			</div>
		{% endif %}
		</section>
		{% endblock %}
