{% extends "polls/common.html" %}
{% load static %}
{% load activity_tags %}
		{% block extra_css %}
			<link rel="stylesheet" type="text/css" href="{% static 'login/css/public_profile.css' %}" />
			<link rel="stylesheet" type="text/css" href="{% static 'login/css/easy-responsive-tabs.css' %}" />
		{% endblock %}
		{% block extra_js %}
			<script src="{% static 'login/js/countryStateCityLoader.js' %}" ></script>
			<script type="text/javascript" src="{% static 'login/js/easy-responsive-tabs.js' %}"></script>
		{% endblock %}
		{% block content %}
		<section id="content">
		{% if context_user %}
			<div class="profileHeader clearfix">
				<div class="profilePicDiv clearfix">
					<img class="profilePic" src="{{ context_user.extendeduser.get_profile_pic_url }}" alt="User {{ context_user.first_name }}">
				</div>
				<div class="profileBrief clearfix">
					<ul class="profileBriefUl">
						<li>{{ context_user.first_name }} {{ context_user.last_name }}</li>
						<li>{{ context_user.extendeduser.profession }}</li>
						<li>{{ context_user.extendeduser.state }},{{ context_user.extendeduser.country }}</li>
						<li><form method="POST" id="follow_user_form" action="{% url 'login:follow' context_user.id context_user.extendeduser.user_slug %}" class="create-destroy" style="display:inline">
					            {% csrf_token %}
					            {% if followed %}
					                <input name="remove" type="hidden" value="1">
					                <i class="fa fa-rss" style="color:green;cursor:pointer" title="Unfollow"></i>
					            {% else %}
					            	<i class="fa fa-rss" style="cursor:pointer" title="Follow"></i>
					            {% endif %}
					            <input name="target" type="hidden" value="{{ context_user.id }}">
					            <input name="next" type="hidden" value="{{ request.path }}">
					        </form>
					    </li>
						<li><i class="fa fa-comment"></i></li>
						<li><i class="fa fa-flag"></i></li>
					</ul>
				</div>
				<div class="detailHeader">
						<h1>Recent Activity</h1>
				</div>
			</div>
			<div class="profileBody clearfix">
				<div class="profileStats">
					<ul class="profileStatsUl">
						<li><i class="fa fa-coins"></i> 900 Credits</li>
						<li><i class="fa fa-users"></i> 190 Connections</li>
						<li><i class="fa fa-question-circle"></i> {{ questions.count }} Polls</li>
						<li><i class="fa fa-check-circle"></i> {{ voted.count }} Votes</li>
						<li><i class="fa fa-comments"></i> 15 Comments</li>
						<li><i class="fa fa-th-large"></i>{{ categories|length }} Categories</li>
						<li><i class="fa fa-coin-bag"></i>12 Bets</li>
					</ul>
				</div>
				<div class="profileDetail">
					<ul class="profileDetailUl">
						{% for activity in activities %}
						<li>
							<div class="liDetail">
								<p class="main">
									{% if activity.verb == "question" %}
										{{ activity.actor.username }} asked <a href="{{ activity.question_url }}">{{ activity.question_text }} {{ activity.time|timesince }} ago
									{% else %}
										{{ activity.actor.username }} {{ activity.verb }} on <a href="{{ activity.question_url }}">{{ activity.question_text }} {{ activity.time|timesince }} ago
									{% endif %}
								</p>
    						<!--  render_activity activity -->
								<p class="desc">{{ activity.question_desc }}</p>
							</div>
						</li>
						{% endfor %}
						<li>See More</li>
					</ul>
				</div>
			</div>
			<script type="text/javascript">
				$(document).ready(function(){
					$(".fa-rss").click(function(){
						$("#follow_user_form").submit();
					});
				});
			</script>
		{% endif %}
		</section>
		{% endblock %}
