{% extends "polls/common.html" %}
{% load static %}
{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/askbypoll-for-business.css' %}" />
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,800,500,600' rel='stylesheet' type='text/css'>
{% endblock %}
{% block content %}
	<section id="content">
		<div class="product-section group">
			<div class="col span_1_of_4">
				<figure class="effect-julia">
					<img src="/static/polls/images/Mobility-Hospitality.png" alt="Hospitality"/>
					<figcaption>
						<h2>Enterprise</h2>
						<div class="details">
							<p>Customized Departmental Survey & Polls</p>
							<p>Customized NPS</p>
							<p>Advanced Employee Behavior Analytics</p>
						</div>
						<a href="{% url 'polls:abp_business_category' 'enterprise' %}">View more</a>
					</figcaption>			
				</figure>
			</div>
			<div class="col span_1_of_4">
				<figure class="effect-julia">
					<img src="/static/polls/images/Mobility-Hospitality.png" alt="Hospitality"/>
					<figcaption>
						<h2>Government</h2>
						<div class="details">
							<p>Online & Offline Program Impact Studies</p>
							<p>Manifesto Surveys</p>
							<p>Advanced Electoral Behavior Analytics</p>
						</div>
						<a href="#">View more</a>
					</figcaption>			
				</figure>
			</div>
			<div class="col span_1_of_4">
				<figure class="effect-julia">
					<img src="/static/polls/images/Mobility-Hospitality.png" alt="Hospitality"/>
					<figcaption>
						<h2>Startups</h2>
						<div class="details">
							<p>Idea Testing</p>
							<p>Market Validation Studies</p>
							<p>Advanced User Behavior Analytics</p>
						</div>
						<a href="#">View more</a>
					</figcaption>			
				</figure>
			</div>
			<div class="col span_1_of_4">
				<figure class="effect-julia">
					<img src="/static/polls/images/Mobility-Hospitality.png" alt="Hospitality"/>
					<figcaption>
						<h2>Research</h2>
						<div class="details">
							<p>Online Customized Research Surveys</p>
							<p>End to End Market Research</p>
							<p>Advanced Data Analytics</p>
						</div>
						<a href="#">View more</a>
					</figcaption>			
				</figure>
			</div>
		</div>
		<div class="product-section group">
			<div class="col span_1_of_4">
				<figure class="effect-julia">
					<img src="/static/polls/images/Mobility-Hospitality.png" alt="Hospitality"/>
					<figcaption>
						<h2>Social</h2>
						<div class="details">
							<p>Social Impact Score Studies</p>
							<p>Microsite & Social Campaigns</p>
							<p>Advanced Program Impact Analytics</p>
						</div>
						<a href="#">View more</a>
					</figcaption>			
				</figure>
			</div>
			<div class="col span_1_of_4">
				<figure class="effect-julia">
					<img src="/static/polls/images/Mobility-Hospitality.png" alt="Hospitality"/>
					<figcaption>
						<h2>ECommerce</h2>
						<div class="details">
							<p>Online Customized Feedback System</p>
							<p>Website, Email, & App Widgets</p>
							<p>Advanced User Behavior Analytics</p>
						</div>
						<a href="#">View more</a>
					</figcaption>			
				</figure>
			</div>
			<div class="col span_1_of_4">
				<figure class="effect-julia">
					<img src="/static/polls/images/Mobility-Hospitality.png" alt="Hospitality"/>
					<figcaption>
						<h2>Hospitality</h2>
						<div class="details">
							<p>Online Customized Feedback System</p>
							<p>Microsite & Responsive Designs</p>
							<p>Advanced Customer Behavior Analytics</p>
						</div>
						<a href="#">View more</a>
					</figcaption>			
				</figure>
			</div>
			<div class="col span_1_of_4">
				<figure class="effect-julia">
					<img src="/static/polls/images/Mobility-Hospitality.png" alt="Hospitality"/>
					<figcaption>
						<h2>Publishers</h2>
						<div class="details">
							<p>Website, Email, & App Widgets</p>
							<p>Engagement tools for Readers</p>
							<p>Advanced Reader Behavior Analytics</p>
						</div>
						<a href="#">View more</a>
					</figcaption>			
				</figure>
			</div>
		</div>
		<div class="product-section group">
			<div class="col span_1_of_4">
				<figure class="effect-julia">
					<img src="/static/polls/images/Mobility-Hospitality.png" alt="Hospitality"/>
					<figcaption>
						<h2>Healthcare</h2>
						<div class="details">
							<p>Online Customized Pharma Surveys</p>
							<p>Qualitative, MR Studies</p>
							<p>Advanced Customer Analytics</p>
						</div>
						<a href="#">View more</a>
					</figcaption>			
				</figure>
			</div>
			<div class="col span_1_of_4">
				<figure class="effect-julia">
					<img src="/static/polls/images/Mobility-Hospitality.png" alt="Hospitality"/>
					<figcaption>
						<h2>Training</h2>
						<div class="details">
							<p>Online Training and Feedback System</p>
							<p>Microsite & Responsive Designs</p>
							<p>Advanced Student Behavior Analytics</p>
						</div>
						<a href="#">View more</a>
					</figcaption>			
				</figure>
			</div>
			<div class="col span_1_of_4">
				<figure class="effect-julia">
					<img src="/static/polls/images/Mobility-Hospitality.png" alt="Hospitality"/>
					<figcaption>
						<h2>Banking</h2>
						<div class="details">
							<p>Online Customized Feedback System</p>
							<p>NPS Scores, Employee Surveys</p>
							<p>Advanced Customer Behavior Analytics</p>
						</div>
						<a href="#">View more</a>
					</figcaption>			
				</figure>
			</div>
			<div class="col span_1_of_4">
				<figure class="effect-julia">
					<img src="/static/polls/images/Mobility-Hospitality.png" alt="Hospitality"/>
					<figcaption>
						<h2>Others</h2>
						<div class="details">
							<p>Qualitative Interviews and Analysis</p>
							<p>Sampling and Data Collection</p>
							<p>Regression Analysis, Corelation Matrix</p>
						</div>
						<a href="#">View more</a>
					</figcaption>			
				</figure>
			</div>
		</div>
	</section>
{% endblock %}