{% extends "polls/common.html" %}
{% load static %}
{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/index.css' %}" />
{% endblock %}
{% block content %}
	<section id="myCategories">
      <h2><a href="#myCategories">Categories</a></h2>
      <div>
    	{% for category in categories %}
    		<figure class="category_figure">
				<img class="category_imagethumbnails" src="{{ category.category_image }}" alt="{{ category.category_title }}">
				<figcaption class="category_figurecaption">{{ category.category_title }}</figcaption>
			</figure>
    	{% endfor %}
	</div>
  </section>
{% endblock %}