<!DOCTYPE HTML>
<html itemscope itemtype="http://schema.org/Review">
    <head>
		{% load staticfiles %}
		<title>A Social Info Polling Platform</title>
		<meta itemprop="name" content="AskByPoll">
		<meta itemprop="description" content="A Socio-Info-Polling platform providing users an interactive social tool to gather the public opinion on any question they have in a fun filled way.">
		<meta itemprop="image" content="https://{{ request.META.HTTP_HOST }}/static/pollsLogo.png">
		<meta charset="UTF-8" name="viewport" content="width=device-width, intial-scale=1.0">
		<meta property="og:type" content="article"/>
		{% block meta_data_extra %}
		{% endblock %}
		<link rel="stylesheet" type="text/css" href="{% static 'polls/css/jquery.countdown.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'polls/css/common.css' %}" />
		<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
		<link rel="icon" type="image/png" href="{% static 'favicon-32x32.png' %}" sizes="32x32" />
		<link rel="icon" type="image/png" href="{% static 'favicon-16x16.png' %}" sizes="16x16" />
		<!-- <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'> -->
		<!-- <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'> -->
		<link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
		{% block extra_css %}{% endblock %}
		<script src="https://code.jquery.com/jquery.min.js" ></script>
		<script src="{% static 'js/scriptIE.js' %}" ></script>
		<script src="{% static 'js/chardinjs.min.js' %}" ></script>
		<script src="{% static 'js/script.js' %}" ></script>
		<script src="https://apis.google.com/js/platform.js" ></script>
		<script src="{% static 'login/js/countryStateCityLoader.js' %}" ></script>
		<script type='text/javascript' src="{% static 'js/jquery.plugin.js' %}"></script>
		<script type='text/javascript' src="{% static 'js/jquery.countdown.js' %}"></script>
		{% block extra_js %}{% endblock %}
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-63891584-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</head>
	<body>
		<div id="wrapper">
			<section id="header">
				<div id="headerContent">
					<div class="logo">
						<a href="{% url 'polls:index' %}"><img src="{% static 'pollsLogo.png' %}" alt="myPolls" /></a>
						{% if user.is_authenticated %}
							<img class ="menuResponsive" src="/static/login/images/menu.png"  alt="Menu">
						{% endif %}
					</div>
					<div class="menu" data-intro="Navigate easily using these links...Go to Home page or create a poll by going to the ASK page or have a look on the Featured ones." data-position="left">
						<ul class="menu-nav">
							<li><a class="menuanchor" href="{% url 'polls:index' %}">Home</a></li>
							<li><a class="menuanchor" href="{% url 'polls:polls_create' %}">Ask</a></li>
							<li><a class="menuanchor" href="{% url 'polls:polls_category' %}">Category</a></li>
							<li class="location_select" style="cursor:pointer"><a class="menuanchor">{{ request.COOKIES.location|default:"global"|capfirst }}</a>
								<div class="dropDownLoc">
									<ul class="dropDownUL">
										{% if request.GET.urlencode %}
										<li><a href="{{ request.path }}?{{ request.GET.urlencode }}" class="location_link">Global</a></li>
										<li><a href="{{ request.path }}?{{ request.GET.urlencode }}" class="location_link">Asia</a></li>
										<li><a href="{{ request.path }}?{{ request.GET.urlencode }}" class="location_link">Europe</a></li>
										<li><a href="{{ request.path }}?{{ request.GET.urlencode }}" class="location_link">Australia</a></li>
										<li><a href="{{ request.path }}?{{ request.GET.urlencode }}" class="location_link">America</a></li>
										<li><a href="{{ request.path }}?{{ request.GET.urlencode }}" class="location_link">Africa</a></li>
										{% else %}
										<li><a href="{{ request.path }}" class="location_link">Global</a></li>
										<li><a href="{{ request.path }}" class="location_link">Asia</a></li>
										<li><a href="{{ request.path }}" class="location_link">Europe</a></li>
										<li><a href="{{ request.path }}" class="location_link">Australia</a></li>
										<li><a href="{{ request.path }}" class="location_link">America</a></li>
										<li><a href="{{ request.path }}" class="location_link">Africa</a></li>
										{% endif %}
									</ul>
								</div>
							</li>
							<li><a class="menuanchor" href="{% url 'polls:featured' %}">Featured</a></li>
					{% if user.is_authenticated %}
							<li><a class="menuanchor" href="{% url 'polls:mypolls' user.id user.extendeduser.user_slug %}" data-intro="Type in your query and we will get you your results" data-position="bottom">MyPolls</a></li>
					{% else %}
						{% if request.GET.urlencode %}
							<li><a class="menuanchor" href="{% url 'account_login' %}?next={{ request.path }}?{{ request.GET.urlencode }}">Login</a></li>
						{% else %}
							<li><a class="menuanchor" href="{% url 'account_login' %}?next={{ request.path }}">Login</a></li>
						{% endif %}
					{% endif %}
							<li><div class="search">
									<form method="get" action="/search" class="autocomplete-me">
							            <input type="search" id="q" class="searchBox" name="q" placeholder="Search Opinions">
							            <input type="submit" value="Search!" style="display:none">
							        </form>
								</div>
							</li>
					{% if user.is_authenticated %}
							<li class="userInNav">
								<img src="{{ user.extendeduser.get_profile_pic_url }}"  alt="User {{ user.first_name }}">
							</li>
					{% endif %}
						</ul>
					{% if user.is_authenticated %}
							<div class="dropDownBox">
								<ul class="dropDownUL">
									<li><a href="{% url 'login:loggedIn' user.id user.extendeduser.user_slug %}">Profile</a></li>
									<li><a href="{% url 'login:logout' %}">Log Out</a></li>
								</ul>
							</div>
					{% endif %}
					</div>
				</div>
				<div id="overlay-inAbox" class="overlay">
					<div class="wrapper">
						<p class="overlaytext">Please select a Choice!!</p>
						<button id = "okay" class="push_button">Okay</button>
					</div>
				</div>
				<div id="overlay-inAbox2" class="overlay">
					<div class="wrapper">
						<p class="overlaytext">Please select a Choice!!</p>
						<button id = "yes" class="push_button">Yes</button>
						<button id = "no" class="push_button">No</button>
					</div>
				</div>
			</section>
			{% if signup_part_form or data.signup_part_form %}
			<script type="text/javascript">
			$(document).ready(function(){
				openOverlay("#overlay-inAbox3");
				$('.submit').bind('click', function()
				{
					var elemid = "#part_signup_form";//$(this)[0].id
					post_url = $(elemid).attr('action');
					$(elemid).bind('submit', function()
					{
						$.ajax(
						{
							type: 'POST',
							url:post_url,
							data:$(elemid).serialize(),
							success:function(response)
							{
								var form_errors = response.form_errors;
							
								if(typeof form_errors === 'undefined'){
									closeOverlay("#overlay-inAbox");
								}
							}
						});     
						return false;
					});
				});
			});
			</script>
			{% endif %}
			<div id="overlay-inAbox3" class="overlay">
				<div class="wrapper">
					<p class="overlaytext">Please complete your profile</p>
					<form class="signupContentPartForm" id="part_signup_form" method="post" action="{% url 'login:edit_profile' %}" enctype="multipart/form-data">
					  {% csrf_token %}
					  {{ signup_part_form.as_p }}
					  {{ data.signup_part_form.as_p }}
					  {% if redirect_field_value %}
					  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
					  {% endif %}
					  <button type="submit" class="submit" id="signupPartButton">Save</button>
					</form>
				</div>
			</div>
			{% block content %}
			{% endblock %}
			<section id="footer">
				<div id="footerContent">	
					<div class="menu">
						<ul class="menu-nav">
							<li>Facebook</li>
							<li>Twitter</l1>
							<li>Google Plus</li>
						</ul>
					</div>
					<div class="menuF">
						<ul class="menuF-nav">
							<li class="first"><a href="#">Facebook</a></li>
							<li class="first"><a href="#">Twitter</a></li>
							<li class="first"><a href="#">Google</a></li><br>
							<li><a href="{% url 'polls:index' %}">Home</a></li>
							<li><a href="{% url 'polls:polls_create' %}">Ask</a></l1>
							<li><a href="{% url 'polls:featured' %}">Featured</a></li>
							<li><a href="/static/AskByPollTermsofUse.docx" target="_blank">Terms of Use</a>
							<li><a href="/static/ASKBYPOLLPrivacyPolicies.docx" target="_blank">Privacy</a></li>
							<li><a class="helpChardin" href="#">Help</a></li>
							<li><a href="mailto:support@askbypoll.com?Subject=Hello" target="_top">Write To Us</a></li>
						</ul>
					</div>
				</div> 
			</section>
			<div id="fb-root"></div>
				<script>
					(function(d, s, id) 
					{
		  				var js, fjs = d.getElementsByTagName(s)[0];
		  				if (d.getElementById(id)) return;
		  				js = d.createElement(s); js.id = id;
		  				js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=1573017902971015";
		  				fjs.parentNode.insertBefore(js, fjs);
					}
					(document, 'script', 'facebook-jssdk'));

					!function(d,s,id)
					{
						var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
						if(!d.getElementById(id))
						{
							js=d.createElement(s);
							js.id=id;
							js.src=p+'://platform.twitter.com/widgets.js';
							fjs.parentNode.insertBefore(js,fjs);
						}
					}(document, 'script', 'twitter-wjs');
				</script>
		</div>
	</body>
</html>
