
{% extends "polls/common.html" %}
	{% load static %}
	{% block extra_css %}
		<link rel="stylesheet" type="text/css" href="{% static 'polls/css/createPoll.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'polls/css/jquery-ui.css' %}" />
	{% endblock %}
	{% block extra_js %}
		<script src="{% static 'js/jquery.js' %}"></script>
		<script src="{% static 'js/jquery-ui.js' %}"></script>
		<script src="{% static 'js/jquery.autocomplete.multiselect.js' %}"></script>
	{% endblock %}
	{% block content %}
		<section id="createPoll">
			<div class="createPoll">
				<div class="createPollContent">
				<form class="createPollContentForm" method="POST" action="{% url 'polls:polls_create' %}"  enctype="multipart/form-data">
					{% csrf_token %}
					<p>
						<label for="qText">Question</label>
						<textarea id ="qText" name="qText" placeholder="Ask the people"></textarea>
					</p>
					<p>
						<label for="qDesc">Description</label>
						<textarea id ="qDesc" name="qDesc" placeholder="Description"></textarea>
					</p>
					<p>
						<label for="qExpiry">Expires On</label>
						<input id="qExpiry" type="date" name="qExpiry">
					</p>
					<p>
						<label for="choice1">Choice 1</label>
						<input id="choice1" type="text" name="choice1" placeholder="First Choice">
						<input id="choice1" class="fileButtonClass" type="file" name="choice1" accept="image/*">
					</p>
					<p>
						<label for="choice2">Choice 2</label>
						<input id="choice2" type="text" name="choice2" placeholder="Second Choice">
						<input id="choice2" class="fileButtonClass" type="file" name="choice2" accept="image/*">
					</p>
					<p>
						<label for="choice3">Choice 3</label>
						<input id="choice3" type="text" name="choice3" placeholder="Third Choice">
						<input id="choice3" class="fileButtonClass" type="file" name="choice3" accept="image/*">
					</p>
					<p>
						<label for="choice4">Choice 4</label>
						<input id="choice4" type="text" name="choice4" placeholder="Fourth Choice">
						<input id="choice4" class="fileButtonClass" type="file" name="choice4" accept="image/*">
					</p>
					<p>
						<label for="categories">Category</label>
						<input id="categories" type="text" name="categories">
						<input id="selectedCategories" type="hidden" name="selectedCategories" value="">
					</p>
					<p class="anonymous">
						<input id="anonymous" name="anonymous" type="checkbox">
						<label for="anonymous">Ask as Anonymous</label>
					</p>
					<p>
					<input id="submit" type="submit" value="Create" />
					</p>
				</form>
				</div>
			</div>
		</section>
		<script>
		var availableTags = []
			{% for categories in data %}
				availableTags.push("{{ categories.category_title }}");
			{% endfor %}
			console.log(availableTags);
			$( "#categories" ).autocomplete({
				source: availableTags,
				multiselect: true,
				maxselection: 5
			});
		</script>
	{% endblock %}
	<!-- </body>
	
</html> -->
