{% extends "polls/common.html" %}
	{% load static %}
	{% block extra_css %}
		<link rel="stylesheet" type="text/css" href="{% static 'polls/css/createPoll.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'polls/css/jquery-ui.css' %}" />
	{% endblock %}
	{% block extra_js %}
		<script src="{% static 'js/jquery.js' %}" async defer></script>
		<script src="{% static 'js/jquery-ui.js' %}" async defer></script>
		<script src="{% static 'js/jquery.autocomplete.multiselect.js' %}" async defer></script>
	{% endblock %}
	{% block content %}
		<section id="createPoll">
			<div class="createPoll">
				<div class="createPollContent">
				<form id="createPollForm" class="createPollContentForm autocomplete-me" method="POST" action="{% url 'polls:polls_create' %}"  enctype="multipart/form-data">
					{% csrf_token %}
					<p>
						<label for="qText">Question</label>
						<textarea id ="qText" name="qText" placeholder="Ask the people" maxlength="200"></textarea>
					</p>
						 <script type="text/javascript">
				            // In a perfect world, this would be its own library file that got included
				            // on the page and only the ``$(document).ready(...)`` below would be present.
				            // But this is just the first version.
				            var Autocomplete = function(options) {
				              this.form_selector = options.form_selector;
				              this.url = options.url || '/polls/autocomplete';
				              this.delay = parseInt(options.delay || 300);
				              this.minimum_length = parseInt(options.minimum_length || 3);
				              this.form_elem = null;
				              this.query_box = null;
				            }

				            Autocomplete.prototype.setup = function() {
				              var self = this;

				              this.form_elem = $(this.form_selector);
				              this.query_box = $("#qText");//this.form_elem.find('input[name=qText]');
				              // Watch the input box.
				              this.query_box.on('keyup', function() {
				                var query = self.query_box.val();
				                if(query.length < self.minimum_length) {
				                  $('.ac-results').remove();
				                  return false;
				                }

				                self.fetch(query);
				              })

				              // On selecting a result, populate the search field.
				              this.form_elem.on('click', '.ac-result', function(ev) {
				                self.query_box.val($(this).text());
				                $('.ac-results').remove();
				                return false;
				              })
				            }

				            Autocomplete.prototype.fetch = function(query) {
				              var self = this;
				              
				              $.ajax({
				                url: this.url
				              , data: {
				                  'qText': query
				                }
				              , success: function(data) {
				                  self.show_results(data);
				                }
				              })
				            }

				            Autocomplete.prototype.show_results = function(data) {
				              // Remove any existing results.
				              $('.ac-results').remove();

				              var results = data.results || [];
				              var results_wrapper = $('<div class="ac-results">Are you sure this has not been asked before?<br/><br/></div>');
				              

				              if(results.length > 0) {
				                for(var res_offset in results) {
				                  var base_elem_text = '<div class="result-wrapper">';
					              base_elem_text += '<a href="/polls/'+ results[res_offset][1]+"/"+ results[res_offset][2];
					              base_elem_text += '" class="ac-result"></a></div>'
					              var elem = $(base_elem_text);
				                  elem.find('.ac-result').text(results[res_offset][0]);
				                  results_wrapper.append(elem);
				                }
				              }
				              else {
				                var elem = base_elem.clone();
				                elem.text("No results found.");
				                results_wrapper.append(elem);
				              }

				              this.query_box.after(results_wrapper);
				            }

				            $(document).ready(function() {
				              window.autocomplete = new Autocomplete({
				                form_selector: '.autocomplete-me'
				              })
				              window.autocomplete.setup();
				            })
				        </script>
					<p>
						<label for="qDesc">Description</label>
						<textarea id ="qDesc" name="qDesc" placeholder="Description" maxlength="400"></textarea>
					</p>
					<p>
						<label for="qExpiry">Expires On</label>
						<input id="qExpiry" type="date" name="qExpiry">
					</p>
					<p>
						<label for="choice1">Choice 1</label>
						<input id="choice1" class="createPollText" type="text" name="choice1" placeholder="First Choice" maxlength="200">
						<input id="choice1" class="fileButtonClass" type="file" name="choice1" accept="image/*">
					</p>
					<p>
						<label for="choice2">Choice 2</label>
						<input id="choice2" class="createPollText" type="text" name="choice2" placeholder="Second Choice" maxlength="200">
						<input id="choice2" class="fileButtonClass" type="file" name="choice2" accept="image/*">
					</p>
					<p>
						<label for="choice3">Choice 3</label>
						<input id="choice3" class="createPollText" type="text" name="choice3" placeholder="Third Choice" maxlength="200">
						<input id="choice3" class="fileButtonClass" type="file" name="choice3" accept="image/*">
					</p>
					<p>
						<label for="choice4">Choice 4</label>
						<input id="choice4" class="createPollText" type="text" name="choice4" placeholder="Fourth Choice" maxlength="200">
						<input id="choice4" class="fileButtonClass" type="file" name="choice4" accept="image/*">
					</p>
					<p>
						<label for="categories">Category</label>
						<input id="categories" type="text" name="categories">
						<input id="selectedCategories" type="hidden" name="selectedCategories" value="">
					</p>
					<p class="anonymous">
						<input id="anonymous" name="anonymous" type="checkbox">
						<label for="anonymous">Ask as Anonymous</label>
					</p>
					<input class="submit" type="submit" value="Create" />
				</form>
				</div>
			</div>
		</section>
		<script>
		var availableTags = []
			{% for categories in data %}
				availableTags.push("{{ categories.category_title }}");
			{% endfor %}
			$( "#categories" ).autocomplete({
				source: availableTags,
				multiselect: true,
				maxselection: 5
			});
		$(document).ready(function()
		{
			$('.submit').bind('click', function()
			{
				//console.log("click called..........");
				var elemid = "#createPollForm";//$(this)[0].id
				//console.log($(elemid)); 
				var form_data = new FormData($(elemid)[0]);
				$(elemid).bind('submit', function()
				{
					//console.log("submit called....");
					var create_url = "http://{{ request.META.HTTP_HOST }}/createpoll?ajax=1";
					{% if user.is_authenticated %}
					//console.log("call ajax");
						$.ajax(
						{
							type: 'POST',
							url:create_url,
							data:form_data,
							processData: false,
							contentType: false,
							success:function(response)
							{
								var que_error = response.qTextError;
								var choice_error = response.choiceError;
								var dup_choice = response.duplicateChoice;
								var dup_image = response.duplicateImage;
								if(typeof que_error === 'undefined' && typeof choice_error === 'undefined' && typeof dup_choice === 'undefined' && typeof dup_image === 'undefined'){
									 $(elemid).unbind('submit').submit();
								}else{
									if(typeof que_error === 'undefined')
		                        	 	que_error = "";
		                        	if(typeof choice_error === 'undefined')
		                        	 	choice_error = "";
		                        	if(typeof dup_choice === 'undefined')
		                        	 	dup_choice = "";
		                        	if(typeof dup_image === 'undefined')
		                        	 	dup_image = "";
									$(".errorlist").remove();
			                        $("#qText").parent().children().first().append('<span class="errorlist"><br>'+que_error+'</span><span class="errorlist"><br>'+dup_choice+'</span><span class="errorlist"><br>'+dup_image+'</span>');
			                        $("#choice1").parent().children().first().append('<span class="errorlist"><br>'+choice_error+'</span>');
			                        $("#choice2").parent().children().first().append('<span class="errorlist"><br>'+choice_error+'</span>');
								}
							}
						});
					{% else %}
						//url = "http://{{ request.META.HTTP_HOST }}"+'/vote/'+queid+'/'+queslug
						//console.log(vote_url);
						$(location).attr('href',create_url);
					{% endif %}
					return false;
				});
			});
		});
		</script>
	{% endblock %}

