{% extends "polls/common.html" %}
{% load static %}
{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/askbypoll-products.css' %}" />
{% endblock %}
{% block content %}
	<section id="content">
		<div class="group">
		    <div class="left">
		        <h1 class="product-heading">Enterprise Solutions</h1>
		        <ul class="product-feature">
		        	<li class="features"> Gather valuable data from customer feedback to product research </li>
		        	<li class="features"> Use advanced analytics to turn your data into smarter business decisions </li>
		        	<li class="features"> Create sophisticated surveys in minutes </li>
		        	<li class="features"> Customised NPS Study, In-person Interviews and Analysis </li>
		        	<li class="features"> Own your organization’s data regardless of personnel changes </li>
		        	<li class="features"> Easily manage multiple users—allow single sign on through your network </li>
		        	<li class="features"> Protect data with advanced SSL security and HIPAA-compliant features </li>
		        	<li class="features"> Gain access to millions of respondents with AskByPoll Audience </li>
		        	<li class="features"> Innovative Employee Interaction and Engagement Mechanisms </li>
		        	<li class="features"> Customised Website and Email Widgets </li>
		        	<li class="features"> Easily manage multiple users—allow single sign on through your network </li>
		        	<li class="features"> Protect data with advanced SSL security and HIPAA-compliant features </li>
		        	<li class="features"> Gain access to millions of respondents with AskByPoll Audience </li>
		        	<li class="features"> Innovative Employee Interaction and Engagement Mechanisms </li>
		        	<li class="features"> Customised Website and Email Widgets </li>
		        	<li class="features"> Get expert advice and 24/7 support any time you need </li>
		        </ul>
				<a href="mailto:someone@example.com?Subject=Hello%20again" target="_top" class="button">Schedule Free Demo</a>
		    </div>
		    <div class="right">
		        <img src="/static/polls/images/enterprise.png" alt="Enterprise Solutions" />
		    </div>
		</div>
	</section>
{% endblock %}