<!DOCTYPE HTML>
<html>
    <head>
		{% load staticfiles %}
		{% load disqus_tags %}
		{% disqus_show_comments %}
		{% set_disqus_url object.get_absolute_url %} 
		<meta charset="UTF-8" name="viewport" content="width=device-width, intial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}" />
		<script src="http://code.jquery.com/jquery.min.js"></script>
		<script src="{% static 'js/scriptIE.js' %}"></script>
		<script src="{% static 'js/script.js' %}"></script>
		{% block extra_css %}{% endblock %}
		{% block extra_js %}{% endblock %}
	</head>
	<body>
		{% if user.is_authenticated %}
		<section id="header">
			<div class="logo">
				<img src="{% static 'pollsLogo.png' %}" alt="myPolls" />
			</div>
			<div class="menu">
				<ul class="menu-nav">
					<li><a href="#">Home</a></li>
					<li><a href="#">Trending</a></l1>
					<li><a href="#">Featured</a></li>
					<li><a href="#">MyPolls</a></li>
					<li><div class="search">
							<input type="search" class="searchBox" name="searchQuery" placeholder="Search Opinions">
						</div>
					</li>
					<li class="userInNav"><a href="#"><img src="{{ user.extendeduser.imageUrl }}" alt="User {{ user.first_name }}"></a></li>
				</ul>
			</div>
		</section>
		{% else %}
		<section id="header">
			<div class="logo">
				<img src="{% static 'pollsLogo.png' %}" alt="myPolls" />
			</div>
			<div class="menu">
				<ul class="menu-nav">
					<li><a href="#">Home</a></li>
					<li><a href="#">Trending</a></li>
					<li><a href="#">Featured</a></li>
					<li><a href="{% url 'account_login' %}">Login</a></li>
					<li><div class="search">
							<input type="search" class="searchBox" name="searchQuery" placeholder="Search Opinions">
						</div>
					</li>
				</ul>
			</div>
		</section>
		{% endif %}
		{% block content %}
		{% endblock %}
	</body>
</html>