{% extends "polls/common.html" %}
{% load static %}
{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/index.css' %}" />
{% endblock %}
{% block content %}
	<section id="content">
			{% if data %}
					{% for question in data %}
					<div class="questions">
						<div class="questionContent">
							<div class="userInfo">
								<div class="userImage">
									{% if question.question.user.socialaccount_set.all %}
									  {% if question.question.user.extendeduser.imageUrl %}
										<img src="{{ question.question.user.extendeduser.imageUrl }}" alt="User {{ question.question.user.first_name }}">
									  {% endif %}
									{% else %}
									  {% if question.question.user.extendeduser.imageUrl %}
										<img src="/media/profile/{{ question.question.user.extendeduser.get_profile_pic_name }}" alt="User {{ question.question.user.first_name }}">
									  {% else %}
										<img src="/static/login/images/defaultAvatar.png"  alt="User {{ user.first_name }}">
									  {% endif %}
									{% endif %}
									<!-- <img src="{{question.question.user.extendeduser.imageurl}}" alt="{{question.question.user.first_name}}"> -->
								</div>
								<div class="userBrief">
									<p>{{question.question.user.first_name}}</p>
								</div>
							</div> 
							<div class="mainPoll">
								<p><a href="#">{{question.question.question_text}}</a></p>
								<form class="optionsForm" action="{% url 'polls:polls_vote' %}" method="POST">
									{% csrf_token %}
									{% for choice in question.question.choice_set.all %}
										<p>
											<input type="hidden" name="question" value="{{ question.question.id }}" />
											<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" checked="checked"/>
											<label for="choice{{ forloop.counter }}">
											{% if choice.choice_image %}
												<img class="choice_image" src="/media/choices/{{ choice.get_file_name }}" alt="{{ choice.choice_text }}"><br>
											{% endif %}
											{{choice.choice_text}}
											</label>
										</p>
									{% endfor %}
									<input id="submit" type="submit" value="Vote" />
								</form>
								<div class="pollInfo clearfix">
									<ul class="pollInfoUl clearfix">
										<li class="firstInfo">{{question.votes}} opinion{{question.votes|pluralize}}</li>
										<li>{{question.subscribers}} interested</li>
										<li class="thirdInfo">10 credits on offer</li>
										<li class="lastInfo">Mail it</li>
									</ul>
								</div>
							</div>
						</div>
						<div id="disqus_thread"></div>  
<!-- <script type="text/javascript">
/* * * CONFIGURATION VARIABLES * * */
var disqus_shortname = 'askpopulo';

/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript> -->
					</div>
					{% endfor %}
			{% else %}
					<p>No polls are available</p>
			{% endif %}
		<!-- </div> -->
		
	</section>
{% endblock %}