{% extends "polls/common.html" %}
{% load static %}
{% block extra_css %}
{% endblock %}
{% block content %}
	<div id="content-block">
		{% if not user.is_authenticated %}
			<div class="head-bg">
				<div class="head-bg-img"></div>
				<div class="head-bg-content">
					<h1>Social Polling Was Never This <ul id="ticker">
						<li class="blue">
					        Informative!
					    </li>
					    <li class="green">
					        Engaging!
					    </li>
					    <li class="yellow">
					        Personalised!
					    </li>
					    <li class="red">
					        Rewarding!
					    </li>
					</ul></h1>
					<p>Polls. Votes. Comments. Particles. Trivia. Predictions. Gift Vouchers.</p>
					<a class="btn color-1 size-1 hover-1" href="#"><i class="fa fa-facebook"></i>Log in via facebook</a>
					<a class="be-register btn color-3 size-1 hover-6"><i class="fa fa-lock"></i>Sign up now</a>
				</div>	
			</div>
		{% endif %}
		<div class="container-fluid custom-container">
			<div class="row">
				<div class="col-md-2 left-feild">
					<form action="./" class="input-search">
						<input type="text" required placeholder="Enter keyword">
							<i class="fa fa-search"></i>
							<input type="submit" value="">
					</form>				
				</div>
				<div class="col-md-10 ">
					<div class="for-be-dropdowns">
						<div class="be-drop-down">
							<i class="icon-creative"></i>
							<span class="be-dropdown-content">All Creative Fields
							</span>
							<ul class="drop-down-list">
								<li class="filter" data-filter=".category-4"><a>Polls</a></li>
								<li class="filter" data-filter=".category-5"><a>pArticles</a></li>
								<li class="filter" data-filter=".category-1"><a>Trivia</a></li>
							</ul>
						</div>
						<div class="be-drop-down">
							<i class="icon-features"></i>
							<span class="be-dropdown-content">Features
							</span>
							<ul class="drop-down-list">
								<li class="filter" data-filter=".category-2"><a>Featured</a></li>
								<li class="filter" data-filter=".category-3"><a>Most Voted</a></li>
								<li class="filter" data-filter=".category-4"><a>Least Voted</a></li>
								<li class="filter" data-filter=".category-5"><a>Most Discussed</a></li>
								<li class="filter" data-filter=".category-1"><a>Most Recent</a></li>
							</ul>
						</div>
						<div class="be-drop-down">
							<i class="icon-worldwide"></i>
							<span class="be-dropdown-content">Worldwide
							</span>
							<ul class="drop-down-list">
								<li class="filter" data-filter=".category-2"><a>WorldWide</a></li>
								<li class="filter" data-filter=".category-3"><a>Asia</a></li>
								<li class="filter" data-filter=".category-4"><a>Americas</a></li>
								<li class="filter" data-filter=".category-5"><a>Europe</a></li>
								<li class="filter" data-filter=".category-1"><a>Australia</a></li>
								<li class="filter" data-filter=".category-6"><a>Africa</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid custom-container">
			<div class="row">
				<div class="col-md-2 left-feild">
					<div class="be-vidget">
						<h3 class="letf-menu-article">
							Popular Categories
						</h3>
						<div class="creative_filds_block">
							<div class="ul">
								<a  data-filter=".category-1" class="filter">Graphic Design		</a>
								<a data-filter=".category-2" class="filter">Photography			</a>
								<a data-filter=".category-3" class="filter">Interaction Design	</a>
								<a data-filter=".category-4" class="filter">Art Direction		</a>
								<a data-filter=".category-5" class="filter">Illustration		</a>
								<a  data-filter=".category-1" class="filter">Graphic Design		</a>
								<a data-filter=".category-2" class="filter">Photography			</a>
								<a data-filter=".category-3" class="filter">Interaction Design	</a>
								<a data-filter=".category-4" class="filter">Art Direction		</a>
								<a data-filter=".category-5" class="filter">Illustration		</a>
							</div>
						</div>
					</div>
					<div class="be-vidget">
						<h3 class="letf-menu-article">
							Filter By
						</h3>
						<div class="filter-block">
							<ul>
								<li><a><i class="fa fa-wrench"></i>Categories</a>
									<div class="be-popup">
										<h3 class="letf-menu-article">
											Category
										</h3>
										<form action="./" class="input-search">
											<input class="filters-input" type="text" required placeholder="Start typing to see list">
										</form>
										<i class="fa fa-times"></i>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-10">
					{% if data %}
						<div id="container-mix"  class="row _post-container_">
							{% for question in data.data %}
								<div class="category-1 mix custom-column-5">
									<div class="be-post" id="question---{{ question.question.id }}">
										<a href="{% url 'polls:polls_vote' question.question.id question.question.que_slug %}" class="be-img-block">
											{% if question.question.featured_image %}
												<img src="{{ question.question.get_featured_image_url }}" alt="{{question.question.question_text}}">
											{% else %}
												<img src="{% static 'images/defaultBG.jpg' %}" alt="{{question.question.question_text}}">
											{% endif %}
										</a>
										<a href="{% url 'polls:polls_vote' question.question.id question.question.que_slug %}" class="be-post-title">T{{question.question.question_text}}</a>
										<span>
											{% for cat in question.questionwithcategory_set.all %}
												<a href="{% url 'polls:polls_category' %}?category={{ cat.category.category_title }}" class="be-post-tag">{{ cat.category.category_title }} </a>
											{% endfor %}
										</span>
										<div class="author-post">
											<img src="{{ question.get_user_details.pic_url }}" alt="SomeUser" class="ava-author">
											<span>by <a href="{{ question.get_user_details.user_url }}">{{ question.get_user_details.user_name }}</a></span>
											{% if question.user_already_voted %}
												<a class="btn color-1 vote-btn-redirect" href="{% url 'polls:polls_vote' question.question.id question.question.que_slug %}" target="_blank">Results</a>
											{% else %}
												{% if question.expired %}
													<a class="btn color-1 vote-btn-redirect" href="{% url 'polls:polls_vote' question.question.id question.question.que_slug %}" target="_blank">Timed Out</a>
												{% else %}
													<a class="btn color-1 vote-btn-redirect" href="{% url 'polls:polls_vote' question.question.id question.question.que_slug %}" target="_blank">Vote</a>
												{% endif %}
											{% endif %}
										</div>
										<div class="info-block">
											<span><i class="fa fa-check"></i> {{ question.votes }}</span>
											<span><i class="fa fa-thumbs-o-up"></i> {{ question.upvoteCount }}</span>
											<span><i class="fa fa-user"></i> {{ question.subscribers }}</span>
											<span><i class="fa fa-eye"></i> {{ question.numViews }}</span>
										</div>
									</div>
								</div>
							{% endfor %}
							<div class="category-2 mix custom-column-5">
								<div class="be-post">
									<a href="#" class="be-img-block">
										<img src="{% static 'images/f2.jpg' %}" alt="SomeName">
									</a>
									<a href="#" class="be-post-title">The kitsch destruction of our world</a>
									<span>
										<a href="#" class="be-post-tag">Category 1</a>,
										<a href="#" class="be-post-tag">Category 2</a>,
										<a href="#" class="be-post-tag">Category 3</a>
									</span>
									<div class="author-post">
										<img src="{% static 'images/f9.jpg' %}" alt="SomeUser" class="ava-author">
										<span>by <a href="#">Kewal Krishna</a></span>
									</div>
									<div class="info-block">
										<span><i class="fa fa-thumbs-o-up"></i> 360</span>
										<span><i class="fa fa-eye"></i> 789</span>
										<span><i class="fa fa-comment-o"></i> 20</span>
									</div>
								</div>
							</div>
							<div class="category-3 mix custom-column-5">
								<div class="be-post">
									<a href="#" class="be-img-block">
										<img src="{% static 'images/f6.jpg' %}" alt="SomeName">
									</a>
									<a href="#" class="be-post-title">The kitsch destruction of our world</a>
									<span>
										<a href="#" class="be-post-tag">Category 1</a>,
										<a href="#" class="be-post-tag">Category 2</a>,
										<a href="#" class="be-post-tag">Category 3</a>
									</span>
									<div class="author-post">
										<img src="{% static 'images/f9.jpg' %}" alt="SomeUser" class="ava-author">
										<span>by <a href="#">Kewal Krishna</a></span>
									</div>
									<div class="info-block">
										<span><i class="fa fa-thumbs-o-up"></i> 360</span>
										<span><i class="fa fa-eye"></i> 789</span>
										<span><i class="fa fa-comment-o"></i> 20</span>
									</div>
								</div>
							</div>
							<div class="category-4 mix custom-column-5">
								<div class="be-post">
									<a href="#" class="be-img-block">
										<img src="{% static 'images/f8.jpg' %}" alt="SomeName">
									</a>
									<a href="#" class="be-post-title">The kitsch destruction of our world</a>
									<span>
										<a href="#" class="be-post-tag">Category 1</a>,
										<a href="#" class="be-post-tag">Category 2</a>,
										<a href="#" class="be-post-tag">Category 3</a>
									</span>
									<div class="author-post">
										<img src="{% static 'images/f9.jpg' %}" alt="SomeUser" class="ava-author">
										<span>by <a href="#">Kewal Krishna</a></span>
									</div>
									<div class="info-block">
										<span><i class="fa fa-thumbs-o-up"></i> 360</span>
										<span><i class="fa fa-eye"></i> 789</span>
										<span><i class="fa fa-comment-o"></i> 20</span>
									</div>
								</div>
							</div>
							<div class="category-5 mix custom-column-5">
								<div class="be-post">
									<a href="#" class="be-img-block">
										<img src="{% static 'images/f4.jpg' %}" alt="SomeName">
									</a>
									<a href="#" class="be-post-title">The kitsch destruction of our world</a>
									<span>
										<a href="#" class="be-post-tag">Category 1</a>,
										<a href="#" class="be-post-tag">Category 2</a>,
										<a href="#" class="be-post-tag">Category 3</a>
									</span>
									<div class="author-post">
										<img src="{% static 'images/f9.jpg' %}" alt="SomeUser" class="ava-author">
										<span>by <a href="#">Kewal Krishna</a></span>
									</div>
									<div class="info-block">
										<span><i class="fa fa-thumbs-o-up"></i> 360</span>
										<span><i class="fa fa-eye"></i> 789</span>
										<span><i class="fa fa-comment-o"></i> 20</span>
									</div>
								</div>
							</div>
							<div class="category-6 mix custom-column-5">
								<div class="be-post">
									<a href="#" class="be-img-block">
										<img src="{% static 'images/f4.jpg' %}" alt="SomeName">
									</a>
									<a href="#" class="be-post-title">The kitsch destruction of our world</a>
									<span>
										<a href="#" class="be-post-tag">Category 1</a>,
										<a href="#" class="be-post-tag">Category 2</a>,
										<a href="#" class="be-post-tag">Category 3</a>
									</span>
									<div class="author-post">
										<img src="{% static 'images/f9.jpg' %}" alt="SomeUser" class="ava-author">
										<span>by <a href="#">Kewal Krishna</a></span>
									</div>
									<div class="info-block">
										<span><i class="fa fa-thumbs-o-up"></i> 360</span>
										<span><i class="fa fa-eye"></i> 789</span>
										<span><i class="fa fa-comment-o"></i> 20</span>
									</div>
								</div>
							</div>
						</div>
					{% else %}
						<p> Nothing to Discover. Go ahead and create something.</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	{% include "polls/snippets/signup-form.html" %}
{% endblock %}