{% extends "polls/common.html" %}
{% load static %}
{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/index.css' %}" />
{% endblock %}
{% block content %}
	<section id="content">
			{% if data %}
					{% for question in data %}
					<div class="questions">
						<div class="questionContent">
							<div class="userInfo">
								<div class="userImage">
									{% if question.question.isAnonymous %}
										<img src="/static/login/images/defaultAvatar.png"  alt="Anonymous">
									{% else %}
										{% if question.question.user.socialaccount_set.all %}
										  {% if question.question.user.extendeduser.imageUrl %}
											<img src="{{ question.question.user.extendeduser.imageUrl }}" alt="User {{ question.question.user.first_name }}">
										  {% endif %}
										{% else %}
										  {% if question.question.user.extendeduser.imageUrl %}
											<img src="/media/profile/{{ question.question.user.extendeduser.get_profile_pic_name }}" alt="User {{ question.question.user.first_name }}">
										  {% else %}
											<img src="/static/login/images/defaultAvatar.png"  alt="User {{ user.first_name }}">
										  {% endif %}
										{% endif %}
									{% endif %}
									<!-- <img src="{{question.question.user.extendeduser.imageurl}}" alt="{{question.question.user.first_name}}"> -->
								</div>
								<div class="userBrief">
									<p>
										{% if question.question.isAnonymous %}
											Anonymous
										{% else %}
											{{question.question.user.first_name}}
										{% endif %}
									</p>
								</div>
							</div> 
							<div class="mainPoll">
								<p><a href="{% url 'polls:polls_detail' question.question.id question.question.que_slug %}">{{question.question.question_text}}</a></p>
								<form class="optionsForm" action="{% url 'polls:polls_vote' question.question.id question.question.que_slug %}" method="POST">
									{% csrf_token %}
									<input type="hidden" name="question" value="{{ question.question.id }}" />
									{% for choice in question.question.choice_set.all %}
										<p>
											<input class="choices" type="radio" name="choice" id="choice{{ choice.id }}" value="{{ choice.id }}" />
											<label for="choice{{ choice.id }}">
												{% if choice.choice_image %}
												<script>
													$("#choice{{ choice.id }}").hide();
													var item = $("#choice{{ choice.id}}");
													item.parent().css({"display":"inline-block"});
													// console.log($this.parent().next().children().first().show());
												</script>
													<img class="choices choice_image" id="choice{{ choice.id }}" src="/media/choices/{{ choice.get_file_name }}" alt="{{ choice.choice_text }}">
													<!-- {{ choice.choice_text }} -->
												{% else %}
													{{ choice.choice_text }}
												{% endif %}
											</label>
										</p>
									{% endfor %}
									<input id="submit" type="submit" value="Vote" />
								</form>
								<!-- {{ question.question.questionwithcategory_set.all }} -->
								<div class="pollInfo clearfix">
									<ul class="pollInfoUl clearfix">
										<li><span class="pollInfoNum">{{question.votes}}</span> opinion{{question.votes|pluralize}}</li>
										<li><span class="pollInfoNum">{{question.subscribers}}</span> interested</li>
										<li ><i class="fa fa-facebook"></i></li>
										<li><i class="fa fa-twitter"></i></li>
										<li><i class="fa fa-google-plus"></i></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
			{% else %}
					<p>No polls are available</p>
			{% endif %}
		<!-- </div> -->
		
	</section>
{% endblock %}