{% extends "polls/report_common.html" %}
{% load static %}
{% block meta_data_extra %}
{% endblock %}
{% block extra_css %}
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'polls/css/index.css' %}" /> -->
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/company_admin.css' %}" />
{% endblock %}
{% block extra_js %}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">
		google.load("visualization", "1", {packages:["corechart"]});
		function drawPollsChartPDF(choice_data,elementId,total_votes) {
			var pollsData = [];
			var pollsColors = ["#F7464A","#46BFBD","#66FF33","#FF6600"];
			var colCount = 0;
			pollsData.push(['Element', 'Votes', { role: 'style' }, { role: 'annotation' }]);
			var choiceLength = Object.keys(choice_data).length;
			for(var i=1 ; i<=choiceLength; i++){
				var inData = [];
				inData.push("Choice"+i);
				inData.push(choice_data["choice"+i]);
				inData.push(pollsColors[colCount++]);
				var percent = 0;
				if(total_votes > 0)
					percent = Math.round((choice_data["choice"+i]/total_votes)*100);
				inData.push(percent+"%");
				pollsData.push(inData);
			}
			var data = google.visualization.arrayToDataTable(pollsData);
			var options = {
	          chartArea: {left:80,width: '650px'},
	          // fontSize:14,
	          bars: {
	            groupWidth: 10
	          },
	          annotations:{
	          	textStyle: {
			      opacity: 1       // The transparency of the text.
			    }	        
	          },
	          hAxis: {
	            title: '',
	            minValue: 0,
	            gridlines: {
	              color: 'transparent'
	              },
	            textPosition: 'none',
	            baselineColor: 'transparent'
	          },
	          vAxis: {
	            title: '',
	            gridlines: {
	              color: 'transparent'
	              },
	          },
	          legend:{
	              position:'none'
	          },
	        };

        	var chart = new google.visualization.BarChart(document.getElementById(elementId));
        	google.visualization.events.addListener(chart, 'ready', function () {
        		console.log(chart.getImageURI());
		      document.getElementById(elementId).innerHTML = '<img width="650px" height="200px" src="' + chart.getImageURI() + '">';
		    });
        	chart.draw(data, options);
		}
		function drawAgeChartPDF(age_dic,elementId) {
			var data = google.visualization.arrayToDataTable([
			  ['Task', 'Hours per Day'],
			  ['Upto 19',age_dic['under_19']],
			  ['19-25',age_dic['bet_20_25']],
			  ['26-30',age_dic['bet_26_30']],
			  ['31-35',age_dic['bet_31_35']],
			  ['36-50',age_dic['bet_36_50']],
			  ['50 Above',age_dic['over_50']]
			]);
			var options = {
			  // 'backgroundColor': 'transparent',
			  'width':325,
              // 'height':325
              title: 'Age',
			};
			var chart = new google.visualization.PieChart(document.getElementById(elementId));
			google.visualization.events.addListener(chart, 'ready', function () {
        		console.log(chart.getImageURI());
		      	document.getElementById(elementId).innerHTML = '<img width="325px" src="' + chart.getImageURI() + '">';
		    });
		    chart.draw(data, options);
	  	}
	  	function drawGenderChartPDF(gender_dic,elementId) {
			var data = google.visualization.arrayToDataTable([
			  ['Task', 'Hours per Day'],
			  ['Male', gender_dic["M"]],
			  ['Female',gender_dic["F"]],
			  ['Not Say', gender_dic["D"]]
			]);
			var options = {
			  // 'backgroundColor': 'transparent',
			  'width':325,
              // 'height':325
              title: 'Gender',
			};
			var chart = new google.visualization.PieChart(document.getElementById(elementId));
			google.visualization.events.addListener(chart, 'ready', function () {
        		console.log(chart.getImageURI());
		      	document.getElementById(elementId).innerHTML = '<img width="325px" src="' + chart.getImageURI() + '">';
		    });
			chart.draw(data, options);
		}
		function drawProfessionChartPDF(prof_dic,elementId) {
			var profData = [['Profession','Votes']];
			for(prof in prof_dic)
				profData.push([prof,prof_dic[prof]]);
			var data = google.visualization.arrayToDataTable(profData);
			var options = {
			  // 'backgroundColor': 'transparent',
			  'width':325,
              // 'height':325
              title: 'Profession',
			};
			var chart = new google.visualization.PieChart(document.getElementById(elementId));
			google.visualization.events.addListener(chart, 'ready', function () {
        		console.log(chart.getImageURI());
		      	document.getElementById(elementId).innerHTML = '<img width="325px" style="display:block;margin:0 auto" src="' + chart.getImageURI() + '">';
		    });
			chart.draw(data, options);
		}
		function drawRegionsMapPDF(country_dic,elementId) {
			console.log(country_dic);
			var conData = [['Country', 'Votes']];
			for(con in country_dic){
				conData.push([con,country_dic[con]]);
			}
			var data = google.visualization.arrayToDataTable(conData);
			var options = {
				// 'backgroundColor': 'transparent'
			};
			var chart = new google.visualization.GeoChart(document.getElementById(elementId));
			google.visualization.events.addListener(chart, 'ready', function () {
        		console.log(chart.getImageURI());
		      	document.getElementById(elementId).innerHTML = '<img width="325px" src="' + chart.getImageURI() + '">';
		    });
			chart.draw(data, options);
		}
	</script>
{% endblock %}
{% block content %}

		<div class="pdf-pages" id="pdf-page0">
			<div class="survey-overview survey-overview-pdf">
				<h1 class="page-main-heading">Survey Details</h1>
				<p class="data-heading-pdf">
					Survey Name : {{ survey.survey_name }}
				</p>
				<p class="pdf-data pdf-data-tabbed">
					Description : {{ survey.description }}
				</p>
				{% for poll in polls %}
					<p class="pdf-data">
						Question {{ forloop.counter }} : {{ poll.question.question_text }} 
					</p>
				{% endfor %}
			</div>
		</div>
	
		<div class="pdf-pages" id="pdf-page1">
			<div class="survey-overview survey-overview-pdf">
				<h1 class="page-main-heading">Macro Analysis of the Survey</h1>
				<!-- <p> Total Number of polls : {{ survey_det.polls|length }} </p> -->
				<div class="table-container">
					<div class="table-component-pdf">
						<table>
							<thead>
								<tr>
									<th>Total Responses</th>
									<th>Completion Rate</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{{ surveytotalResponses }}</td>
									<td>{{ incompleteResponses }}%</td>
								</tr>
							</tbody>
						</table>		
					</div>
				</div><!-- /container -->
				<div class="table-container">
					<div class="table-component-pdf">
						<table>
							<thead>
								<tr>
									<th class="question-table">Question ID</th>
									<th>Responses</th>
									<th>Most Voted</th>
									<th>Least Voted</th>
								</tr>
							</thead>
							<tbody>
								{% for poll in polls %}
								{% if forloop.counter < 6 %}
									<tr>
										<th class="question-table-heading">Question{{ forloop.counter }}</th>
										<td> {{ poll.totalResponses }} votes</td>
										{% if poll.q_type != "text" %}
											<td> 
												{% for choice in poll.maxVotes %}
													{{ choice }}<br>
												{% endfor %}
											</td>
											<td>
												{% for choice in poll.minVotes %}
													{{ choice }}<br>
												{% endfor %}
											</td>
										{% else %}
											<td>NA</td>
											<td>NA</td>
										{% endif %}
									</tr>
								{% endif %}
								{% endfor %}
							</tbody>
						</table>		
					</div>
				</div><!-- /container -->
			</div>
		</div>

		{% if polls|length > 5 %}
		<div class="pdf-pages" id="pdf-page2">
			<div class="survey-overview survey-overview-pdf">
				<h1 class="page-main-heading">Macro Analysis of the Survey</h1>
				<!-- <p> Total Number of polls : {{ survey_det.polls|length }} </p> -->
				<div class="table-container">
					<div class="table-component-pdf">
						<table>
							<thead>
								<tr>
									<th class="question-table">Question ID</th>
									<th>Responses</th>
									<th>Most Voted</th>
									<th>Least Voted</th>
								</tr>
							</thead>
							<tbody>
								{% for poll in polls %}
								{% if forloop.counter > 5 and forloop.counter < 11%}
									<tr>
										<th class="question-table-heading">Question{{ forloop.counter }}</th>
										<td> {{ poll.totalResponses }} votes</td>
										{% if poll.q_type != "text" %}
											<td> 
												{% for choice in poll.maxVotes %}
													{{ choice }}<br>
												{% endfor %}
											</td>
											<td>
												{% for choice in poll.minVotes %}
													{{ choice }}<br>
												{% endfor %}
											</td>
										{% else %}
											<td>NA</td>
											<td>NA</td>
										{% endif %}
									</tr>
								{% endif %}
								{% endfor %}
							</tbody>
						</table>		
					</div>
				</div><!-- /container -->
			</div>
		</div>
		{% endif %}

		{% if polls|length > 10 %}
		<div class="pdf-pages" id="pdf-page3">
			<div class="survey-overview survey-overview-pdf">
				<h1 class="page-main-heading">Macro Analysis of the Survey</h1>
				<!-- <p> Total Number of polls : {{ survey_det.polls|length }} </p> -->
				<div class="table-container">
					<div class="table-component-pdf">
						<table>
							<thead>
								<tr>
									<th class="question-table">Question ID</th>
									<th>Responses</th>
									<th>Most Voted</th>
									<th>Least Voted</th>
								</tr>
							</thead>
							<tbody>
								{% for poll in polls %}
								{% if forloop.counter > 10 and forloop.counter < 16%}
									<tr>
										<th class="question-table-heading">Question{{ forloop.counter }}</th>
										<td> {{ poll.totalResponses }} votes</td>
										{% if poll.q_type != "text" %}
											<td> 
												{% for choice in poll.maxVotes %}
													{{ choice }}<br>
												{% endfor %}
											</td>
											<td>
												{% for choice in poll.minVotes %}
													{{ choice }}<br>
												{% endfor %}
											</td>
										{% else %}
											<td>NA</td>
											<td>NA</td>
										{% endif %}
									</tr>
								{% endif %}
								{% endfor %}
							</tbody>
						</table>		
					</div>
				</div><!-- /container -->
			</div>
		</div>
		{% endif %}

		{% if polls|length > 15 %}
		<div class="pdf-pages" id="pdf-page4">
			<div class="survey-overview survey-overview-pdf">
				<h1 class="page-main-heading">Macro Analysis of the Survey</h1>
				<!-- <p> Total Number of polls : {{ survey_det.polls|length }} </p> -->
				<div class="table-container">
					<div class="table-component-pdf">
						<table>
							<thead>
								<tr>
									<th class="question-table">Question ID</th>
									<th>Responses</th>
									<th>Most Voted</th>
									<th>Least Voted</th>
								</tr>
							</thead>
							<tbody>
								{% for poll in polls %}
								{% if forloop.counter > 15 and forloop.counter < 21%}
									<tr>
										<th class="question-table-heading">Question{{ forloop.counter }}</th>
										<td> {{ poll.totalResponses }} votes</td>
										{% if poll.q_type != "text" %}
											<td> 
												{% for choice in poll.maxVotes %}
													{{ choice }}<br>
												{% endfor %}
											</td>
											<td>
												{% for choice in poll.minVotes %}
													{{ choice }}<br>
												{% endfor %}
											</td>
										{% else %}
											<td>NA</td>
											<td>NA</td>
										{% endif %}
									</tr>
								{% endif %}
								{% endfor %}
							</tbody>
						</table>		
					</div>
				</div><!-- /container -->
			</div>
		</div>
		{% endif %}

		{% if polls|length > 20 %}
		<div class="pdf-pages" id="pdf-page5">
			<div class="survey-overview survey-overview-pdf">
				<h1 class="page-main-heading">Macro Analysis of the Survey</h1>
				<!-- <p> Total Number of polls : {{ survey_det.polls|length }} </p> -->
				<div class="table-container">
					<div class="table-component-pdf">
						<table>
							<thead>
								<tr>
									<th class="question-table">Question ID</th>
									<th>Responses</th>
									<th>Most Voted</th>
									<th>Least Voted</th>
								</tr>
							</thead>
							<tbody>
								{% for poll in polls %}
								{% if forloop.counter > 20 and forloop.counter < 26%}
									<tr>
										<th class="question-table-heading">Question{{ forloop.counter }}</th>
										<td> {{ poll.totalResponses }} votes</td>
										{% if poll.q_type != "text" %}
											<td> 
												{% for choice in poll.maxVotes %}
													{{ choice }}<br>
												{% endfor %}
											</td>
											<td>
												{% for choice in poll.minVotes %}
													{{ choice }}<br>
												{% endfor %}
											</td>
										{% else %}
											<td>NA</td>
											<td>NA</td>
										{% endif %}
									</tr>
								{% endif %}
								{% endfor %}
							</tbody>
						</table>		
					</div>
				</div><!-- /container -->
			</div>
		</div>
		{% endif %}

		{% if polls|length > 25 %}
		<div class="pdf-pages" id="pdf-page6">
			<div class="survey-overview survey-overview-pdf">
				<h1 class="page-main-heading">Macro Analysis of the Survey</h1>
				<!-- <p> Total Number of polls : {{ survey_det.polls|length }} </p> -->
				<div class="table-container">
					<div class="table-component-pdf">
						<table>
							<thead>
								<tr>
									<th class="question-table">Question ID</th>
									<th>Responses</th>
									<th>Most Voted</th>
									<th>Least Voted</th>
								</tr>
							</thead>
							<tbody>
								{% for poll in polls %}
								{% if forloop.counter > 25 %}
									<tr>
										<th class="question-table-heading">Question{{ forloop.counter }}</th>
										<td> {{ poll.totalResponses }} votes</td>
										{% if poll.q_type != "text" %}
											<td> 
												{% for choice in poll.maxVotes %}
													{{ choice }}<br>
												{% endfor %}
											</td>
											<td>
												{% for choice in poll.minVotes %}
													{{ choice }}<br>
												{% endfor %}
											</td>
										{% else %}
											<td>NA</td>
											<td>NA</td>
										{% endif %}
									</tr>
								{% endif %}
								{% endfor %}
							</tbody>
						</table>		
					</div>
				</div><!-- /container -->
			</div>
		</div>
		{% endif %}

		{% for poll in polls %}
		<div class="pdf-pages" id="pdf-pages-poll{{ forloop.counter }}">
			<div class="survey-overview survey-overview-pdf">
				<h1 class="page-main-heading">Per Question Survey Analysis</h1>
				<p class="data-heading-pdf">
					Question : {{ poll.question.question_text }}
				</p>
				{% for choice in poll.question.choice_set.all %}
					{% if choice.choice_image %}
						<div class="choice-figure">
							<img width="100px" height="100px" src="/media/choices/{{ choice.get_file_name }}" alt="{{ choice.choice_text }}">
							<p class="choiceFigCaption">
								{% if choice.choice_text %}
									Choice{{ forloop.counter }} : {{ choice.choice_text }}
								{% else %}
									Choice{{ forloop.counter }}
								{% endif %}
							</p>
						</div>
					{% else %}
						<p class="pdf-data">Choice{{ forloop.counter }} : "{{ choice.choice_text }}"</p>
					{% endif %}
				{% endfor %}
				{% if poll.q_type != "text" %}
					<div id="pollsChart-pdf{{ poll.question.id }}" class="pollsChartPDF"></div>
					<div id="analysis-pdf">
						<div class="pdf-chart" id="genderchart{{ poll.question.id }}"></div>
						<div class="pdf-chart" id="agechart{{ poll.question.id }}"></div>
						<!-- <div class="pdf-chart" id="locationchart{{ poll.question.id }}"></div> -->
						<div class="pdf-chart pdf-chart-survey-prof" id="professionchart{{ poll.question.id }}"></div>
					</div>
					<script type="text/javascript">
						google.setOnLoadCallback(drawPollsChartPDF({{ poll.choice_graph|safe }},"pollsChart-pdf{{ poll.question.id }}",{{ poll.total_choice_vote }}));
						google.setOnLoadCallback(drawAgeChartPDF({{ poll.age_graph|safe }},"agechart{{ poll.question.id }}"));
						google.setOnLoadCallback(drawGenderChartPDF({{ poll.gender_graph|safe }},"genderchart{{ poll.question.id }}"));
						google.setOnLoadCallback(drawProfessionChartPDF({{ poll.prof_graph|safe }},"professionchart{{ poll.question.id }}"));
						// google.setOnLoadCallback(drawRegionsMapPDF({{ poll.country_graph|safe }},"locationchart{{ poll.question.id }}"));
					</script>
				{% else %}
					{% for text in poll.que_text_answers %}
						<p class="pdf-que-text">{{ text }}</p>
					{% endfor %}
				{% endif %}
			</div>
		</div>
		{% endfor %}
	
		<div class="pdf-pages" id="second-last-page">
			<div class="survey-overview survey-overview-pdf">
				<h1 class="page-main-heading">Sample Advanced Analysis</h1>
				<p class="pdf-data">
					Use the Dashboard for more advanced real time analysis like –<br>
				<span class="pdf-data-tabbed">
					•	Country & State Specific Location Breakdown – Click on the Country graph.
				</span><br>
				<span class="pdf-data-tabbed">
					•	Choice specific analysis – Choose specific choice from dropdown
				</span><br>
				<span class="pdf-data-tabbed">
					•	Multi-Variable Comparative Analysis - Choose multiple parameters from the dropdown based on the comparison to be done with the base graph.
				</span><br>
					A sample example of real time Multi-Variable Comparative Analysis – 
				</p>
				{% for poll in polls %}
				{% if poll.question.id == maxVotedQuestion %}
					<p class="data-heading-pdf">
						Question : {{ poll.question.question_text }}
					</p>
					<p class="pdf-data pdf-data-bold">
						Base Graph vs. Multi Parameter Graph
					</p>
					<div id="pollsChart-pdf-cmp1" class="pollsChartPDF"></div>
					<div class="pdf-data advancedAnaPDF">
						<p style="margin-bottom:0.4rem;"> Filter by different parameters </p>
						<select class="advancedanalyseSelectPDF">
							<option value="nochoice">Gender</option>
						</select>
						<select class="advancedanalyseSelectPDF">
							<option value="26-30">26-30</option>
						</select>
						<select class="advancedanalyseSelectPDF">
							<option value="nochoice">Profession</option>
						</select>
						<select class="advancedanalyseSelectPDF">
							<option value="nochoice">India</option>
						</select>
						<select class="advancedanalyseSelectPDF">
							<option value="nochoice">State</option>
						</select>
					</div>
					<div id="pollsChart-pdf-cmp2" class="pollsChartPDF"></div>
					<p class="pdf-data pdf-data-bold">
						Base Pie Charts vs. Choice Specific Pie Charts:
					</p>
					<div class="analysis-pdf">
					<div class="analysis-pdf-cmp">
						<select class="advancedanalyseSelectPDF advancedanalyseSelectPDFAbsolute">
							<option value="nochoice">Filter by Choice</option>
						</select>
						<div class="pdf-chart" id="genderchart-cmp1"></div>
					</div>
					<div class="analysis-pdf-cmp">
						<select class="advancedanalyseSelectPDF advancedanalyseSelectPDFAbsolute">
							<option value="nochoice">{{ poll.maxVotedChoiceStr }}</option>
						</select>						
						<div class="pdf-chart" id="genderchart-cmp2"></div>
					</div>
					</div>
					<script type="text/javascript">
						google.setOnLoadCallback(drawPollsChartPDF({{ poll.choice_graph|safe }},"pollsChart-pdf-cmp1",{{ poll.total_choice_vote }}));
						google.setOnLoadCallback(drawPollsChartPDF({{ poll.choice_graph_filter|safe }},"pollsChart-pdf-cmp2",{{ poll.total_choice_vote_filter }}));
						google.setOnLoadCallback(drawGenderChartPDF({{ poll.gender_graph|safe }},"genderchart-cmp1"));
						google.setOnLoadCallback(drawGenderChartPDF({{ poll.gender_graph_filter|safe }},"genderchart-cmp2"));
					</script>
				{% endif %}
				{% endfor %}
			</div>
		</div>

		<div class="pdf-pages" id="last-page">
			<div class="survey-overview survey-overview-pdf">
				<h1 class="page-main-heading">About AskByPoll</h1>
				<div class="pdf-info">
				<p class="pdf-data">
					AskByPoll is a modern age research and decision making tool that helps in performing primary research through quick polls and surveys. The platform provides a community of voters who can help in providing their opinion based on the nature of the question. The platform provides quantitative and qualitative results on a question and easy to use real time analytics tools for quicker decision making
				</p>
				<p class="pdf-data pdf-data-bold">
					We can also help you out with the analysis of any research you have performed on AskByPoll. We would conduct the analysis at the backend and provide you with business critical recommendations derived from our platform
				</p>
				<p class="pdf-data">
					To get more details about the platform & services reach out to us at: support@askbypoll.com or call us at +917829716024, +917411132182
				</p>
				</div>
				<p class="pdf-data pdf-data-sundar">
					Contact Details:<br>
					Email: support@askbypoll.com | Call: +917829716024 (India) <br>
					Facebook: /askbypoll      Twitter: @AskByPoll
				</p>
			</div>
		</div>

		<div id="pdf-survey-footer">
			<img class="pdf-footer-logo" src="/static/logoAndText.png">
			<p class="pdf-data pdf-data-footer">
				Contact us @ support @ askbypoll.com
			</p>
		</div>
	<script type="text/javascript">
		$(document).ready(function()
		{
			$('.choice_image').css({"width":"120px","height":"120px"});
		});
	</script>
{% endblock %}
