{% extends "polls/common.html" %}
{% block meta_data_extra %}
	{% with question.has_image as has_image %}
	{%if has_image|length > 0 %}
	{% for share_image in has_image %}
		<meta property="og:image" content="http://{{ request.META.HTTP_HOST }}{{ share_image }}"/>
	{% endfor %}
		<meta property="og:image:width" content="300" />
		<meta property="og:image:height" content="300" />
	{% else %}
		<meta property="og:image" content="http://{{ request.META.HTTP_HOST }}/static/pollsLogoShareNew.png"/>
	{% endif %}
	{% endwith %}
	<!-- <meta property="og:url" content="https://{{ request.META.HTTP_HOST }}{{ request.path }}"/> -->
	<meta property="og:url" content="{{ DOMAIN_URL }}/public-url{{ request.path }}"/>
	<meta property="og:title" content="{{ question.question_text  }}"/>
	<meta property="og:description" content="{{ question.description  }}" />
{% endblock %}
{% load disqus_tags %}
{% disqus_show_comments %}
{% set_disqus_url object.get_absolute_url %}
{% load static %}
{% block extra_css %}
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'polls/css/index.css' %}" /> -->
	<link rel="stylesheet" type="text/css" href="{% static 'trivia/css/trivia.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/questionDetail.css' %}" />
{% endblock %}
{% block extra_js %}
	<script type='text/javascript' src='https://www.google.com/jsapi'></script>
{% endblock %}
{% block content %}
	{% if not user.is_authenticated %}
		{% include 'polls/snippets/overlay-get-data.html' with poll=question %}
	{% endif %}
	<section id="content">
			<div class="questions">
				<div class="questionContent">
					<div class="userInfo clearfix">
						<div class="userImage">

							<a href="{{ question.get_user_details.user_url }}">
								<img class="usr-detail-img" src="{{ question.get_user_details.pic_url }}"  alt="{{ question.get_user_details.pic_url }}">
							</a>
						</div>
						<div class="userBrief">
							<p>
								<a href="{{ question.get_user_details.user_url }}">
									{{ question.get_user_details.user_name }}
								</a>
							</p>
							{% if not question.isAnonymous %}
								<div class="usr-creds-msg" style="font-size:0.9rem">
									<span class="usr-det">pCoins : {{ question.user.extendeduser.credits}}<i class="fa fa-coins"></i></span> <br/>
									<span class="usr-det .connections">Connection{{ connection|pluralize }} : {{ connection }} <i class="fa fa-users"></i></span>
								</div>
							{% endif %}
							<p>
								Asked on:<br>
								{{ question.pub_date }}
							</p>
						</div>
					</div>
					<div class="mainPoll">
						<p class="que_text">{{ question.question_text }}
							{% if user.is_authenticated %}
								{% if user == question.user or user.is_superuser %}
									{% if data.editable %}
										<a href="{% url 'polls:polls_edit' question.id question.que_slug %}"><i class="fa fa-pencil-square-o"></i></a>
									{% endif %}
									<a href="{% url 'polls:polls_delete' question.id question.que_slug %}"><i class="fa fa-trash-o"></i></a>
								{% endif %}
							{% endif %}
						</p>
						{% if question.description or question.questionwithcategory_set.count > 0 %}
							<p class="question_description_header">
								<span class="question_description_header_span">Description</span>
							</p>
							<p class="question_description">
								{{ question.description }}
								{% if question.description and question.questionwithcategory_set.count > 0 %}<br><br>{% endif %}
								{% for cat in question.questionwithcategory_set.all %}
									<a class="que_desc_cat_span" href="{% url 'polls:polls_category' %}?category={{ cat.category.category_title }}">{{ cat.category.category_title }}</a>
								{% endfor %}
							</p>
						{% endif %}
						<div class="poll-info">
							{% if data.user_already_voted %}
								<a href="javascript:;" class="light-grey">Voted
							{% else %}
								<a href="javascript:;" class="light-grey">Vote
							{% endif %}
									<span class="q-det-num">{{ data.votes }}</span>
								</a>
							{% if data.subscribed %}
								<a href="javascript:;" class="light-grey followButton following" id="follow{{ question.id }}---{{ question.que_slug }}" title="Unfollow">Followed
							{% else %}
								<a href="javascript:;" class="light-grey followButton" id="follow{{ question.id }}---{{ question.que_slug }}" title="Follow">Follow
							{% endif %}
									<span class="q-det-num" id="sub_num{{ question.id }}">{{ data.subscribers }}</span>
								</a>
							{% if user in data.upvotedusers %}
								<a href="javascript:;" class="light-grey updownvote" id="upvote---{{ question.id }}---{{ question.que_slug }}">Upvoted
							{% else %}
								<a href="javascript:;" class="light-grey updownvote" id="upvote---{{ question.id }}---{{ question.que_slug }}">Upvote
							{% endif %}
				    				<span class="q-det-num" id="upvotenum{{ question.id }}">{{ data.upvoteCount }}</span>
				    			</a>
				    		{% if user in data.downvotedusers %}
								<a href="javascript:;" class="light-grey updownvote" id="downvote---{{ question.id }}---{{ question.que_slug }}">Downvoted </a>
							{% else %}
								<a href="javascript:;" class="light-grey updownvote" id="downvote---{{ question.id }}---{{ question.que_slug }}">Downvote </a>
							{% endif %}
				    		<a href="javascript:;" class="light-grey spam-question" id="ban{{ question.id }}---{{ question.que_slug }}">Spam</a>
				    	</div>
						<p>
							<div class="choices-details clearfix">
								{% for choice in question.choice_set.all %}
									{% if choice.choice_image %}
										<div class="choice-image-div">
											<img class="choice-image-img" src="/media/choices/{{ choice.get_file_name }}" alt="{{ choice.choice_text }}">
											<p class="choiceFigCaption">
												{% if choice.choice_text %}
													Choice{{ forloop.counter }} : {{ choice.choice_text }}
												{% else %}
													Choice{{ forloop.counter }}
												{% endif %}
											</p>
										</div>
									{% else %}
										Choice{{ forloop.counter }} : "{{ choice.choice_text }}"
										<br/>
									{% endif %}
								{% endfor %}
							</div>
						</p>
						{% if question.protectResult and user != question.user %}
							<p style="font-size:1rem;margin-top:2rem;color: white;border: 1px solid black;padding: 0.5rem;background: black;border-radius:5px;text-align:center;width:90%;"> Thanks for Voting. Results have been protected.</p>
						{% else %}
							<div class="pollsChart" id="pollsChart---{{ question.id }}---extra">
							</div>
						{% endif %}
						<div class="analyzeAndShare">
							<ul class="share-buttons">
								{% if user.is_authenticated %}
									<li class="social-share-div">
										<div class="fb-share-button" data-href="{{ DOMAIN_URL }}/{% url 'polls:polls_share' question.id question.que_slug %}?referral={{ referral_code }}" data-image='https://askbypoll.com/static/pollsLogoShareNew.png'  data-layout="button_count">
										</div>
									</li>&nbsp&nbsp&nbsp
									<li class="social-share-div">
										<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ DOMAIN_URL }}/{% url 'polls:polls_share' question.id question.que_slug %}?referral={{ referral_code }}" data-via="askbypoll" data-count="horizontal" data-counturl="{{ DOMAIN_URL }}/{% url 'polls:polls_share' question.id question.que_slug %}?referral={{ referral_code }}" data-hashtags="AskByPoll">Tweet
										</a>
									</li>&nbsp&nbsp&nbsp
									<li class="social-share-div">
										<div class="g-plus" data-action="share" data-annotation="bubble" data-href="{{ DOMAIN_URL }}/{% url 'polls:polls_share' question.id question.que_slug %}?referral={{ referral_code }}">
										</div>
									</li>
								{% else %}
									<li class="social-share-div">
										<div class="fb-share-button" data-href="{{ DOMAIN_URL }}/{% url 'polls:polls_share' question.id question.que_slug %}" data-image='https://askbypoll.com/static/pollsLogoShareNew.png'  data-layout="button_count"></div>
									</li>&nbsp&nbsp&nbsp
									<li class="social-share-div">
										<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ DOMAIN_URL }}/{% url 'polls:polls_share' question.id question.que_slug %}" data-count="horizontal" data-counturl="{{ DOMAIN_URL }}/{% url 'polls:polls_share' question.id question.que_slug %}" data-hashtags="AskByPoll">Tweet</a>
									</li>&nbsp&nbsp&nbsp
									<li class="social-share-div">
										<div class="g-plus" data-action="share" data-annotation="bubble" data-href="{{ DOMAIN_URL }}/{% url 'polls:polls_share' question.id question.que_slug %}"></div>
									</li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
				{% if data.dataProvided %}
				<div class="analysis">
					<div class="gender">
						<div class="graphContainer">
							<p> Gender </p>
							<div class="genderChart" id="genderChart---{{ question.id }}">
							</div>
						</div>
					</div>
					<div class="age">
						<div class="graphContainer">
							<p> Age </p>
							<div class="ageChart" id="ageChart---{{ question.id }}">
							</div>
						</div>
					</div>
					<div class="location">
						<div class="graphContainer">
							<p> Location </p><div class="back" onClick="back('{{ csrf_token }}','',{{ question.id }})"><i class="fa fa-arrow-left"></i></div>
							<div class="locationChart" id="locationChart---{{ question.id }}">
							</div>
						</div>
					</div>
					<div class="others">
						<div class="graphContainer">
							<p> Profession </p>
							<div class="othersChart" id="othersChart---{{ question.id }}">
							</div>
						</div>
					</div>
				</div>
				{% else %}
					<p class="thanks-for-voting-graph"> Thanks for Voting. Enter Demographics to view graphs. </p>
					<p class="thanks-for-voting-graph">
						<a class="open-overlay-data btn" id="open-overlay-data---{{ question.id }}---{{ question.que_slug }}" href="javascript:;"> Show Me</a>
					</p>
					<p class="thanks-for-voting-graph"> To Avoid the hassle of entering Demographics on each poll.</p>
					<p class="thanks-for-voting-graph">
						{% load socialaccount %}
						<a href="{% provider_login_url "facebook" method="oauth2" %}" class="login-a btn facebook dark-blue">SignIn with Facebook</a>
						<a href="{% url 'account_login' %}?next={{ request.path }}&{{ request.GET.urlencode }}" class="login-a btn abp orange">LogIn</a>
		    			<a href="{% provider_login_url "google" %}" class="login-a btn google red">SignIn with Google</a>
		    		</p>
				{% endif %}
				<div id="disqus_thread">
				</div>
			</div>
		</section>
		<script type="text/javascript">
			/* * * CONFIGURATION VARIABLES * * */
			var disqus_shortname = 'askbypoll';

			/* * * DON'T EDIT BELOW THIS LINE * * */
			(function() {
			    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
			var disqus_config = function() {
				this.page.remote_auth_s3 = "{{ ssoData.message }} {{ ssoData.sig }} {{ ssoData.timestamp }}";
				this.page.api_key = "{{ ssoData.pub_key }}";
				this.callbacks.onNewComment = [function(comment) {

				var commentLength = comment.text.length;

				var data_dict = {"que_id":{{ question.id }}, "que_author":"{{ question.user.first_name }}", "commentLength":commentLength, "to_user_id":{{ question.user.id }},"com_author":"{{ user.username }}","que_text":"{{ question.question_text }}","que_url":"https://{{ request.META.HTTP_HOST }}{% url 'polls:polls_vote' question.id question.que_slug %}", 'csrfmiddlewaretoken': "{{ csrf_token }}" };

				$.ajax({
			            type: 'POST',
			            url:'/comment_mail',
			            data:data_dict,
			            success:function(response)
			            {
			            }
			        });
				}];
			};

			google.load('visualization', '1', {packages: ['corechart', 'bar','geochart']});
			$(document).ready(function(){

			  drawPollsChart("{{ csrf_token }}","",{{ question.id }});
			  if($('.analysis').is(':visible')){
				drawGenderChart("{{ csrf_token }}","",{{ question.id }});
				drawAgeChart("{{ csrf_token }}","",{{ question.id }});
				drawOthersChart("{{ csrf_token }}","",{{ question.id }});
				drawLocationChart("{{ csrf_token }}","",{{ question.id }});
			  }
			  window.addEventListener("resize", resizeEventHandler);

			  function resizeEventHandler() {
				drawPollsChart("{{ csrf_token }}","",{{ question.id }});
				if($('.analysis').is(':visible')){
				  drawGenderChart("{{ csrf_token }}","",{{ question.id }});
			      drawAgeChart("{{ csrf_token }}","",{{ question.id }});
			      drawOthersChart("{{ csrf_token }}","",{{ question.id }});
			      drawLocationChart("{{ csrf_token }}","",{{ question.id }});
				 }
			  }
			});

		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endblock %}
