{% extends "polls/common.html" %}
{% block meta_data_extra %}
	{% with question.has_image as has_image %}
	{%if has_image|length > 0 %}
	{% for share_image in has_image %}
		<meta property="og:image" content="http://{{ request.META.HTTP_HOST }}{{ share_image }}"/>
	{% endfor %}
		<meta property="og:image:width" content="300" /> 
		<meta property="og:image:height" content="300" />
	{% else %}
		<meta property="og:image" content="http://{{ request.META.HTTP_HOST }}/static/pollsLogoShareNew.png"/>
	{% endif %}
	{% endwith %}
	<meta property="og:url" content="https://{{ request.META.HTTP_HOST }}{{ request.path }}"/>
	<meta property="og:title" content="{{ question.question_text  }}"/>
	<meta property="og:description" content="{{ question.description  }}" />
{% endblock %}
{% load disqus_tags %}
{% disqus_show_comments %}
{% set_disqus_url object.get_absolute_url %} 
{% load static %}
{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/index.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/questionDetail.css' %}" />
{% endblock %}
{% block extra_js %}
	<script type='text/javascript' src='https://www.google.com/jsapi'></script>
{% endblock %}
{% block content %}
	<section id="content">
			<div class="questions">
				<div class="questionContent">
					<div class="userInfo">
						<div class="userImage">

							<a href="{{ question.get_user_details.user_url }}">
								<img class="usr-detail-img" src="{{ question.get_user_details.pic_url }}"  alt="{{ question.get_user_details.pic_url }}">
							</a>
						</div>
						<div class="userBrief">
							<p>
								<a href="{{ question.get_user_details.user_url }}">
									{{ question.get_user_details.user_name }}
								</a>
							</p>
							{% if not question.isAnonymous %}
								<div class="usr-creds-msg" style="font-size:0.9rem">
									<span class="usr-det">pCoins : {{ question.user.extendeduser.credits}}<i class="fa fa-coins"></i></span> <br/>
									<span class="usr-det .connections">Connection{{ connection|pluralize }} : {{ connection }} <i class="fa fa-users"></i></span>
								</div>
							{% endif %}
							<p>
								Asked on:<br>
								{{ question.pub_date }}
							</p>
						</div>
					</div> 
					<div class="mainPoll">
						<p class="que_text">{{ question.question_text }}
						{% if user.is_authenticated %}
						{% if user == question.user or user.is_superuser %}
							{% if editable %}
								<a href="{% url 'polls:polls_edit' question.id question.que_slug %}"><i class="fa fa-pencil-square-o"></i></a>
							{% endif %}
								<a href="{% url 'polls:polls_delete' question.id question.que_slug %}"><i class="fa fa-trash-o"></i></a>
							{% endif %}
						{% endif %}
						</p>
						{% if question.description or question.questionwithcategory_set.count > 0 %}
						<p class="question_description_header">
							<span class="question_description_header_span">Description</span>
						</p>
						<p class="question_description">
							{{ question.description }}
							{% if question.description and question.questionwithcategory_set.count > 0 %}<br><br>{% endif %}
							{% for cat in question.questionwithcategory_set.all %}
								<a class="que_desc_cat_span" href="{% url 'polls:polls_category' %}?category={{ cat.category.category_title }}">{{ cat.category.category_title }}</a>
							{% endfor %}
						</p>
						{% endif %}
						<div class="upvoteDetailVote">
							<i class="fa fa-thumbs-up fa-2x upvoted" onclick="upvoted({{ question.id }},'{{ question.que_slug }}',1)"></i>
							<span id="upvoteon{{ question.id }}"> {{ question.upvoteCount }} </span>
							<i class="fa fa-thumbs-down fa-2x upvoted fa-flip-horizontal fa-rotate-180" onclick="upvoted({{ question.id }},'{{ question.que_slug }}',0)"></i>
							<div class="upvotemessage" id="upvotemessage{{ question.id }}"></div>
						</div>
						<p>
						<div class="choices clearfix">
						{% for choice in question.choice_set.all %}
						{% if choice.choice_image %}
							<figure>
								<img class="choiceImage choiceDetailImage" src="/media/choices/{{ choice.get_file_name }}" alt="{{ choice.choice_text }}">
								<figcaption class="choiceFigCaption">
									{% if choice.choice_text %}
										Choice{{ forloop.counter }} : {{ choice.choice_text }}
									{% else %}
										Choice{{ forloop.counter }}
									{% endif %}
								</figcaption>
							</figure>
						{% else %}
							Choice{{ forloop.counter }} : "{{ choice.choice_text }}"
							<br/>
						{% endif %}
						{% endfor %}
						</div>
						</p>
						{% if question.protectResult and user != question.user %}
						<p style="font-size:1rem;margin-top:2rem;color: white;border: 1px solid black;padding: 0.5rem;background: black;border-radius:5px;text-align:center;width:90%;"> Thanks for Voting. Results have been protected.</p>
						{% else %}
						<div class="pollsChart" id="pollsChart---{{ question.id }}">
						</div>
						{% endif %}
						<div class="analyzeAndShare">
							{% if question.protectResult and user != question.user %}
							{% else %}
							<input class="submit detailSubmit" type="submit" value="Analyse" />
							{% endif %}
							<ul class="share-buttons">
								{% if user.is_authenticated %}
								<li ><div class="fb-share-button" data-href="http://{{ request.META.HTTP_HOST }}/{% url 'polls:polls_vote' question.id question.que_slug %}?referral={{ referral_code }}" data-image='https://askbypoll.com/static/pollsLogoShareNew.png'  data-layout="button_count"></div></li>&nbsp&nbsp&nbsp
								<li><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://{{ request.META.HTTP_HOST }}{% url 'polls:polls_vote' question.id question.que_slug %}" data-via="askbypoll" data-count="horizontal" data-counturl="https://{{ request.META.HTTP_HOST }}{% url 'polls:polls_vote' question.id question.que_slug %}?referral={{ referral_code }}" data-hashtags="AskByPoll">Tweet</a></li>&nbsp&nbsp&nbsp
								<li><div class="g-plus" data-action="share" data-annotation="bubble" data-href="https://{{ request.META.HTTP_HOST }}/{% url 'polls:polls_vote' question.id question.que_slug %}?referral={{ referral_code }}"></div></li>
								{% else %}
								<li ><div class="fb-share-button" data-href="http://{{ request.META.HTTP_HOST }}/{% url 'polls:polls_vote' question.id question.que_slug %}" data-image='https://askbypoll.com/static/pollsLogoShareNew.png'  data-layout="button_count"></div></li>&nbsp&nbsp&nbsp
								<li><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://{{ request.META.HTTP_HOST }}{% url 'polls:polls_vote' question.id question.que_slug %}" data-via="askbypoll" data-count="horizontal" data-counturl="https://{{ request.META.HTTP_HOST }}{% url 'polls:polls_vote' question.id question.que_slug %}" data-hashtags="AskByPoll">Tweet</a></li>&nbsp&nbsp&nbsp
								<li><div class="g-plus" data-action="share" data-annotation="bubble" data-href="https://{{ request.META.HTTP_HOST }}/{% url 'polls:polls_vote' question.id question.que_slug %}"></div></li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
				{% if question.protectResult and user != question.user %}
				{% else %}
				<div class="analysis">
					<div class="gender">
						<div class="graphContainer">
							<p> Gender </p>
							<div class="genderChart" id="genderChart---{{ question.id }}">
							</div>
						</div>
					</div>
					<div class="age">
						<div class="graphContainer">
							<p> Age </p>
							<div class="ageChart" id="ageChart---{{ question.id }}">
							</div>
						</div>
					</div>
					<div class="location">
						<div class="graphContainer">
							<p> Location </p><div class="back" onClick="back('{{ csrf_token }}','',{{ question.id }})"><i class="fa fa-arrow-left"></i></div>
							<div class="locationChart" id="locationChart---{{ question.id }}">
							</div>
						</div>
					</div>
					<div class="others">
						<div class="graphContainer">
							<p> Profession </p>
							<div class="othersChart" id="othersChart---{{ question.id }}">
							</div>
						</div>
					</div>
				</div>
				{% endif %}
				<div id="disqus_thread">
				</div>
			</div>
		</section>
		<script type="text/javascript">
			/* * * CONFIGURATION VARIABLES * * */
			var disqus_shortname = 'askbypoll';

			/* * * DON'T EDIT BELOW THIS LINE * * */
			(function() {
			    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
			var disqus_config = function() {
				this.page.remote_auth_s3 = "{{ ssoData.message }} {{ ssoData.sig }} {{ ssoData.timestamp }}";
				this.page.api_key = "{{ ssoData.pub_key }}";
				this.callbacks.onNewComment = [function(comment) { 
			
				var commentLength = comment.text.length;
				
				var data_dict = {"que_id":{{ question.id }}, "que_author":"{{ question.user.first_name }}", "commentLength":commentLength, "to_user_id":{{ question.user.id }},"com_author":"{{ user.username }}","que_text":"{{ question.question_text }}","que_url":"https://{{ request.META.HTTP_HOST }}{% url 'polls:polls_vote' question.id question.que_slug %}", 'csrfmiddlewaretoken': "{{ csrf_token }}" };

				$.ajax({
			            type: 'POST',
			            url:'/comment_mail',
			            data:data_dict,
			            success:function(response)
			            {
			            }
			        });
				}];
			};

			function upvoted(questionId,qslug,action){
				{% if user.is_authenticated %}
					$.ajax({
						type: 'POST',
						url:'/upvoted/?qId='+questionId+'&vote='+action.toString(),
						data:{'csrfmiddlewaretoken': "{{ csrf_token }}"},
						error:function(response){
							console.log('error occured');
						},
						success:function(response)
						{
								count = response.count;
								message = response.message;
								if(typeof count === 'undefined'){
									var id = "#upvotemessage"+questionId.toString();
									$(id).append("<p>"+message+"</p>");
									setTimeout(function(){clearUpvoteMessageDiv(id);}, 1500);
								} else {
									console.log(response);
									spanId = '#upvoteon'+questionId.toString();
									$(spanId).text(response.count.toString());
								}
						}
					});
				{% else %}
					var id = "#upvotemessage"+questionId.toString();
					$(id).append("<p> Login to upvote </p>");
					setTimeout(function(){clearUpvoteMessageDiv(id);}, 1500);
					url = '{% url 'account_login' %}?next=/polls/'+questionId+'/'+qslug
					// console.log(url);
					$(location).attr('href',url);
				{% endif %}
			}

			function clearUpvoteMessageDiv(id){
				$(id).empty();
			}

			google.load('visualization', '1', {packages: ['corechart', 'bar','geochart']});
			$(document).ready(function(){
			 
			  drawPollsChart("{{ csrf_token }}","",{{ question.id }});
			  window.addEventListener("resize", resizeEventHandler);

			  function resizeEventHandler() {
				drawPollsChart("{{ csrf_token }}","",{{ question.id }});
				if($('.analysis').is(':visible')){
				  drawGenderChart("{{ csrf_token }}","",{{ question.id }});
			      drawAgeChart("{{ csrf_token }}","",{{ question.id }});
			      drawOthersChart("{{ csrf_token }}","",{{ question.id }});
			      drawLocationChart("{{ csrf_token }}","",{{ question.id }});
				 }
			  }
			  
			  $('.submit').click(function(){
			      $('.analysis').toggle("slow");
				  $('#mapBackButton').removeClass("back");
				  $("#mapBackButton").css("display", "inline-block");
			      var delay=1000; //1 seconds
			      setTimeout(function(){
			      //your code to be executed after 1 seconds
			        if($('.analysis').is(':visible')){
			          drawGenderChart("{{ csrf_token }}","",{{ question.id }});
			          drawAgeChart("{{ csrf_token }}","",{{ question.id }});
			          drawOthersChart("{{ csrf_token }}","",{{ question.id }});
			          drawLocationChart("{{ csrf_token }}","",{{ question.id }});
			        }
			      }, delay); 
			    });    
			});

		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endblock %}
