{% extends "polls/common.html" %}
{% load disqus_tags %}
{% disqus_show_comments %}
{% set_disqus_url object.get_absolute_url %} 
{% load static %}
{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/index.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/questionDetail.css' %}" />
{% endblock %}
{% block extra_js %}
	<script type='text/javascript' src='https://www.google.com/jsapi'></script>
	<!-- <script src="{% static 'js/pollsGraph.js' %}"></script> -->
{% endblock %}
{% block content %}
	<meta property="og:title" content="AskPopulo"/>
	<meta property="og:type" content="Polling Site"/>
	<meta property="og:url" content="http://127.0.0.1:8000/{% url 'polls:polls_vote' question.id question.que_slug %}"/>
	<meta property="og:image" content="http://127.0.0.1:8000/static/login/images/defaultAvatar.png"/>
	<section id="content">
			<div class="questions">
				<div class="questionContent">
					<div class="userInfo">
						<div class="userImage">
							{% if question.isAnonymous %}
								<img src="/static/login/images/defaultAvatar.png"  alt="Anonymous">
							{% else %}
								{% if question.user.socialaccount_set.all %}
								  {% if question.user.extendeduser.imageUrl %}
									<img src="{{ question.user.extendeduser.imageUrl }}" alt="User {{ question.user.first_name }}">
								  {% endif %}
								{% else %}
								  {% if question.user.extendeduser.imageUrl %}
									<img src="/media/profile/{{ question.user.extendeduser.get_profile_pic_name }}" alt="User {{ question.user.first_name }}">
								  {% else %}
									<img src="/static/login/images/defaultAvatar.png"  alt="User {{ user.first_name }}">
								  {% endif %}
								{% endif %}
							{% endif %}
							<!-- <img src="{{question.question.user.extendeduser.imageurl}}" alt="{{question.question.user.first_name}}"> -->
						</div>
						<div class="userBrief">
							<p>
								{% if question.isAnonymous %}
									Anonymous
								{% else %}
									{{question.user.first_name}}
								{% endif %}
							</p>
							<p>
								Asked on:<br>
								{{ question.pub_date }}
							</p>
						</div>
					</div> 
					<div class="mainPoll">
						<p class="que_text">{{ question.question_text }}
						{% if user.is_authenticated %}
						{% if user == question.user %}
						{% if question.voted_set.count < 1 %}
						<a href="{% url 'polls:polls_edit' question.id question.que_slug %}"><i class="fa fa-pencil-square-o"></i></a>
						{% endif %}
						<a href="{% url 'polls:polls_delete' question.id question.que_slug %}"><i class="fa fa-trash-o"></i></a>
						{% endif %}
						{% endif %}
						</p>
						{% if question.description or question.questionwithcategory_set.count > 0 %}
						<p class="question_description_header">
							<span class="question_description_header_span">Description</span>
						</p>
						<p class="question_description">
							{{ question.description }}
							{% if question.description and question.questionwithcategory_set.count > 0 %}<br><br>{% endif %}
							{% for cat in question.questionwithcategory_set.all %}
								<span class="que_desc_cat_span">{{ cat.category.category_title }}</span>
							{% endfor %}
						</p>
						{% endif %}
						<p>
						<div class="choices">
						{% for choice in question.choice_set.all %}
						{% if choice.choice_image %}
							<figure>
								<img class="choiceImage choiceDetailImage" src="/media/choices/{{ choice.get_file_name }}" alt="{{ choice.choice_text }}">
								<figcaption class="choiceFigCaption">
									{% if choice.choice_text %}
										{{ choice.choice_text }}
									{% else %}
										Image{{ forloop.counter }}
									{% endif %}
								</figcaption>
							</figure>
						{% endif %}
						{% endfor %}
						</div>
						</p>
						<div id="pollsChart">
						</div>
						<div class="analyzeAndShare">
							<input id="submit" type="submit" value="Analyse" />
							<ul class="share-buttons">
								  <!-- <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost&t=ssd" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
								  <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Flocalhost&text=ssd:%20http%3A%2F%2Flocalhost" target="_blank" title="Tweet"><i class="fa fa-twitter-square fa-2x"></i></a></li>
								  <li><a href="https://plus.google.com/share?url=http%3A%2F%2Flocalhost" target="_blank" title="Share on Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li> -->
								<li ><div class="fb-share-button" data-href="http://127.0.0.1:8000/{% url 'polls:polls_vote' question.id question.que_slug %}" data-layout="button_count"></div></li>&nbsp&nbsp&nbsp
								<li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://127.0.0.1:8000/{% url 'polls:polls_vote' question.id question.que_slug %}" data-via="askpopulo" data-hashtags="AskThePeople">Tweet</a></li>&nbsp&nbsp&nbsp
								<li><div class="g-plus" data-action="share" data-annotation="bubble" data-href="http://127.0.0.1:8000/{% url 'polls:polls_vote' question.id question.que_slug %}"></div></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="analysis">
					<div class="gender">
						<div class="graphContainer">
							<p> Gender </p>
							<div id="genderChart">
							</div>
						</div>
					</div>
					<div class="age">
						<div class="graphContainer">
							<p> Age </p>
							<div id="ageChart">
							</div>
						</div>
					</div>
					<div class="location">
						<div class="graphContainer">
							<p> Location </p><div class="back" onClick="back()"><i class="fa fa-arrow-left"></i></div>
							<div id="locationChart">
							</div>
						</div>
					</div>
					<div class="others">
						<div class="graphContainer">
							<p> Others </p>
							<div id="othersChart">
							</div>
						</div>
					</div>
				</div>
				<div id="disqus_thread">
				</div>
			</div>
		</section>
		<script type="text/javascript">
			/* * * CONFIGURATION VARIABLES * * */
var disqus_shortname = 'askpopulo';

/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
var disqus_config = function() {
	this.page.remote_auth_s3 = "{{ ssoData.message }} {{ ssoData.sig }} {{ ssoData.timestamp }}";
	this.page.api_key = "{{ ssoData.pub_key }}";
	/*this.sso = {
          name:   "AskPopulo",
          button: "http://127.0.0.1:8000/static/askpopulologo.png",
          icon:   "http://127.0.0.1:8000/static/askpopulologo.png",
          url:    "http://127.0.0.1:8000/accounts/login",
          logout: "http://127.0.0.1:8000/accounts/logout",
          width:  "800",
          height: "400"
    };
	console.log("disqus_config called")
	console.log(this.page.remote_auth_s3);
	console.log(this.page.api_key);*/
};
			google.load('visualization', '1', {packages: ['corechart', 'bar','geochart']});
			$(document).ready(function(){
			 
			  drawPollsChart();
			  window.addEventListener("resize", resizeEventHandler);

			  function resizeEventHandler() {
				drawPollsChart();
				if($('.analysis').is(':visible')){
				  drawGenderChart();
			      drawAgeChart();
			      drawOthersChart();
			      drawLocationChart();
				 }
			  }
			  
			  $('#submit').click(function(){
			      $('.analysis').toggle("slow");
				  $('#mapBackButton').removeClass("back");
				  $("#mapBackButton").css("display", "inline-block");
			      var delay=1000; //1 seconds
			      setTimeout(function(){
			      //your code to be executed after 1 seconds
			        if($('.analysis').is(':visible')){
			          drawGenderChart();
			          drawAgeChart();
			          drawOthersChart();
			          drawLocationChart();
			        }
			      }, delay); 
			    });    
			});

			function drawPollsChart() {
				// console.log("{{question.choice_set.all}}");
				var pollsData = [];
				var pollsColors = ["#F7464A","#46BFBD","#66FF33","#FF6600"];
				var colCount = 0;
				pollsData.push(['Element', 'Votes', { role: 'style' }, { role: 'annotation' }]);
				{% for choice in question.choice_set.all %}
					var inData = [];
					var choice_text = "{{ choice.choice_text }}";
					choice_text = choice_text.replace( /(:|\.|\[|\]|,)/g, "\$1" );
					if(choice_text === "" || typeof choice_text === "undefined")
						choice_text = "Image{{ forloop.counter }}"
					inData.push(choice_text);
					inData.push({{ choice.vote_set.count }});
					inData.push(pollsColors[colCount++]);
					console.log(inData)
					var percent = {{ choice.vote_set.count }}/{{ question.voted_set.count }}*100;
					inData.push(percent+"%");
					//console.log(inData);
					pollsData.push(inData);
				{% endfor %}
				var data = google.visualization.arrayToDataTable(pollsData);
				var options = {
			          chartArea: {width: '60%'},
			          fontSize:20,
			          bars: {
			            groupWidth: 100
			          },
			          annotations:{
			          	textStyle: {
					      opacity: 0         // The transparency of the text.
					    }	        
			          },
			          hAxis: {
			            title: '',
			            minValue: 0,
			            gridlines: {
			              color: 'transparent'
			              },
			            textPosition: 'none',
			            baselineColor: 'transparent'
			          },
			          vAxis: {
			            title: '',
			            gridlines: {
			              color: 'transparent'
			              },
			          },
			          legend:{
			              position:'none'
			          },
			           animation:{
			              startup:true,
			              duration: 3000,
			              easing: 'inAndOut',
			         },
			        };

			        var chart = new google.visualization.BarChart(document.getElementById('pollsChart'));
			        chart.draw(data, options);
			        google.visualization.events.addListener(chart, 'animationfinish', displayAnnotation);   

			        function displayAnnotation(e){
			        data = google.visualization.arrayToDataTable(pollsData);
			        options = {
			          chartArea: {width: '60%'},
			          fontSize:20,
			          bars: {
			            groupWidth: 100
			          },
			          annotations:{
			          	textStyle: {
					      opacity: 1         // The transparency of the text.
					    }	        
			          },
			          hAxis: {
			            title: '',
			            minValue: 0,
			            gridlines: {
			              color: 'transparent'
			            },
			            textPosition: 'none',
			            baselineColor: 'transparent'
			          },
			          vAxis: {
			            title: '',
			            gridlines: {
			              color: 'transparent'
			              },
			          },
			          legend:{
			              position:'none'
			          },
			           animation:{
			              startup:true,
			              duration: 1,
			              easing: 'inAndOut',
			         },
			        };

			        chart.draw(data,options);
			      }
			  }

			function drawGenderChart() {
			  var genderData = [['Gender', 'Votes']];
			  var m = 0;
			  var f = 0;
			  {% for voted in question.voted_set.all %}
			  	{% if voted.user.extendeduser.gender == "M" %}
			  		m++;
			  	{% else %}
			  		f++;
			  	{% endif %}
			  {% endfor %}
			  genderData.push(['Male',m]);
			  genderData.push(['Female',f]);
			  var data = google.visualization.arrayToDataTable(genderData);
			  var options = {
			    pieHole: 0.4,
			    legend:'bottom'
			  };
			  var chart = new google.visualization.PieChart(document.getElementById('genderChart'));
			  chart.draw(data, options);
			}

			function drawAgeChart() {
			  var ageData = [['Age Group', 'Votes']];
			  var under_19 = 0;
			  var bet_20_35 = 0;
			  var bet_36_50 = 0;
			  var over_50 = 0;
			  {% for voted in question.voted_set.all %}
				{% if voted.user.extendeduser.calculate_age > 50 %}
			  		over_50++;
			  	{% elif voted.user.extendeduser.calculate_age > 35 %}
			  		bet_36_50++;
				{% elif voted.user.extendeduser.calculate_age > 19 %}
			  		bet_20_35++;
				{% elif voted.user.extendeduser.calculate_age > 0 %}
			  		under_19++;
				{% else %}
			  		console.log("Age wrong");
			  	{% endif %}
			  {% endfor %}
			  ageData.push(['Upto 19',under_19]);
			  ageData.push(['20-35',bet_20_35]);
			  ageData.push(['36-50',bet_36_50]);
			  ageData.push(['50+',over_50]);
			  var data = google.visualization.arrayToDataTable(ageData);
			  var options = {
			    pieHole: 0.4,
			    legend:'bottom'
			  };
			  var chart = new google.visualization.PieChart(document.getElementById('ageChart'));
			  chart.draw(data, options);
			}

			function drawOthersChart() {
				var profDict = {};
				var profData = [['Profession','Votes']];
				{% for voted in question.voted_set.all %}
					{% if voted.user.extendeduser.profession %}
						var prof = "{{ voted.user.extendeduser.profession }}";
						if(prof in profData)
							profDict[prof] = profDict[prof]+1;
						else
							profDict[prof] = 1;
					{% endif %}
				{% endfor %}
				for(prof in profDict)
					profData.push([prof,profDict[prof]]);
			  var data = google.visualization.arrayToDataTable(profData);
			  var options = {
			    pieHole: 0.4,
			    legend:'bottom'
			  };
			  var chart = new google.visualization.PieChart(document.getElementById('othersChart'));
			  chart.draw(data, options);
			}
			
			function drawLocationChart() {
			    $('#mapBackButton').removeClass('back');
				var conData = [['Country', 'Votes']];
				var conDict = {};
				{% for voted in question.voted_set.all %}
					{% if voted.user.extendeduser.country %}
						var country = "{{ voted.user.extendeduser.country }}";
						if(country in conDict)
							conDict[country] = conDict[country]+1;
						else
							conDict[country] = 1;
					{% endif %}
				{% endfor %}
				for(con in conDict){
					conData.push([con,conDict[con]]);
				}
			    var data = google.visualization.arrayToDataTable(conData);
			    var options = {};
			    var chart = new google.visualization.GeoChart(document.getElementById('locationChart'));
			    chart.draw(data, options);
			    google.visualization.events.addListener(chart, 'regionClick', selectHandler);
			}
			function selectHandler(e) {
			  /*if(e.region == 'IN'){
				$("#mapBackButton").css("display", "inline-block");
				$('#mapBackButton').addClass("back");
			    drawIndiaMap()
			  } else if(e.region == 'US'){
				$("#mapBackButton").css("display", "inline-block");
				$('#mapBackButton').addClass("back");
			    drawUSMap()
			  }*/
				$("#mapBackButton").css("display", "inline-block");
				$('#mapBackButton').addClass("back");
				drawStateMap(e.region);
			}
			
			var regionDict = {
				"IN" :"India","AZ":"Azerbaijan"
			}
				
			function drawStateMap(region){
				var options = {
			      region: region,
			      displayMode: 'regions',
			      resolution: 'provinces',
			      datalessRegionColor: '#666',
			      colorAxis: {colors: ['#FF9900', '#FFFFFF', '#00CC00']},
			      backgroundColor: '#81d4fa',
			      domain: 'IN'
			  };
				var stateContry = regionDict[region];
				var stateData = [['State', 'Votes']];
				var stateDict = {};
				{% for voted in question.voted_set.all %}
					{% if voted.user.extendeduser.country %}
						var country = "{{ voted.user.extendeduser.country }}";
						if(country == stateContry){
							var state = "{{ voted.user.extendeduser.state }}";
							if(state in stateDict)
								stateDict[state] = stateDict[state]+1;
							else
								stateDict[state] = 1;
						}
					{% endif %}
				{% endfor %}
				for(state in stateDict){
					stateData.push([state,stateDict[state]]);
				}
				var data = google.visualization.arrayToDataTable(stateData);
				var chart = new google.visualization.GeoChart(document.getElementById('locationChart'));
				chart.draw(data, options);
			}
			    
			/*US Starts*/
			function drawUSMap() {
			  var data = google.visualization.arrayToDataTable([
			            ['State', 'Data'],
			            ['California', 5],
			            ['Texas', 22],
			            ['Florida', 37],
			            ['New York', 15],
			            ['Illinois',7],
			            ['Pennsylvania',102],
			            ['Ohio',112],
			            ['Georgia',3],
			            ['North Carolina',76],
			            ['Michigan',13],
			            ['New Jersey',47],
			            ['Virginia',39],
			            ['Washington',20],
			            ['Massachusetts',33],
			            ['Arizona',21],
			            ['Indiana',45],
			            ['Tennessee',77],
			            ['Missouri',67],
			            ['Maryland',1],
			            ['Wisconsin',4],
			            ['Minnesota',65],
			            ['Colorado',8],
			            ['Alabama',21],
			            ['South Carolina',3],
			            ['Louisiana',143],
			            ['Kentucky',17],
			            ['Oregon',33],
			            ['Oklahoma',99],
			            ['Puerto Rico',11],
			            ['Connecticut',1],
			            ['Iowa',44],
			            ['Mississippi',175],
			            ['Arkansas',3],
			            ['Utah',11],
			            ['Kansas',4],
			            ['Nevada',65],
			            ['New Mexico',8],
			            ['Alabama',21],
			            ['Nebraska',3],
			            ['West Virginia',143],
			            ['Idaho',17],
			            ['Hawaii',33],
			            ['Maine',99],
			            ['New Hampshire',11],
			            ['Rhode Island',1],
			            ['Montana',44],
			            ['Delaware',175],
			            ['South Dakota',3],
			            ['North Dakota',11],
			            ['Alaska',33],
			            ['District of Columbia',99],
			            ['Vermont',11],
			            ['Rhode Island',1],
			            ['Wyoming',44],
			            ['Guam',175],
			            ['U.S. Virgin Islands',3],
			            ['American Samoa',11],
			            ['Northern Mariana Islands',11]
			  ]);
			var options = {
			    region: 'US',
			    displayMode: 'regions',
			    resolution: 'provinces',
			    datalessRegionColor: '#666',
			    colorAxis: {colors: ['#B22234', '#FFFFFF', '#3C3B6E']},
			    backgroundColor: '#81d4fa',
			    domain: 'IN',
			    width: '100%'
			  };

			  var chart = new google.visualization.GeoChart(document.getElementById('locationChart'));
			  chart.draw(data, options);
			};
			/*US Ends*/

			function back(){  
				$("#mapBackButton").css("display", "none");  
			    drawLocationChart();
			}
   


		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endblock %}