{% extends "polls/common.html" %}
{% load static %}
{% load url_target_blank %}
{% block meta_data_extra %}
	{% with survey.has_image as has_image %}
	{%if has_image|length > 0 %}
	{% for share_image in has_image %}
		<meta property="og:image" content="http://{{ request.META.HTTP_HOST }}{{ share_image }}"/>
	{% endfor %}
		<meta property="og:image:width" content="300" />
		<meta property="og:image:height" content="300" />
	{% else %}
		<meta property="og:image" content="http://{{ request.META.HTTP_HOST }}/static/pollsLogoShareNew.png"/>
	{% endif %}
	{% endwith %}
	<meta property="og:url" content="https://{{ request.META.HTTP_HOST }}{{ request.path }}"/>
	<meta property="og:title" content="{{ survey.survey_name  }}"/>
	<meta property="og:description" content="{{ survey.description  }}" />
{% endblock %}
{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/index.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/survey_vote.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/ion.rangeSlider.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/ion.rangeSlider.skinFlat.css' %}" />
	<style>
		{% if survey.id == 64 %}
			.userImage{
				display:none;
			}
			.userBrief-center{
				margin-top:7rem;
			}
			img.survey-featured{
				height: initial;
			}
		{% endif %}
	</style>
{% endblock %}
{% block extra_js %}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript" src="{% static 'js/ion.rangeSlider.min.js' %}"></script>
{% endblock %} 
{% block content %}
	<section id="content">
		<div class="questions">
			<div class="questionContent">
				<p class="que_text que_text_header">{{ survey.survey_name }}</p>
				{% if survey.has_image %}
					<img src="{{ survey.get_featured_image_url }}" class="survey-featured" alt="{{ survey.survey_name }}">
				{% else %}
					<style type="text/css">
						.userInfo{
							margin-top: -3%;
						}
					</style>
				{% endif %}
				<div class="userInfo">
					<div class="userImage">
						<a href="{% url 'login:loggedIn' survey.user.id survey.user.extendeduser.user_slug %}">
								<img src="{{ survey.user.extendeduser.get_profile_pic_url }}"  alt="User {{ survey.user.first_name }}">
						</a>
					</div>
					<p class="userBrief-center">{{ survey.user.extendeduser.company.description }}</p>
					<div class="userBrief">
						<!-- <p>
							<a href="{% url 'login:loggedIn' survey.user.id survey.user.extendeduser.user_slug %}">
									{{ survey.user.first_name }}
							</a>
						</p> -->
						<p>
							Survey Valid till : <span id="{{ survey.id }}expirydate"></span>
						</p>
					</div>
					<div class="userBrief-right">
						<!-- <p>
							<a href="javascript:;">
									{{ survey.user.extendeduser.company.description }}
							</a>
						</p> -->
						<p>
							Time To Complete : About <span id="{{ survey.id }}expectedtime">{{ survey.expected_time }} Minutes</span>
						</p>
					</div>
				</div>
				<div class="mainPoll">
					<p class="que_text special-case" id="survey-title">{{ survey.survey_name }}
						{% if user.is_authenticated %}
							{% if user == survey.user or user.is_superuser %}
							{% if survey.surveyvoted_set.count < 1 or user.is_superuser %}
							<a href="{% url 'polls:survey_edit' survey.id survey.survey_slug %}"><i class="fa fa-pencil-square-o"></i></a>
							{% endif %}
							<a href="{% url 'polls:survey_clone' survey.id survey.survey_slug %}"><i class="fa fa-files-o"></i></a>
							<a href="{% url 'polls:survey_delete' survey.id survey.survey_slug %}"><i class="fa fa-trash-o" onclick="if(confirm_redirect('#overlay-inAbox2','delete_survey','{% url 'polls:survey_delete' survey.id survey.survey_slug %}')) return true; else return false;"></i></a>
							{% endif %}
						{% endif %}
					</p>
					<p class="special-userBrief-center">Time to Complete: About <span id="{{ survey.id }}expectedtime">{{ survey.expected_time }} Minutes</span></p>
					{% if survey.description or survey.surveywithcategory_set.count > 0 %}
					<p class="question_description_header">

							<span class="question_description_header_span">Description</span>
					</p>
					<p class="question_description">
						{{ survey.description|urlize|url_target_blank }}
						{% if survey.description and survey.questionwithcategory_set.count > 0 %}<br><br>{% endif %}
						{% for cat in survey.questionwithcategory_set.all %}
							<a class="que_desc_cat_span" href="{% url 'polls:polls_category' %}?category={{ cat.category.category_title }}">{{ cat.category.category_title }}</a>
						{% endfor %}
					</p>
					{% endif %}
					
					{% if demo_list|length > 0 and user.is_authenticated %}
					<p class="question_description_header">

						<span class="question_description_header_span">Demographics</span>
					</p>
					{% endif %}
					
					<div class="survey-questions" id="survey-{{ survey.id }}">
						<form id="survey-form" method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						<input type="hidden" name="unique_key" value="{{ unique_key }}" />
						{% if not survey.id = 54 and not survey.id = 64 and not user.is_authenticated %}
						<div class="question_description" id="demographic-div">
							<select class="" id="age" name="demographic-age">
									<option value="">Age Group</option>
									<option value="16"><19</option>
									<option value="22">20-25</option>
									<option value="28">26-30</option>
									<option value="33">31-35</option>
									<option value="43">36-50</option>
									<option value="55">>50</option>
							</select>
							<select class="" id="gender" name="demographic-gender">
								<option value="">Gender</option>
								<option value="Female">Female</option>
								<option value="Male">Male</option>
								<option value="D">Rather Not Say</option>
							</select>
							<select class="" id="profession" name="demographic-profession">
								<option value="">Profession</option>
								<option value="Student">Student</option>
								<option value="Politics">Politics</option>
								<option value="Education">Education</option>
								<option value="Information Technology">Information Technology</option>
								<option value="Public Sector">Public Sector</option>
								<option value="Social Services">Social Services</option>
								<option value="Medical">Medical</option>
								<option value="Finance">Finance</option>
								<option value="Manager">Manager</option>
								<option value="Others">Others</option>
							</select>
							<input style="width: 20rem;" type="text" class="" id="email" placeholder="Enter Email for Authentication. No Spam Ever!" name="demographic-email">
						{% elif demo_list|length > 0 %}
							<div class="question_description" id="demographic-div">
						{% endif %}
						{% for demo in demo_list %}
							{% if demo.values|length > 0 %}
								<select class="question-type-select" id="{{ demo.name }}" name="demographic-{{ demo.name }}">
								<option value="">{{ demo.name }}</option>
									{% for value in demo.values %}
										<option value="{{ value }}">{{ value }}</option>
									{% endfor %}
								</select>
							{% else %}
								<input type="text" id="{{ demo.name }}" value="" placeholder="{{ demo.name }}" name="demographic-{{ demo.name }}" />
							{% endif %}
						{% endfor %}
						{% if not survey.id = 54 and not survey.id = 64 and not user.is_authenticated %}
							</div>
						{% elif demo_list|length > 0 %}
							</div>
						{% endif %}
						{% for key,value in polls_section_dict.items %}
							{% if key == 'NULL' %}
								<style type="text/css">
									.survey-sections{
										padding:0;
										margin: 0;
										border:0;
										display: block;
									}
								</style>
							{% endif %}
							<div class="survey-sections" id="section---{{ forloop.counter }}">
								{% if key != 'NULL' %}
									<div class="section-name-div"><span class="section-name">Section : {{ key|title }}</span></div>
								{% endif %}
								{% for question in value %}
									<div class="survey-question" id="survey-question{{ question.poll.id }}">
									<p class="que_text {{ question.mandatory|get_required }}">{{ question.poll.question_text }}</p>
									{% if question.poll.description %}
										<p class="question_description_header">
											<span class="question_description_header_span">Description</span>
										</p>
										<p class="question_description">{{ question.poll.description|urlize|url_target_blank }}</p>
									{% endif %}
									<!-- <p> -->
										<div class="optionsForm" id="optionsForm{{ question.poll.id }}">
											{% if question.type == "text" %}
												<textarea id ="choiceText{{ question.poll.id }}" class="text-ans" name="choice{{ question.poll.id }}" placeholder="Enter Your Response in max 255 characters" maxlength="255">{{ question.answer }}</textarea>
											{% elif question.type == "rating" %}
												<div id="div-irs-{{ question.poll.id }}">
											        <input type="text" id="range{{ question.poll.id }}" value="" name="choice{{ question.poll.id }}" />
											        <input type="hidden" id="choice{{ question.poll.id }}" value="" name="range{{ question.poll.id }}" />
											    </div>
											    <script>
											    	{% if question.user_already_voted or expired %}
														$('#range{{ question.poll.id }}').ionRangeSlider({
															keyboard: true,
															min: {{ question.min_value }},
															max: {{ question.max_value }},
															from: {{ question.from_val }},
															to: {{ question.to_val }},
															type: 'double',
															step: 1,
															disable: true
														});
														$("#div-irs-{{ question.poll.id }} span.irs-from").text("{{ question.from_str }}");
														$("#div-irs-{{ question.poll.id }} span.irs-to").text("{{ question.to_str }}");
										    		{% else %}
												    	 	$('#range{{ question.poll.id }}').ionRangeSlider({
												            keyboard: true,
												            min: {{ question.min_value }},
												            max: {{ question.max_value }},
												            from: {{ question.min_value }},
												            type: 'single',
												            step: 1,
												            onFinish: function (data) {
																$('#choice{{ question.poll.id }}').val(data.from_percent);
																}
												        	});
													{% endif %}
												</script>
											{% elif question.type == "matrixrating" %}
												<div class="table-container">
													<div class="table-component">
														<table>
															<tr>
																<th></th>
																{% for columns in question.poll.matrixratingcolumnlabels_set.all %}
																	<th> {{ columns.columnLabel }} </th>
																{% endfor %}
															</tr>
															{% for choice in question.poll.choice_set.all %}
																<tr>
																	<th> {{ choice.choice_text }} </th>
																	{% for columns in question.poll.matrixratingcolumnlabels_set.all %}
																		<td onclick="handleRadioRow(this)"> <input type="radio" value="{{ choice.id }}---{{ columns.id }}" name="{{ choice.id }}" id="choice{{ question.poll.id }}"> </td>
																	{% endfor %}
																</tr>
															{% endfor %}
														</table>
													</div>
												</div>
											{% else %}
												{% if question.poll.id|stringformat:"s" == "4047" %}
													<p class="question_description_header">
														<span class="question_description_header_span">Chennai</span>
													</p>
													<p id="question_description_1" class="question_description"></p>
													<br><br>
													<p class="question_description_header">
														<span class="question_description_header_span">Greater Chennai</span>
													</p>
													<p  id="question_description_2" class="question_description"></p>
												{% endif %}
												{% for choice in question.poll.choice_set.all %}
												{% if question.horizontalOptions %}
													<p class="horizontal-options">
												{% else %}
													{% if  forloop.counter0|divisibleby:2 %}
														<p class="vertical-options" style="    background-color: rgba(192,192,192,0.2);">
													{% else %}
														<p class="vertical-options" style="    background-color: rgba(192,192,192,0.5);">
													{% endif %}
												{% endif %}
													{% if question.poll.id|stringformat:"s" == "4047" %}
														{% if choice.choice_text == "Dr.Radhakrishnan Nagar" or choice.choice_text == "Perambur" or choice.choice_text == "Kolathur" or choice.choice_text == "Villivakkam" or choice.choice_text == "Thiru. Vi. Ka. Nagar (SC)" or choice.choice_text == "Egmore (SC)" or choice.choice_text == "Royapuram" or choice.choice_text == "Harbour" or choice.choice_text == "Chepauk-Thiruvallikeni" or choice.choice_text == "Thousand Lights" or choice.choice_text == "Anna Nagar" or choice.choice_text == "Virugambakkam" or choice.choice_text == "Saidapet" or choice.choice_text == "T. Nagar" or choice.choice_text == "Mylapore" or choice.choice_text == "Velachery" %}
															<script>
																$('#question_description_1').append('<p id="{{ choice.id  }}---chennaiSurvey" onclick="handleRadioP(this)"><input class="choices" type="{{ question.type }}" name="choice{{ question.poll.id }}" id="choice{{ choice.id }}" value="{{ choice.id }}" /><label class="choice-text" for="choice{{ choice.id }}"> {{ choice.choice_text }}</label></p>');
															</script>
														{% else %}
															<script>
																$('#question_description_2').append('<p id="{{ choice.id  }}---chennaiSurvey" onclick="handleRadioP(this)" ><input class="choices" type="{{ question.type }}" name="choice{{ question.poll.id }}" id="choice{{ choice.id }}" value="{{ choice.id }}" /><label class="choice-text" for="choice{{ choice.id }}">{{ choice.choice_text }}</label></p>');
															</script>
														{% endif %}
													{% else %}
														<input class="choices" type="{{ question.type }}" name="choice{{ question.poll.id }}" id="choice{{ choice.id }}" value="{{ choice.id }}" />
														<label class="choice-text" for="choice{{ choice.id }}">
															{% if choice.choice_image %}
															<script>
																$('.choice_image').css({"width":"120px","height":"120px"});
																$("#choice{{ choice.id }}").hide();
																var item = $("#choice{{ choice.id}}");
																item.parent().css({"display":"inline-block"});
																// console.log($this.parent().next().children().first().show());
															</script>
																<img class="choices choice_image" id="choice{{ choice.id }}" src="/media/choices/{{ choice.get_file_name }}" title="{{ choice.choice_text }}" alt="{{ choice.choice_text }}">
																<!-- {{ choice.choice_text }} -->
															{% else %}
																{{ choice.choice_text }}
															{% endif %}
														</label>
													{% endif %}
													</p>
												{% endfor %}
												{% if question.poll.protectResult and user != question.poll.user %}
												{% else %}
													<div id="pollsChart---{{ question.poll.id }}" class="pollsChartClass"></div>
												{% endif %}
												{% if question.addComment %}
													<p id="{{ question.poll.id }}othercomments">Any Other Comments</p>
													<textarea id ="choiceText{{ question.poll.id }}Comment" class="text-ans" name="choice{{ question.poll.id }}Comment" placeholder="Enter Your Response in max 255 characters" maxlength="255">{{ question.answer }}</textarea>
												{% endif %}
											{% endif %}
											{% if question.user_already_voted or expired%}
												<script type="text/javascript">
												$(document).ready(function(){
													if($("#pollsChart---"+{{ question.poll.id }}).length >0)
														drawPollsChart("{{ csrf_token }}","",{{ question.poll.id }});
													else{
														$("#choiceText"+{{ question.poll.id }}).attr('disabled','disabled');
														if($("#pollsVoted---"+{{ question.poll.id }}).length >0)
															$("#pollsVoted---"+{{ question.poll.id }}).show();
													}
													if($("#choiceText"+{{ question.poll.id }}+"Comment").length >0)
														$("#choiceText"+{{ question.poll.id }}+"Comment").attr('disabled','disabled');
												});
												</script>
											{% else %}
											{% endif %}
										</div>
									<!-- </p> -->
									</div>
								{%endfor%}
								{% if polls_section_dict.items|length > forloop.counter %}
									<p class="btn next-section" id="next-section---{{ forloop.counter }}">Next</p>
								{% else %}
									<input class="submit btn voteSubmit surveySubmit" type="submit" value="Submit" id="vote{{ survey.id }}"/>
								{% endif %}
							</div>
						{% endfor %}
						</form>
					</div>
					<!-- {% if not user_already_voted and not expired %}
						<input class="submit btn voteSubmit surveySubmit" type="submit" value="Submit" id="vote{{ survey.id }}"/>
					{% endif %} -->
				</div>
			</div>
			<div class="pollInfo  pollsInfoVotePage clearfix">
				<div class="pollInfoDataDetail clearfix">
					<ul class="pollInfoUl clearfix">
						<li><span class="pollInfoNum">{{ survey.surveyvoted_set.count }}</span> <i title="opinions" class="fa fa-check-circle"></i> Opinions</li>
						<li>
							{% if survey.expiry and not expired %}
								<!-- Time Left:<br> -->
								<div id="{{ survey.id }}timer" class="timerClass"></div>
							{% endif %}
							<script>
								var currentDate = new Date();
								var offset = currentDate.getTimezoneOffset();

								var utcDate = new Date({{ survey.pub_date.year }}, {{ survey.pub_date.month }} - 1, {{ survey.pub_date.day }}, {{ survey.pub_date.hour }}, {{ survey.pub_date.minute }}, {{ survey.pub_date.second }});

								// var publicationDate = new Date({{ survey.pub_date.year }}, {{ survey.pub_date.month }}, {{ survey.pub_date.day }}, {{ survey.pub_date.hour }}, {{ survey.pub_date.minute }}-offset, {{ survey.pub_date.second }});
								// var pubDateString = publicationDate.getFullYear()+'/'+publicationDate.getMonth()+'/'+publicationDate.getDate()+' '+publicationDate.getHours()+':'+publicationDate.getMinutes();
								// document.getElementById('{{ survey.id }}pubdate').innerHTML = pubDateString;

								{% if survey.expiry and not expired %}

								var expiryDate = new Date({{ survey.expiry.year }}, {{ survey.expiry.month }} - 1, {{ survey.expiry.day }}, {{ survey.expiry.hour }}, {{ survey.expiry.minute }}-offset, {{ survey.expiry.second }});
								var ampm = expiryDate.getHours() > 12 ? 'pm' : 'am';
								var hours = expiryDate.getHours()%12;
								var minutes = expiryDate.getMinutes();
								hours = hours ? hours : 12;
								minutes = minutes < 10 ? '0'+minutes : minutes;
								
								var month = expiryDate.getMonth()+1;
								var expiryDateString = expiryDate.getDate()+'/'+month+'/'+expiryDate.getFullYear()+' '+hours+':'+minutes+' '+ampm;
								document.getElementById('{{ survey.id }}expirydate').innerHTML = expiryDateString;
								$("#{{ survey.id }}timer").countdown({until: new Date({{ survey.expiry.year }}, {{ survey.expiry.month }} - 1, {{ survey.expiry.day }}, {{ survey.expiry.hour }}, {{ survey.expiry.minute }}-offset, {{ survey.expiry.second }}),compact: true, onExpiry:disableVoteButton});
								{% else %}
									document.getElementById('{{ survey.id }}expirydate').innerHTML = "Till The End Of Time";
								{% endif %}

								function disableVoteButton(){
									$('#vote{{ survey.id }}').attr('disabled','disabled');
									$('#vote{{ survey.id }}').attr('value','Expired');
								}
							</script>
						</li>
						<ul class="pollInfoUl clearfix share-buttons">
							{% if user.is_authenticated %}
							<li ><div class="fb-share-button" data-href="http://{{ request.META.HTTP_HOST  }}/{% url 'polls:survey_vote' survey.id survey.survey_slug %}?referral={{ referral_code }}" data-layout="button_count"></div></li>&nbsp&nbsp&nbsp
							<li><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://{{ request.META.HTTP_HOST }}{% url 'polls:survey_vote' survey.id survey.survey_slug %}?referral={{ referral_code }}" data-via="askbypoll" data-count="horizontal" data-counturl="https://{{ request.META.HTTP_HOST }}{% url 'polls:survey_vote' survey.id survey.survey_slug %}" data-hashtags="AskByPoll">Tweet</a></li>&nbsp&nbsp&nbsp
							<li><div class="g-plus" data-action="share" data-annotation="bubble" data-href="http://{{ request.META.HTTP_HOST  }}/{% url 'polls:survey_vote' survey.id survey.survey_slug %}?referral={{ referral_code }}"></div></li>
							{% else %}
							<li ><div class="fb-share-button" data-href="http://{{ request.META.HTTP_HOST  }}/{% url 'polls:survey_vote' survey.id survey.survey_slug %}" data-layout="button_count"></div></li>&nbsp&nbsp&nbsp
							<li><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://{{ request.META.HTTP_HOST }}{% url 'polls:survey_vote' survey.id survey.survey_slug %}" data-via="askbypoll" data-count="horizontal" data-counturl="https://{{ request.META.HTTP_HOST }}{% url 'polls:survey_vote' survey.id survey.survey_slug %}" data-hashtags="AskByPoll">Tweet</a></li>&nbsp&nbsp&nbsp
							<li><div class="g-plus" data-action="share" data-annotation="bubble" data-href="http://{{ request.META.HTTP_HOST  }}/{% url 'polls:survey_vote' survey.id survey.survey_slug %}"></div></li>
							{% endif %}
						</ul>
					</ul>
				</div>
			</div>
			<div id="disqus_thread">
			</div>
		</div>
	</section>
	<script type="text/javascript">
		for(var tempque = 4186; tempque <= 4201; tempque++){
			$('#survey-question'+tempque).css('display','none');
		}
		function handleRadioRow(el) {
    		var radioBtn = $(el).find('input').first();
    		radioBtn.prop('checked',true);
  		}

		function handleRadioP(el){
			var radioBtn = $(el).find('input').first();
	                radioBtn.prop('checked',true);
		}
		google.load('visualization', '1', {packages: ['corechart', 'bar','geochart']});
		{% if user.is_authenticated %}
			var disqus_shortname = 'askbypoll';

			/* * * DON'T EDIT BELOW THIS LINE * * */
			(function() {
			    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
			var disqus_config = function() {
				this.page.remote_auth_s3 = "{{ ssoData.message }} {{ ssoData.sig }} {{ ssoData.timestamp }}";
				this.page.api_key = "{{ ssoData.pub_key }}";
				};
		{% endif %}
		$(document).ready(function()
		{	
			var mandatoryCommentsId = [];
			var alreadyVoted7858 = false;
			var alreadyVoted7859 = false;
			var alreadyVoted7860 = false;
			var alreadyVoted7861 = false;
			
			$(".choice-text").click(function(event){
				event.preventDefault();
			})

			$(".vertical-options,.horizontal-options").click(function(event){
				
				var input = $(this).find('input').first();
				var questionDivId = input.parent().parent().parent().attr('id').split('-')[1].replace('question','');
				var index = mandatoryCommentsId.indexOf(questionDivId);
				if (index > -1) {
    					mandatoryCommentsId.splice(index, 1);
						$("#"+questionDivId+"othercomments").text("Any Other Comments");
						$("#"+questionDivId+"othercomments").removeClass("othercommentscolor");
				}
				
				if(input.attr('id') === 'choice8062' || input.attr('id') === 'choice8063' || input.attr('id') === 'choice8056' || input.attr('id') === 'choice8057' || input.attr('id') === 'choice8032' || input.attr('id') === 'choice8033' || input.attr('id') === 'choice8002' || input.attr('id') === 'choice8003' || input.attr('id') === 'choice7978' || input.attr('id') === 'choice7979' || input.attr('id') === 'choice7954' || input.attr('id') === 'choice7955' || input.attr('id') === 'choice7931' || input.attr('id') === 'choice7932' || input.attr('id') === 'choice7907' || input.attr('id') === 'choice7908' || input.attr('id') === 'choice7883' || input.attr('id') === 'choice7884' || input.attr('id') === 'choice7831' || input.attr('id') === 'choice7832'){
					
					var questionDivId = input.parent().parent().parent().attr('id').split('-')[1].replace('question','');
					var labelText = $("label[for="+input.attr('id')+"]").text().trim();
					
					$("#"+questionDivId+"othercomments").text("Please Provide Additional Comments Since You Have Chosen "+labelText);
					$("#"+questionDivId+"othercomments").addClass("othercommentscolor");
					$("#choiceText"+questionDivId+"Comment").focus();
					mandatoryCommentsId.push(questionDivId);
				}
				
				if((event.target.type !== 'checkbox') && (input.attr('type') === 'checkbox')) {
					if(input.is(':checked')){
						input.prop('checked', false);
					} else {
						input.prop('checked', true);
					}
				} 
				
				if((event.target.type !== 'radio') && ( input.attr('type') === 'radio')) {
					input.prop('checked', true);
				}				
				var optionsFormId = $(this).parent().attr("id");
				$("#"+optionsFormId+" p").removeClass("selectedOption");
				$(this).addClass("selectedOption");
				
				// Symphony summit changes

				if(input.attr('id') === 'choice7858' || input.attr('id') === 'choice7859' || input.attr('id') === 'choice7860' || input.attr('id') === 'choice7861'){
					
					if($('#choice7858').is(":checked")){
						if(input.attr('id') === 'choice7858' && !alreadyVoted7858){
							for(var temp=7862; temp<=7885; temp++){
								$('#choice'+temp).attr('checked',false);
								if(temp === 7867 || temp === 7873 || temp == 7879 || temp === 7885){
									$('#choice'+temp).parent().removeClass('selectedOption');
								}
							}
						}
						$('#survey-question'+'4186').css('display','block');
						$('#survey-question'+'4187').css('display','block');
						$('#survey-question'+'4188').css('display','block');
						$('#survey-question'+'4189').css('display','block');
						alreadyVoted7858 = true;
					} else {
						$('#survey-question'+'4186').css('display','none');
						$('#survey-question'+'4187').css('display','none');
						$('#survey-question'+'4188').css('display','none');
						$('#survey-question'+'4189').css('display','none');
						if(!alreadyVoted7858){
							for(var temp=7862; temp<=7885; temp++){
								$('#choice'+temp).attr('checked',false);
								if(temp === 7867 || temp === 7873 || temp == 7879 || temp === 7885){
									$('#choice'+temp).click();
								}
							}
						} else {
							if (! $('input[name="choice4186"]:checked').length) {
								$('#choice7867').click();
      						}
							if (! $('input[name="choice4187"]:checked').length) {
								$('#choice7873').click();
      						}
							if (! $('input[name="choice4188"]:checked').length) {
								$('#choice7879').click();
      						}
							if (! $('input[name="choice4189"]:checked').length) {
								$('#choice7885').click();
      						}
						}
					}
					
					if($('#choice7859').is(":checked")){
						if(input.attr('id') === 'choice7859'  && !alreadyVoted7859){
							for(var temp=7886; temp<=7909; temp++){
								$('#choice'+temp).attr('checked',false);
								if(temp === 7891 || temp === 7897 || temp == 7903 || temp === 7909){
									$('#choice'+temp).parent().removeClass('selectedOption');
								}
							}
						}
						$('#survey-question'+'4191').css('display','block');
						$('#survey-question'+'4192').css('display','block');
						$('#survey-question'+'4190').css('display','block');
						$('#survey-question'+'4193').css('display','block');
						alreadyVoted7859 = true;
					} else {
						$('#survey-question'+'4190').css('display','none');
						$('#survey-question'+'4191').css('display','none');
						$('#survey-question'+'4192').css('display','none');
						$('#survey-question'+'4193').css('display','none');
						if(!alreadyVoted7859){
							for(var temp=7886; temp<=7909; temp++){
								$('#choice'+temp).attr('checked',false);
								if(temp === 7891 || temp === 7897 || temp == 7903 || temp === 7909){
									$('#choice'+temp).click();
								}
							}
						} else {
							if (! $('input[name="choice4190"]:checked').length) {
								$('#choice7891').click();
      						}
							if (! $('input[name="choice4191"]:checked').length) {
								$('#choice7897').click();
      						}
							if (! $('input[name="choice4192"]:checked').length) {
								$('#choice7903').click();
      						}
							if (! $('input[name="choice4193"]:checked').length) {
								$('#choice7909').click();
      						}
						}
					}
					
					if($('#choice7860').is(":checked")){
						if(input.attr('id') === 'choice7860'  && !alreadyVoted7860){
							for(var temp=7910; temp<=7933; temp++){
								$('#choice'+temp).attr('checked',false);
								if(temp === 7915 || temp === 7921 || temp == 7927 || temp === 7933){
									$('#choice'+temp).parent().removeClass('selectedOption');
								}
							}
						}
						$('#survey-question'+'4194').css('display','block');
						$('#survey-question'+'4195').css('display','block');
						$('#survey-question'+'4196').css('display','block');
						$('#survey-question'+'4197').css('display','block');
						alreadyVoted7860 = true;
					} else {
						$('#survey-question'+'4194').css('display','none');
						$('#survey-question'+'4195').css('display','none');
						$('#survey-question'+'4196').css('display','none');
						$('#survey-question'+'4197').css('display','none');
						if(!alreadyVoted7860){
							for(var temp=7910; temp<=7933; temp++){
								$('#choice'+temp).attr('checked',false);
								if(temp === 7915 || temp === 7921 || temp == 7927 || temp === 7933){
									$('#choice'+temp).click();
								}
							}
						} else {
							if (! $('input[name="choice4194"]:checked').length) {
								$('#choice7915').click();
      						}
							if (! $('input[name="choice4195"]:checked').length) {
								$('#choice7921').click();
      						}
							if (! $('input[name="choice4196"]:checked').length) {
								$('#choice7927').click();
      						}
							if (! $('input[name="choice4197"]:checked').length) {
								$('#choice7933').click();
      						}
						}
					}
					
					if($('#choice7861').is(":checked")){
						if(input.attr('id') === 'choice7861'  && !alreadyVoted7861){
							for(var temp=7934; temp<=7956; temp++){
								$('#choice'+temp).attr('checked',false);
								if(temp === 7944 || temp === 7950 || temp === 7956){
									$('#choice'+temp).parent().removeClass('selectedOption');
								}
							}
							$('#choice8065').attr('checked',false);
							$('#choice8065').parent().removeClass('selectedOption');
						}
						$('#survey-question'+'4198').css('display','block');
						$('#survey-question'+'4199').css('display','block');
						$('#survey-question'+'4200').css('display','block');
						$('#survey-question'+'4201').css('display','block');
						alreadyVoted7861 = true;
					} else {
						$('#survey-question'+'4198').css('display','none');
						$('#survey-question'+'4199').css('display','none');
						$('#survey-question'+'4200').css('display','none');
						$('#survey-question'+'4201').css('display','none');
						if(!alreadyVoted7861){
							for(var temp=7934; temp<=7956; temp++){
								$('#choice'+temp).attr('checked',false);
								if(temp === 7944 || temp === 7950 || temp === 7956){
									$('#choice'+temp).click();
								}
						}	
							$('#choice8065').click();
						} else {
							if (! $('input[name="choice4198"]:checked').length) {
								$('#choice7944').click();
      						}
							if (! $('input[name="choice4199"]:checked').length) {
								$('#choice7950').click();
      						}
							if (! $('input[name="choice4200"]:checked').length) {
								$('#choice7956').click();
      						}
							if (! $('input[name="choice4201"]:checked').length) {
								$('#choice8065').click();
      						}
						}
					}
				}
				// Symphony summit changes end
				
			 });

			$(".next-section").click(function(event){
				var elementId = $(this).attr("id").split("---")[1];
				//Symphony summit survey changes
				if({{ survey.id }} === 64)
				{
					$(".errorlist").remove();
    				var regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,5}$/;
    				var validateEmail =  (regex.test($('#choiceText4177').val())) ? true : false;
					if($('#choiceText4177').val() === '' || !validateEmail){
						$("#survey-question4177").append('<span class="errorlist"><br> Please Provide A Valid Email Id To Proceed </span>');
						$('#choiceText4177').focus();
						return false;
					}
					
					if(elementId === "2")
					{
						if (! $('input[name="choice4180"]:checked').length) {
								$("#survey-question4180").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      					} else {
							  if($('#choice7831').is(":checked") || $('#choice7832').is(":checked")){
								  if($('#choiceText4180Comment').val() === ""){
									  $("#survey-question4180").append('<span class="errorlist"><br> Please Provide Feedback Before Proceeding </span>');
									  $('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
									  $('#choiceText4180Comment').focus();
									  return false;
								  }
							  }
						}
						
						if (! $('input[name="choice4181"]:checked').length) {
								$("#survey-question4181").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      					}
						  
						if (! $('input[name="choice4182"]:checked').length) {
								$("#survey-question4182").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      					}
						  
						if (! $('input[name="choice4183"]:checked').length) {
								$("#survey-question4183").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      					}
						  
						if (! $('input[name="choice4184"]:checked').length) {
								$("#survey-question4184").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      					}
					} // sec 2 end
					
					if(elementId === "3")
					{
						if (! $('input[name="choice4185"]:checked').length) {
								$("#survey-question4185").append('<span class="errorlist"><br> Select Atleast One Product Line </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      					}
						  
						if($('#choice7858').is(":checked")){
							if (! $('input[name="choice4186"]:checked').length) {
								$("#survey-question4186").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      						}
							
							if (! $('input[name="choice4187"]:checked').length) {
								$("#survey-question4187").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      						}
							  
							if (! $('input[name="choice4188"]:checked').length) {
								$("#survey-question4188").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      						}
							  
							if (! $('input[name="choice4189"]:checked').length) {
								$("#survey-question4189").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      						} else {
								  if($('#choice7883').is(":checked") || $('#choice7884').is(":checked")){
									if($('#choiceText4189Comment').val() === ""){
										$("#survey-question4189").append('<span class="errorlist"><br> Please Provide Feedback Before Proceeding </span>');
										$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
										$('#choiceText4189Comment').focus();
										return false;
									}
							  	  }
							}
						}
						
						if($('#choice7859').is(":checked")){
							if (! $('input[name="choice4190"]:checked').length) {
								$("#survey-question4190").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      						}
							
							if (! $('input[name="choice4191"]:checked').length) {
								$("#survey-question4191").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      						}
							  
							if (! $('input[name="choice4192"]:checked').length) {
								$("#survey-question4192").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      						}
							  
							if (! $('input[name="choice4193"]:checked').length) {
								$("#survey-question4193").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      						} else {
								  if($('#choice7907').is(":checked") || $('#choice7908').is(":checked")){
									if($('#choiceText4193Comment').val() === ""){
										$("#survey-question4193").append('<span class="errorlist"><br> Please Provide Feedback Before Proceeding </span>');
										$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
										$('#choiceText4193Comment').focus();
										return false;
									}
							  	  }
							}
						}
						
						if($('#choice7860').is(":checked")){
							if (! $('input[name="choice4194"]:checked').length) {
								$("#survey-question4194").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      						}
							
							if (! $('input[name="choice4195"]:checked').length) {
								$("#survey-question4195").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      						}
							  
							if (! $('input[name="choice4196"]:checked').length) {
								$("#survey-question4196").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      						}
							  
							if (! $('input[name="choice4197"]:checked').length) {
								$("#survey-question4197").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      						} else {
								  if($('#choice7931').is(":checked") || $('#choice7932').is(":checked")){
									if($('#choiceText4197Comment').val() === ""){
										$("#survey-question4197").append('<span class="errorlist"><br> Please Provide Feedback Before Proceeding </span>');
										$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
										$('#choiceText4197Comment').focus();
										return false;
									}
							  	  }
							}
						}
						
						if($('#choice7861').is(":checked")){
							if (! $('input[name="choice4198"]:checked').length) {
								$("#survey-question4198").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      						}
							
							if (! $('input[name="choice4199"]:checked').length) {
								$("#survey-question4199").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      						}
							  
							if (! $('input[name="choice4200"]:checked').length) {
								$("#survey-question4200").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      						}
							  
							if (! $('input[name="choice4201"]:checked').length) {
								$("#survey-question4201").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      						} else {
								  if($('#choice7954').is(":checked") || $('#choice7955').is(":checked")){
									if($('#choiceText4201Comment').val() === ""){
										$("#survey-question4201").append('<span class="errorlist"><br> Please Provide Feedback Before Proceeding </span>');
										$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
										$('#choiceText4201Comment').focus();
										return false;
									}
							  	  }
							}
						}
						
					} // next section 3
					
					if(elementId === "4"){
						if (! $('input[name="choice4202"]:checked').length) {
								$("#survey-question4202").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      					}
						  
						if (! $('input[name="choice4203"]:checked').length) {
								$("#survey-question4203").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      					}
						  
						if (! $('input[name="choice4204"]:checked').length) {
								$("#survey-question4204").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      					}
						  						  
						if (! $('input[name="choice4205"]:checked').length) {
								$("#survey-question4205").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      					} else {
							  if($('#choice7978').is(":checked") || $('#choice7979').is(":checked")){
								  if($('#choiceText4205Comment').val() === ""){
									  $("#survey-question4205").append('<span class="errorlist"><br> Please Provide Feedback Before Proceeding </span>');
									  $('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
									  $('#choiceText4205Comment').focus();
									  return false;
								  }
							  }
						}
					} // Sec 4 end
					
					if(elementId === "5"){
						if (! $('input[name="choice4206"]:checked').length) {
								$("#survey-question4206").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      					}
						  
						if (! $('input[name="choice4207"]:checked').length) {
								$("#survey-question4207").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      					}
						  
						if (! $('input[name="choice4208"]:checked').length) {
								$("#survey-question4208").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      					}
						  						  
						if (! $('input[name="choice4209"]:checked').length) {
								$("#survey-question4209").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      					} else {
							  if($('#choice8002').is(":checked") || $('#choice8003').is(":checked")){
								  if($('#choiceText4209Comment').val() === ""){
									  $("#survey-question4209").append('<span class="errorlist"><br> Please Provide Feedback Before Proceeding </span>');
									  $('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
									  $('#choiceText4209Comment').focus();
									  return false;
								  }
							  }
						}
					} // Sec 5 end
					
					if(elementId === "6"){
						if (! $('input[name="choice4210"]:checked').length) {
								$("#survey-question4210").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      					}
						  
						if (! $('input[name="choice4211"]:checked').length) {
								$("#survey-question4211").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      					}
						  
						if (! $('input[name="choice4212"]:checked').length) {
								$("#survey-question4212").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      					}
						  
						if (! $('input[name="choice4213"]:checked').length) {
								$("#survey-question4213").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      					}
						  						  
						if (! $('input[name="choice4214"]:checked').length) {
								$("#survey-question4214").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      					} else {
							  if($('#choice8032').is(":checked") || $('#choice8033').is(":checked")){
								  if($('#choiceText4214Comment').val() === ""){
									  $("#survey-question4214").append('<span class="errorlist"><br> Please Provide Feedback Before Proceeding </span>');
									  $('#choiceText4214Comment').focus();
									  $('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
									  return false;
								  }
							  }
						}
					} // Sec 6 end
					
					if(elementId === "7"){
						if (! $('input[name="choice4215"]:checked').length) {
								$("#survey-question4215").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      					}
						  
						if (! $('input[name="choice4216"]:checked').length) {
								$("#survey-question4216").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      					}
						  
						if (! $('input[name="choice4217"]:checked').length) {
								$("#survey-question4217").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      					}
						  
						if (! $('input[name="choice4218"]:checked').length) {
								$("#survey-question4218").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      					}
						  						  
						if (! $('input[name="choice4219"]:checked').length) {
								$("#survey-question4219").append('<span class="errorlist"><br> Enter Your Response </span>');
								$('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
								return false;
      					} else {
							  if($('#choice8062').is(":checked") || $('#choice8063').is(":checked")){
								  if($('#choiceText4219Comment').val() === ""){
									  $("#survey-question4219").append('<span class="errorlist"><br> Please Provide Feedback Before Proceeding </span>');
									  $('#choiceText4219Comment').focus();
									  $('html, body').animate({ scrollTop: $(".errorlist").offset().top-200	}, 1000);
									  return false;
								  }
							  }
						}
					} // Sec 7 end
					
					
				}
				// Symphony summit survey changes end
				
				$(this).hide();
				$(this).parent().next().toggle();
				var newElem = (parseInt(elementId)+1).toString();
				$('html, body').animate({
				        scrollTop: $("#section---"+newElem).offset().top-200
				    }, 1000);
			});

			if({{ survey.id }} == 30){
				{% if not user.is_authenticated %}
					location.href = "{% url 'account_login' %}?next={{ request.path }}?{{ request.GET.urlencode }}";
				{% endif %}
				$(".userInfo").hide();
				$("#survey-title").css("text-align","center");
				$("#survey-title").css("font-weight","bolder");
				$("#wrapper").css("max-width","1220px");
			}
			$('.choice_image').css({"width":"120px","height":"120px"});
			var question_count = $('.optionsForm').length;
			var question_covered = 0;
			$('.surveySubmit').click(function(event)
			{
				event.preventDefault();
				$(".errorlist").remove();
				
				if({{ survey.id }} === 64){
    				var regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,5}$/;
    				var validateEmail =  (regex.test($('#choiceText4177').val())) ? true : false;
					if($('#choiceText4177').val() === '' || !validateEmail){
						$("#survey-question4177").append('<span class="errorlist"><br> Please Provide A Valid Email Id To Proceed </span>');
						$('#choiceText4177').focus();
						return false;
					}
				}
				
				for(var i=0; i<mandatoryCommentsId.length; i++){
					var commentDivId = "choiceText"+mandatoryCommentsId[i]+"Comment";
					if($('#'+commentDivId).val() === ''){
						$("#survey-question"+mandatoryCommentsId[i]).append('<span class="errorlist"><br> Please Provide Your Detailed Comments </span>');
						$('html, body').animate({
							scrollTop: $(".errorlist").offset().top-200
						}, 1000);
						return;
					}
				}
				
				$('#overlay-inAbox8').css('display','block');
				var subButElem = $(this);
				subButElem.attr("disabled","disabled");
				$(".errorlist").remove();
				var form_data = $("#survey-form").serialize();
				// var demo_data = $("#demographic").serialize();
				// form_data += '&' + demo_data;
				// console.log(form_data,demo_data);
				$.ajax({
					type: 'POST',
					url:'',
					async: true,
					data:form_data,
					success:function(response)
					{
						if("success" in response){
							var thankyou_url = "/thankyou";
							{% if survey.id == 54 %}
								thankyou_url = "/thankyou?a=cz";
							{% endif %}
							confirm_redirect_only('#overlay-inAbox6',response["success"],thankyou_url);
						}else{
							for(key in response){
								if(key == "error"){
									if(!$(".demographic-error").length > 0)
										$("#demographic-div").append('<span class="errorlist demographic-error"><br>'+response[key]+'</span>');
								}
								else{
									$("#survey-question"+key).append('<span class="errorlist"><br>'+response[key]+'</span>');
								}
							}
							$('html, body').animate({
								scrollTop: $(".errorlist").offset().top-200
							}, 1000);
						}
						subButElem.removeAttr("disabled");
						$('#overlay-inAbox8').css('display','none');
					}
				});
			});
		});
	</script>
{% endblock %}
