{% extends "polls/common.html" %}
{% load static %}
{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/index.css' %}" />
{% endblock %}
{% block content %}
	<section id="content">
		<div class="questions">
			<div class="questionContent">
				<div class="userInfo">
					<div class="userImage">
						{% if question.isAnonymous %}
							<img src="/static/login/images/defaultAvatar.png"  alt="Anonymous">
						{% else %}
							{% if question.user.socialaccount_set.all %}
							   {% if question.user.extendeduser.imageUrl %}
									<img src="{{ question.user.extendeduser.imageUrl }}" alt="User {{ question.user.first_name }}">
								{% endif %}
							{% else %}
								{% if question.user.extendeduser.imageUrl %}
									<img src="/media/profile/{{ question.user.extendeduser.get_profile_pic_name }}" alt="User {{ question.user.first_name }}">
								{% else %}
									<img src="/static/login/images/defaultAvatar.png"  alt="User {{ user.first_name }}">
								{% endif %}
							{% endif %}
						{% endif %}
					</div>
					<div class="userBrief">
						<p>
							{% if question.isAnonymous %}
								Anonymous
							{% else %}
								{{ question.user.first_name }}
							{% endif %}
						</p>
						<p>
							Asked on:<br>
							{{ question.pub_date }}
						</p>
					</div>
				</div> 
				<div class="mainPoll">
					<p class="que_text">{{ question.question_text }}
					{% if user.is_authenticated %}
					{% if user == question.user %}
					{% if question.voted_set.count < 1 %}
					<a href="{% url 'polls:polls_edit' question.id question.que_slug %}"><i class="fa fa-pencil-square-o"></i></a>
					{% endif %}
					<a href="{% url 'polls:polls_delete' question.id question.que_slug %}"><i class="fa fa-trash-o"></i></a>
					{% endif %}
					{% endif %}
					</p>
					{% if question.description or question.questionwithcategory_set.count > 0 %}
					<p class="question_description_header">
							<span class="question_description_header_span">Description</span>
					</p>
					<p class="question_description">
						{{ question.description }}
						{% if question.description and question.questionwithcategory_set.count > 0 %}<br><br>{% endif %}
						{% for cat in question.questionwithcategory_set.all %}
							<span class="que_desc_cat_span">{{ cat.category.category_title }}</span>
						{% endfor %}
					</p>
					{% endif %}
					<p>
					<form class="optionsForm" action="{% url 'polls:polls_vote' question.id question.que_slug %}" method="POST" id="optionsForm{{ question.id }}">
						{% csrf_token %}
						<input type="hidden" name="question" value="{{ question.id }}" />
						{% for choice in question.choice_set.all %}
							<p>
								<input class="choices" type="radio" name="choice" id="choice{{ choice.id }}" value="{{ choice.id }}" />
								<label for="choice{{ choice.id }}">
									{% if choice.choice_image %}
									<script>
										$("#choice{{ choice.id }}").hide();
										var item = $("#choice{{ choice.id}}");
										item.parent().css({"display":"inline-block"});
										// console.log($this.parent().next().children().first().show());
									</script>
										<img class="choices choice_image" id="choice{{ choice.id }}" src="/media/choices/{{ choice.get_file_name }}" alt="{{ choice.choice_text }}">
										<!-- {{ choice.choice_text }} -->
									{% else %}
										{{ choice.choice_text }}
									{% endif %}
								</label>
							</p>
						{% endfor %}
						<input class="submit voteSubmit" type="submit" value="Vote" id="{{ question.id }}---{{ question.que_slug }}"/>
					</form>
					<div class="pollInfo  pollsInfoVotePage clearfix">
						<ul class="pollInfoUl clearfix">
							<li><span class="pollInfoNum">{{ question.voted_set.count }}</span> opinion{{ question.voted_set.count|pluralize }}</li>
							<li><span class="pollInfoNum" id="sub_num{{ question.id }}">{{ question.subscriber_set.count }}</span> interested</li>
							<li>{% if question.id in subscribed %}
									<button class="btn followButton following" id="follow{{ question.id }}---{{ question.que_slug }}">Following</button>
								{% else %}
									<button class="btn followButton" id="follow{{ question.id }}---{{ question.que_slug }}" >Follow</button>
								{% endif %}
							</li>
							<ul class="share-buttons">
								  <!-- <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost&t=ssd" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
								  <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Flocalhost&text=ssd:%20http%3A%2F%2Flocalhost" target="_blank" title="Tweet"><i class="fa fa-twitter-square fa-2x"></i></a></li>
								  <li><a href="https://plus.google.com/share?url=http%3A%2F%2Flocalhost" target="_blank" title="Share on Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li> -->
								<li ><div class="fb-share-button" data-href="http://127.0.0.1:8000/{% url 'polls:polls_vote' question.id question.que_slug %}" data-layout="button_count"></div></li>&nbsp&nbsp&nbsp
								<li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://127.0.0.1:8000/{% url 'polls:polls_vote' question.id question.que_slug %}" data-via="askpopulo" data-hashtags="AskThePeople">Tweet</a></li>&nbsp&nbsp&nbsp
								<li><div class="g-plus" data-action="share" data-annotation="bubble" data-href="http://127.0.0.1:8000/{% url 'polls:polls_vote' question.id question.que_slug %}"></div></li>
							</ul>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript">
		$(document).ready(function()
		{
			$('.submit').bind('click', function()
			{
				console.log("click called..........");
				var queid = $(this)[0].id.split("---")[0];
				var queslug = $(this)[0].id.split("---")[1];
				var elemid = "#optionsForm"+queid;//$(this)[0].id
				console.log($(elemid)); 
				//val
				$(elemid).bind('submit', function()
				{
					console.log("submit called....");
					var vote_url = "http://{{ request.META.HTTP_HOST }}"+'/polls/'+queid+'/'+queslug
					{% if user.is_authenticated %}
					console.log("call ajax");
					$.ajax(
					{
						type: 'POST',
						url:vote_url,
						data:$(elemid).serialize(),
						success:function(response)
						{
							var form_errors = response.form_errors;
							console.log(response.form_errors);
							console.log(typeof form_errors === 'undefined');

							if(typeof form_errors === 'undefined'){
								 $(elemid).unbind('submit').submit();
							}else{
								openOverlay("#overlay-inAbox");
							}
						}
					});
					{% else %}
						//url = "http://{{ request.META.HTTP_HOST }}"+'/vote/'+queid+'/'+queslug
						//console.log(vote_url);
						$(location).attr('href',vote_url);
					{% endif %}
					return false;
				});
			});
			$('.followButton').bind('click', function(e){
				// e.preventDefault();
				console.log($(this)[0].id)
				$button = $("#"+$(this)[0].id);
				console.log($button);
				var qid = $(this)[0].id.split("---")[0].replace("follow","");
				var qslug = $(this)[0].id.split("---")[1];
				var follow_url = "http://{{ request.META.HTTP_HOST }}"+'/follow/'+qid+'/'+qslug
				{% if user.is_authenticated %}
					if($button.hasClass('following')){
						
						//$.ajax(); Do Unfollow
						var data = {'follow' : false, 'question' : qid, 'csrfmiddlewaretoken': "{{ csrf_token }}"}
						console.log(data);
						$.ajax(
						{
							type: 'POST',
							url:follow_url,
							data:data,
							success:function(response)
							{
								$("#sub_num"+qid).text(response.sub_count);
							}
						});  
						
						$button.removeClass('following');
						$button.removeClass('unfollow');
						$button.text('Follow');
					} else {
						
						// $.ajax(); Do Follow
						var data = {'follow' : true, 'question' : qid, 'csrfmiddlewaretoken': "{{ csrf_token }}"}
						console.log(data);
						$.ajax(
						{
							type: 'POST',
							url:follow_url,
							data:data,
							success:function(response)
							{
								$("#sub_num"+qid).text(response.sub_count);
							}
						});  
						
						$button.addClass('following');
						$button.text('Following');
					}
				{% else %}
					url = "http://{{ request.META.HTTP_HOST }}"+'/polls/'+qid+'/'+qslug
					console.log(url);
					$(location).attr('href',url);
				{% endif %}
				return false;
			});

			$('.followButton').hover(function(){
				$button = $("#"+$(this)[0].id);
				if($button.hasClass('following')){
					$button.addClass('unfollow');
					$button.text('Unfollow');
				}
			}, function(){
				if($button.hasClass('following')){
					$button.removeClass('unfollow');
					$button.text('Following');
				}
			});
		});
	</script>
{% endblock %}