{% extends "polls/common.html" %}
{% load static %}
{% block meta_data_extra %}
	{% with question.has_image as has_image %}
	{%if has_image|length > 0 %}
	{% for share_image in has_image %}
		<meta property="og:image" content="http://{{ request.META.HTTP_HOST }}{{ share_image }}"/>
	{% endfor %}
		<meta property="og:image:width" content="300" />
		<meta property="og:image:height" content="300" />
	{% else %}
		<meta property="og:image" content="http://{{ request.META.HTTP_HOST }}/static/pollsLogoShareNew.png"/>
	{% endif %}
	{% endwith %}
	<meta property="fb:page_id" content="question.id" />
	<!-- <meta property="og:url" content="https://{{ request.META.HTTP_HOST }}{{ request.path }}"/> -->
	<meta property="og:url" content="{{ DOMAIN_URL }}/public-url{{ request.path }}"/>
	<meta property="og:title" content="{{ question.question_text  }}"/>
	<meta property="og:description" content="{{ question.description  }}" />
{% endblock %}
{% block extra_css %}
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'polls/css/index.css' %}" /> -->
	<link rel="stylesheet" type="text/css" href="{% static 'trivia/css/trivia.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/questionDetail.css' %}" />
{% endblock %}
{% block content %}
	{% if not user.is_authenticated %}
		<link rel="stylesheet" type="text/css" href="{% static 'polls/css/askbypoll-widget-style.css' %}" />
		<style type="text/css">
			.askbypoll-embed-overlay{
				position: fixed;
			}
		</style>
		{% include 'polls/snippets/overlay-get-data.html' with poll=question %}
	{% endif %}
	<section id="content">
		<div class="questions">
			<div class="questionContent">
				<div class="userInfo clearfix">
					<div class="userImage">
						<a href="{{ question.get_user_details.user_url }}">
							<img class="usr-detail-img" src="{{ question.get_user_details.pic_url }}"  alt="{{ question.get_user_details.user_alt }}">
						</a>
					</div>
					<div class="userBrief">
						<p>
							<a href="{{ question.get_user_details.user_url }}">
								{{ question.get_user_details.user_name }}
							</a>
						</p>
						{% if not question.isAnonymous %}
							<div class="usr-creds-msg" style="font-size:0.9rem">
								<span class="usr-det">pCoins : {{ question.user.extendeduser.credits}}<i class="fa fa-coins"></i></span> <br/>
								<span class="usr-det .connections">Connection{{ connection|pluralize }} : {{ connection }} <i class="fa fa-users"></i></span>
							</div>
						{% endif %}
						<p>
							Asked on:<br>
							{{ question.pub_date }}
						</p>
						

							{% if question.expiry and not data.expired %}
							<!-- Time Left:<br> -->
							<div id="{{ question.id }}timer" class="timerClass"></div>
							<script>
								var currentDate = new Date();
								var offset = currentDate.getTimezoneOffset();

								var utcDate = new Date({{ question.pub_date.year }}, {{ question.pub_date.month }} - 1, {{ question.pub_date.day }}, {{ question.pub_date.hour }}, {{ question.pub_date.minute }}, {{ question.pub_date.second }});

								var publicationDate = new Date({{ question.pub_date.year }}, {{ question.pub_date.month }}, {{ question.pub_date.day }}, {{ question.pub_date.hour }}, {{ question.pub_date.minute }}-offset, {{ question.pub_date.second }});
								// var pubDateString = publicationDate.getFullYear()+'/'+publicationDate.getMonth()+'/'+publicationDate.getDate()+' '+publicationDate.getHours()+':'+publicationDate.getMinutes();
								// document.getElementById('{{ question.id }}pubdate').innerHTML = pubDateString;

								{% if question.expiry and not question.expired %}
								var expiryDate = new Date({{ question.expiry.year }}, {{ question.expiry.month }}, {{ question.expiry.day }}, {{ question.expiry.hour }}, {{ question.expiry.minute }}-offset, {{ question.expiry.second }});
								$("#{{ question.id }}timer").countdown({until: new Date({{ question.expiry.year }}, {{ question.expiry.month }} - 1, {{ question.expiry.day }}, {{ question.expiry.hour }}, {{ question.expiry.minute }}-offset, {{ question.expiry.second }}),compact: true, onExpiry:disableVoteButton});
								{% endif %}

								function disableVoteButton(){
									$('#vote{{ question.id }}---{{ question.que_slug }}').attr('disabled','disabled');
									$('#vote{{ question.id }}---{{ question.que_slug }}').attr('id','{{ question.id }}---{{ question.que_slug }}');
									$('#vote{{ question.id }}---{{ question.que_slug }}').removeAttr('vote{{ question.id }}---{{ question.que_slug }}');
									$('#{{ question.id }}---{{ question.que_slug }}').attr('value','Expired');
								}
							</script>
						{% endif %}
					</div>
				</div>
				<div class="mainPoll">
					<p class="que_text">{{ question.question_text }}
						{% if user.is_authenticated %}
							{% if user == question.user or user.is_superuser %}
								{% if editable %}
									<a href="{% url 'polls:polls_edit' question.id question.que_slug %}"><i class="fa fa-pencil-square-o"></i></a>
								{% endif %}
									<a href="{% url 'polls:polls_delete' question.id question.que_slug %}"><i class="fa fa-trash-o"></i></a>
							{% endif %}
						{% endif %}
					</p>
					{% if question.description or question.questionwithcategory_set.count > 0 %}
					<p class="question_description_header">
							<span class="question_description_header_span">Description</span>
					</p>
					<p class="question_description">
						{{ question.description }}
						{% if question.description and question.questionwithcategory_set.count > 0 %}<br><br>{% endif %}
						{% for cat in question.questionwithcategory_set.all %}
							<a class="que_desc_cat_span" href="{% url 'polls:polls_category' %}?category={{ cat.category.category_title }}">{{ cat.category.category_title }}</a>
						{% endfor %}
					</p>
					{% endif %}
					<div class="poll-info">
						{% if data.user_already_voted %}
							<a href="javascript:;" class="light-grey">Voted
						{% else %}
							<a href="javascript:;" class="light-grey">Vote
						{% endif %}
								<span class="q-det-num">{{ data.votes }}</span>
							</a>
						{% if data.subscribed %}
							<a href="javascript:;" class="light-grey followButton following" id="follow{{ question.id }}---{{ question.que_slug }}" title="Unfollow">Followed
						{% else %}
							<a href="javascript:;" class="light-grey followButton" id="follow{{ question.id }}---{{ question.que_slug }}" title="Follow">Follow
						{% endif %}
								<span class="q-det-num" id="sub_num{{ question.id }}">{{ data.subscribers }}</span>
							</a>
						{% if user in data.upvotedusers %}
							<a href="javascript:;" class="light-grey updownvote" id="upvote---{{ question.id }}---{{ question.que_slug }}">Upvoted
						{% else %}
							<a href="javascript:;" class="light-grey updownvote" id="upvote---{{ question.id }}---{{ question.que_slug }}">Upvote
						{% endif %}
			    				<span class="q-det-num" id="upvotenum{{ question.id }}">{{ data.upvoteCount }}</span>
			    			</a>
			    		{% if user in data.downvotedusers %}
							<a href="javascript:;" class="light-grey updownvote" id="downvote---{{ question.id }}---{{ question.que_slug }}">Downvoted </a>
						{% else %}
							<a href="javascript:;" class="light-grey updownvote" id="downvote---{{ question.id }}---{{ question.que_slug }}">Downvote </a>
						{% endif %}
			    		<a href="javascript:;" class="light-grey spam-question" id="ban{{ question.id }}---{{ question.que_slug }}">Spam</a>
			    	</div>
					<p>
					<form class="optionsForm" action="{% url 'polls:polls_vote' question.id question.que_slug %}?{{ request.GET.urlencode }}" method="POST" id="optionsForm{{ question.id }}">
						{% csrf_token %}
						<input type="hidden" name="question" value="{{ question.id }}" />
						<input type="hidden" name="betAmountHidden" id="betAmountHidden" value="" />
						{% for choice in question.choice_set.all %}
							<p>
								<input class="choices" type="radio" name="choice" id="choice{{ choice.id }}" value="{{ choice.id }}" />
								<label for="choice{{ choice.id }}">
									{% if choice.choice_image %}
										<img class="choices choice_image" id="choice{{ choice.id }}" src="/media/choices/{{ choice.get_file_name }}" title="{{ choice.choice_text }}" alt="{{ choice.choice_text }}">
									{% else %}
										{{ choice.choice_text }}
									{% endif %}
								</label>
							</p>
						{% endfor %}
						<p class="last-p">
						{% if question.user_already_voted %}
							<a class="submit btn anchor_submit" id="voteResultButtonLink{{ question.id }}" href="{% url 'polls:polls_vote' question.id question.que_slug %}">Results</a>
						{% else %}
							{% if data.expired %}
								<input class="submit btn" type="submit" value="Timed Out" id="{{ question.id }}---{{ question.que_slug }}" disabled="disabled"/>
							{% else %}
								<input class="submit btn voteSubmit" type="submit" value={% if question.isBet %}"Predict"{% else %}"Vote"{% endif %} id="vote{{ question.id }}---{{ question.que_slug }}---{{ question.isBet }}"/>
							{% endif %}
							{% if user.is_authenticated and user.id == question.user.id or data.expired %}
								{% if user.is_authenticated %}
									<a class="submit anchor_submit voteResultSubmit" id="voteResultButtonLink{{ question.id }}" href="{% url 'polls:polls_vote' question.id question.que_slug %}">Results</a>
								{% else %}
									<a class="submit anchor_submit voteResultSubmit" id="voteResultButtonLink{{ question.id }}" href="{% url 'account_login' %}?next={% url 'polls:polls_vote' question.id question.que_slug %}">Results</a>
								{% endif %}
							{% endif %}
						{% endif %}
					</p>
					</form>
					
					<div class="analyzeAndShare">
						<ul class="share-buttons">
							{% if user.is_authenticated %}
								<li class="social-share-div">
									<div class="fb-share-button" data-href="{{ DOMAIN_URL }}/{% url 'polls:polls_share' question.id question.que_slug %}?referral={{ referral_code }}" data-image='https://askbypoll.com/static/pollsLogoShareNew.png'  data-layout="button_count">
									</div>
								</li>&nbsp&nbsp&nbsp
								<li class="social-share-div">
									<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ DOMAIN_URL }}/{% url 'polls:polls_share' question.id question.que_slug %}?referral={{ referral_code }}" data-via="askbypoll" data-count="horizontal" data-counturl="{{ DOMAIN_URL }}/{% url 'polls:polls_share' question.id question.que_slug %}?referral={{ referral_code }}" data-hashtags="AskByPoll">Tweet
									</a>
								</li>&nbsp&nbsp&nbsp
								<liclass="social-share-div">
									<div class="g-plus" data-action="share" data-annotation="bubble" data-href="{{ DOMAIN_URL }}/{% url 'polls:polls_share' question.id question.que_slug %}?referral={{ referral_code }}">
									</div>
								</li>
							{% else %}
								<li class="social-share-div">
									<div class="fb-share-button" data-href="{{ DOMAIN_URL }}/{% url 'polls:polls_share' question.id question.que_slug %}" data-image='https://askbypoll.com/static/pollsLogoShareNew.png'  data-layout="button_count"></div>
								</li>&nbsp&nbsp&nbsp
								<li class="social-share-div">
									<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ DOMAIN_URL }}/{% url 'polls:polls_share' question.id question.que_slug %}" data-count="horizontal" data-counturl="{{ DOMAIN_URL }}/{% url 'polls:polls_share' question.id question.que_slug %}" data-hashtags="AskByPoll">Tweet</a>
								</li>&nbsp&nbsp&nbsp
								<li class="social-share-div">
									<div class="g-plus" data-action="share" data-annotation="bubble" data-href="{{ DOMAIN_URL }}/{% url 'polls:polls_share' question.id question.que_slug %}"></div>
								</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
			<p style="text-align:center;font-size:1rem;margin-top:1rem">
				Login/Vote to see the results
			</p>
			<div id="disqus_thread">
			</div>
		</div>
	</section>
	<script type="text/javascript">
		{% if user.is_authenticated %}
			var disqus_shortname = 'askbypoll';

			/* * * DON'T EDIT BELOW THIS LINE * * */
			(function() {
			    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
			var disqus_config = function() {
				this.page.remote_auth_s3 = "{{ ssoData.message }} {{ ssoData.sig }} {{ ssoData.timestamp }}";
				this.page.api_key = "{{ ssoData.pub_key }}";
				this.callbacks.onNewComment = [function(comment) {

				var data_dict = {"que_id":{{ question.id }}, "que_author":"{{ question.user.first_name }}","to_user_id":{{ question.user.id }},"com_author":"{{ user.username }}","que_text":"{{ question.question_text }}","que_url":"https://{{ request.META.HTTP_HOST }}{% url 'polls:polls_vote' question.id question.que_slug %}", 'csrfmiddlewaretoken': "{{ csrf_token }}" };

				$.ajax({
			            type: 'POST',
			            url:'/comment_mail',
			            data:data_dict,
			            success:function(response)
			            {
			            }
			        });
				}];
			};
		{% endif %}
		$(document).ready(function()
		{
			$(".choices").click(function(){
				$(this).parent().parent().children('p').css({"background":"rgb(250, 251, 252)"});
				$(this).parent().parent().children().each(function(){
					$(this).children("label").css({"background":"#fafbfc"});
				})
				$(this).parent().css({"background":"#f96a0e"});
			});
		});
	</script>
{% endblock %}
