{% extends 'polls/common.html' %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'polls/css/searchResults.css' %}" />
{% endblock %}
{% block content %}
  <section id="content">
    {% if query %}
	<div class="searchResultsContent">
	<p>Search Results</p><br>
      {% for result in query %}
        <div class="searchResults">
          <div class="result">
            <p>
               <a href="{% url 'polls:polls_vote' result.object.id result.object.que_slug %}">{{ result.object.question_text }}</a>
            </p>
          </div>
        </div>
        {% empty %}
                <p>No results found.</p>
      {% endfor %}
	  </div>
    {% endif %}
  </section>
{% endblock %}