@import url('https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css');

/** {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /*box-sizing: border-box;*
}*/
.askbypoll-embed-poll{
    position: relative;
    margin:1rem 0 !important;
    border:1px solid !important;
}
.a-clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.a-clearfix { display: inline-block !important; }
/* start commented backslash hack \*/
* html .a-clearfix { height: 1%; }
/*.a-clearfix { display: block; }*/
a.askbypoll-embed-poll-icon{
    display: inline-block !important;
    /* width: 15%; */
    margin-right: 0.5rem;
    vertical-align: top;
    padding: 0.5rem 0 0.5rem 0.5rem !important;
}

.askbypoll-embed-poll-question-description{
    color: black;
    display: inline-block !important;
    padding-bottom: 0.5rem;
    /*margin-top:0.5rem;*/
    font-size:1rem !important;
    font-style: italic;
    margin-bottom:0 !important;
}

.askbypoll-embed-poll-question-description-label{
    color: black;
    margin-left: 10rem;
    font-size: 0.7rem;
    display: none;
}

.askbypoll-embed-poll-question-choices {
    /* margin-left: 1.5rem; */
    margin: 0 auto;
    width: 100%;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.askbypoll-widget-title{
    color:black !important;
    border-bottom: 5px solid red;
    margin-bottom: 0rem !important;
    /*padding-bottom: 0.5rem;*/
    font-weight:bolder !important;
    font-size: 1.3rem !important;
    display: inline-block !important;
}

#askbypoll-thankyou-message{
    text-align:center;
    color:black;
}

.askbypoll-embed-content{
    border:1px solid;
}

img.askbypoll-embed-poll-logo{
	width: 100px;
    height: 100px;
    display: inline-block !important;
}

.askbypoll-embed-poll-question-text:first-letter,.askbypoll-embed-poll-question-choice-text:first-letter{
  text-transform: capitalize
}
a.askbypoll-embed-poll-askbypoll-url{
	text-decoration: none;
	color:orange;
}
img.askbypoll-embed-poll-question-choice-img{
	width: 120px !important ;
    height: 150px ;
    display: block;
}
.askbypoll-embed-poll-question-choice{
	display: inline-block !important;
	position: relative;
	margin-top:1rem;
	border: 2px solid;
	cursor:pointer;
}
.askbypoll-embed-poll-question-choice-img-text{
    line-height: 100% !important;
    display:block;
    background-color: lightpink;
    margin: 0;
    /*width: 100%;*/
    padding: 0.5rem 0;
    color: black;
    /* font-weight: bold; */
    margin:0;
    padding-left: 4px; 
    width: 146px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1rem;
}
.askbypoll-embed-poll-question-choice {
    margin-right:1rem;
}
/*
.askbypoll-embed-poll-question-choice:nth-of-type(1) {
    margin-right:2rem;
}
.askbypoll-embed-poll-question-choice:nth-of-type(2) {
    margin-right:2rem;
}
.askbypoll-embed-poll-question-choice:nth-of-type(3) {
    margin-right:2rem;
}*/
/*.askbypoll-embed-poll-choice{
	display: inline;
}*/

.askbypoll-embed-progress-bar{
	width: 72%;
    display: inline-block !important;
    position: absolute;
    cursor: pointer;
    /*left: 50%;*/
    top:0;
    /*opacity: 0.5;*/
    height: 2rem;
    background:#c6c6c6;
    /*border-radius: 2.5rem;*/
    -webkit-animation: mymove 5s 1; /*/ Chrome, Safari, Opera /*/
    animation: mymove 1s 1;
}
.askbypoll-embed-progress-bar-img{
    position: relative;
    /* opacity: 0.5 !important; */
}
@-webkit-keyframes mymove {
    from {width: 0%;}
    /*to {width: 80%;}*/
}
 /*Standard syntax */
@keyframes mymove {
    from {width: 0%;}
/*    to {width: 10%;}*/
}
/*.askbypoll-embed-poll-choice{
	display:inline-block;
	position: relative;
	width:40%;
	margin:1.5rem;
}*/

.askbypoll-progress-bar-Img-div{
    position:relative;
}
select option{
    background-color: lightgray;
}
::-webkit-input-placeholder {
   color: black;
   font-family: 'Montserrat', sans-serif;
}

:-moz-placeholder { 
   color: black; 
   font-family: 'Montserrat', sans-serif; 
}

::-moz-placeholder { 
   color: black;  
   font-family: 'Montserrat', sans-serif;
}

:-ms-input-placeholder {  
   color: black; 
   font-family: 'Montserrat', sans-serif; 
}
select{
    font-family: 'Montserrat', sans-serif;
}
/*New*/
#piechart{
  width:700px;
  height:600px;
}
/*Before*/
.askbypoll-embed-poll-wrapper{
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color:#fff !important;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.askbypoll-embed-poll-question{
    /*border-bottom: 1px solid;*/
    display: inline-block !important;
    /*text-align: justify;*/
    /* float: right; */
     width: 83%; 
    /* line-height: 0.1rem; */
     margin-top: 1rem; 
     /*margin-left: -2rem; */
}
.askbypoll-embed-poll-question-text{
    font-size: 1.3rem !important;
    /* line-height: initial !important; */
    margin-bottom: 0.5rem !important;
    margin-top: 5px;
    color: black !important;
}
.askbypoll-embed-poll-question-choice-text{
    width: 31%;
    display: inline-block !important;
    /*border: 1px solid black;*/
    background-color: transparent;
    /*border-radius: 2.5rem;
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .5em;
    -webkit-align-self: center;
    align-self: center;
    color: #fff !important;
    margin: 0 auto;
    cursor: pointer;
  /*  margin:1.5rem;*/  
  z-index: 1000;
  font-size: 1rem; 
  font-weight: initial !important;
     line-height:initial !important; 
     margin-bottom: 0px !important;
     color:black !important;
     cursor: pointer;
         word-wrap: break-word;
         padding: .5rem 0 !important;
}
.askbypoll-embed-poll-powered-by{
    position: relative;
    height: 20px;
    /*margin-top: 1rem;*/
}
p.askbypoll-embed-poll-powered-by-p{
    color:black !important;
    position: absolute;
    right:0;
    font-style: italic;
	margin:0;
    font-size: 1rem;
}
a.askbypoll-embed-poll-askbypoll-url{
    text-decoration: none;
    color:orange;
}

.askbypoll-embed-poll-question-choice{
    display: inline-block !important;
    position: relative;
    margin-top:1rem;
    border: 2px solid;
    cursor:pointer;
}

/*.askbypoll-embed-poll-choice{
    display: inline;
}*/

.askbypoll-embed-poll-choice{
    /*display:inline-block;*/
    position: relative;
    width:97%;
    /*margin:1.5rem;*/
    margin-top:1rem;
}
.askbypoll-progress-bar-Img-div{
    position:relative;
}
span.askbypoll-poll-result{
    position: absolute;
    /* right: 5px;*/
    left: 4px;
    top: 8px;
    z-index: 1000;
    color:black;
    font-size: 1rem;
}
.askbypoll-embed-overlay{
    display: none;
    border: 2px solid;
    padding: 1rem;
    position: absolute;
    z-index: 10000000;
    /* top: 5%; */
    width: 48%;
    background: beige;
    margin: 0 auto;
    opacity: 1;
    top: 1rem;
    left: 0;
    right: 0;
}
.askbypoll-enter-details{
    color:black;
    text-align: center;
    display: block;
}
.askbypoll-enter{
    outline: 0;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid black;
    font-size: 1rem;
    margin-top: 0.5em;
    color: black;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    text-align: left;
}
.askbypoll-button, .askbypoll-close-button{
    border: 2px solid black;
    background-color: transparent;
    border-radius: 2.5em;
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1rem;
    padding: 0 1.5em;
    -webkit-align-self: center;
    align-self: center;
    transition: all .3s ease;
    font-family: 'Montserrat', sans-serif;
    color: black;
    display: inline-block !important;
    margin: 0 auto;
    margin-top: 1rem;
    cursor: pointer;
    margin-right: 1rem;
}
.askbypoll-button{
    /*float: left;*/
    background-color: #2ECC71;
    color: white;
}
.askbypoll-close-button{
    /*float: right;*/
}
/*.askbypoll-close-button{
	 border: 2px solid black;
    background-color: transparent;
    border-radius: 2.5em;
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1rem;
    padding: 0 1.5em;
    -webkit-align-self: center;
    align-self: center;
    transition: all .3s ease;
    font-family: 'Montserrat', sans-serif;
    color: black;
    display: block;
    margin: 0 auto;
    margin-top: 0.5rem;
    cursor: pointer;
}*/

.askbypoll-embed-tab-radio-label {
  display: inline-block !important;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

.askbypoll-embed-tab-radio-label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

/*
.askbypoll-embed-tab-radio-label[for*='1']:before { content: '\f1cb'; }
.askbypoll-embed-tab-radio-label[for*='2']:before { content: '\f17d'; }
.askbypoll-embed-tab-radio-label[for*='3']:before { content: '\f16b'; }
.askbypoll-embed-tab-radio-label[for*='4']:before { content: '\f1a9'; }
*/
.askbypoll-embed-tab-radio{
    display: none;
}

.askbypoll-embed-tab-radio-label:hover {
  color: #888;
  cursor: pointer;
}

.askbypoll-embed-tab-radio:checked + .askbypoll-embed-tab-radio-label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

/*.askbypoll-embed-content{
    display: none;
}*/

.askbypoll-embed-error{
    text-align: center;
    color: red;
    display: block;
    margin-bottom: 0.5rem;
}

.askbypoll-embed-content-div{
    width: 100%;
    height: 400px;
    display: inline-block !important;
    margin: 0 auto;
}
.askbypoll-embed-button{
    position: relative;
    text-align: center;
}
.askbypoll-embed-progress-bar-img{
    width: 0;
}
.askbypoll-embed-poll-header{
    width: 100% !important;
    border-bottom: 1px solid black !important;
}
.askbypoll-embed-show-demographics{
    z-index: 1;
    display: none;
    cursor: pointer;
    font-style: italic;
    color: orange;
    position: absolute;
    bottom: 1rem;
    font-size: 1rem;
}
.askbypoll-widget-error{
    color: red;
    text-align: center;
}

