/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face{
	font-family:"capture";
	src:url('/static/fonts/Capture_it.ttf');
}
*{
	margin:0;
	padding:0;
	outline:0;
	
}
a{
	color: black;
  	text-decoration: none;
}
html{
	background:url('/static/polls/images/bg2.jpg') no-repeat center center fixed;
	background-size:cover;/*font-family: 'capture',sans-serif;*/
	max-width: 1200px;
  	margin: 0 auto;
  	position: relative;
  	height: 100%;
}
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
body{
  	margin: 0 auto;
}
#wrapper {
	min-height: 100%;
  /* equal to footer height */
  margin-bottom: -220px; 
}
#wrapper:after {
  content: "";
  display: block;
}
.#footer, #wrapper:after {
  height: 220px; 
}
#header{
	/*background: -webkit-linear-gradient(337deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
	background: -o-linear-gradient(337deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
	background: -ms-linear-gradient(337deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
	background: -moz-linear-gradient(337deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
	background: linear-gradient(113deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);*/
	background: black;
	width:100%;
	margin:0rem 0rem 3rem 0rem;
	/*opacity:0.93;*/
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:10;
}
#headerContent{
	width:95%;
	margin:0 auto;
	position: relative;
}
.logo{
	/*margin: -2rem 0;*/
  	display: inline-block;
}
.logo img{
	width:100%;
  	/*height: 75px;*/
}
.menuResponsive{
	display:none;
}
.menu{
	font-size: 2rem;
  	display: inline-block;
  	position: absolute;
  	right: 0;
  	top: 20px;
}
ul.menu-nav li{
	list-style-type: none;
	float:left;
	padding-left:1rem;
}
.userInNav{
	/* margin-left: 10rem; */
  	margin-top: -1.2rem;
}
.userInNav img{
	width: 75px;
	height: 75px;
	border-radius: 50%;
}
.menuanchor{
	color:white;
  	text-decoration:none;
}
.menuanchor.active{
	color:#ff0000 !important;
}
.anchoractive{
	color:#ff0000 !important;
}
.menuanchor:hover{
	color:red !important;
	letter-spacing: 0.1rem;
}
.search{
	margin-top:-0.65rem;
}
.searchBox{
	/*width:200%;*/
	height:3rem;
	color:#000;
	font-size:1rem;
	border: 3px solid #000;
    border-radius: 25px;
	text-align:center;
	padding:0 1rem;
}
.dropDownBox{
	display: none;
	position: absolute;
	z-index: 98;
	top: 57px;
	right: -11px;
	padding: 10px;
	color: #333;
	background: black;
	opacity: 1;
	border: 2px solid white;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 1px 4px rgba(0,0,0,0.4);
	text-align: center;
	font-size: 1.5rem;
	color: white;
}
.dropDownUL li a{
	color:white !important;
}
/*.dropDownBoxClick{
	display:block;
	background: #666;
}*/
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
#footer{
	margin:0;
	background: black;
	width:100%;
	color:white;
	margin-top:5rem;
}
#footerContent{
	width:95%;
	margin:0 auto;
	position: relative;
}
#footer .logo{
	display:inline-block;
	width:initial;
	margin-top:0rem;
}
#footer .logo img{
	width:100%;
}
#footer p.p1{
	display:inline-block;
	position: absolute;
	top: 5.8rem;
	bottom: 4rem;
	font-size: 1.5rem;
	margin-left: 10rem;
}
#footer .menu{
	display: none !important;
  	  float: none;
  position: absolute;
  left: 16rem;
  background-color: #666;
  display: inline-table;
  padding-left: 2;
  padding: 1rem;
  top: 4rem;
}
#footer ul.menu-nav li a{
	color:white;
}
#footer ul.menu-nav li{
	display: inline-block;
	float:none;
}
.bottomLogo{
	position:absolute;
	right:0rem;
}
.p2{
  font-size: 1.5rem;
  position: absolute;
  right: 7rem;
  width: 116%;
  top: 3.7rem;
}
.menuF{
	text-align: center;
	font-size:1rem;
	position:absolute;
	top:1rem;
	left:18rem;
}
.menuF-nav{
	display: inline-block;
}
.menuF-nav li{
	display: inline-block;
	margin-left:1rem;
}
.menuF-nav a{
	color:white;
}
li.first{
	display:none;
}
.gc-bubbleDefault{
	position:absolute;
	left:-33rem;
}
@media only screen and (max-width: 960px){
	#header{
		 position: relative;
		 padding: 1rem 0rem 2rem 0rem;
  	     margin-bottom: 3rem;
		}
	#header a{
		color:black;
	}
	.logo{
		width:100%;
		margin:0;
	}
	.logo img{
		display: block;
  		margin:0 auto;
  		width:initial;
	}
	.menu{
		display: block;
		position: relative;
	}
	.menuResponsive{
		display: block;
		position: absolute;
  		top: -7px;
  		right: 0;
	}
	.dropDownBox{
		top:-76px;
	}
	.dropDownUL li a{
		color:white !important;
	}
	.menuanchor{
  		
	}
	ul.menu-nav li{
		float:none;
		padding: 0;
		text-align:center;
		background: #fff;
		border: 3px solid #000;
    	border-radius: 25px;
    	margin-bottom:1rem;
	}
	.searchLi{
		border:none !important;
	}
	.search{
		margin:0;
		width:100%;
	}
	.searchBox{
		width:100%;
	    margin:0 auto;
	    font-size:1rem;
	    height:2.7rem;
	    border: none;
	}
	.userInNav{
		display:none;
	}
	#display_message_section{
		margin:0 !important;
	}
	#footer{
	margin:0;
	background: black;
	padding-bottom:3rem;
	width:100%;
	color:white;
	padding-bottom: 1rem;
	height: initial;
	}
	#footerContent{
		width:95%;
		margin:0 auto;
		position: relative;
		padding-top:1rem;
	}
	#footer .logo{
		display: none
	}
	#footer p.p1{
		display: none;
	}
	#footer .menu{
	 display: none;
	}
	.bottomLogo{
		display: none;
	}
	.p2{
	  display: none;
	}
	.menuF{
		text-align: center;
		font-size:1rem;
		position: initial;
	}
	.menuF-nav{
		display: inline-block;
	}
	.menuF-nav li{
		display: inline-block;
		margin-left:1rem;
		margin-bottom:1rem;
	}
	.menuF-nav a{
		color:white;
	}

}
@media only screen and (min-width: 961px) and (max-width: 1110px){
	.logo img{
		width:170px;
		height: 75px;
	}
}
.anchorSpan{
	font-size: 2rem;
  	color: orange;
  	font-weight: bold;
}
.errorlist{
	color: red;
  	display: inline-block;
  	float: right;
  	font-size: 1rem;
}
#overlay-inAbox .wrapper {
    text-align: center;
}
#overlay-shade {
    display: none;
}

#overlay-shade {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #000;
}

.overlay {
	border: 3px solid #000;
  	border-radius: 25px;
  	background-color: #fff;
    position: relative;
    /*top: -300px;
    left: 0;*/
    width: 50%;
    min-height: 30%;
    z-index: 11;
    color: #000;
} .ie7 .overlay {
    height: 200px;
} .overlay .wrapper {
    padding: 15px 30px 30px;
	text-align: center;
}
#overlay-inAbox, #overlay-inAbox2{
	display:none;
	margin-left: 25%;
}
.overlaytext{
	font-size: 1rem;
	padding: 1rem;
	/* margin-bottom: 1rem; */
}
.push_button{
	  /* margin-left: 18rem; */
  margin-top: 1rem;
  background: #3e9cbf;
  border: 1px solid #3e9cbf;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: .1rem;
  color: #fff;
  -webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
  -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
  box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 0 1rem;
  display: block;
  margin: 0 auto;
}
.push_button:hover{
	/* color:#dfe7ea; */
	letter-spacing:.05rem;
	/*reduce the size of the shadow to give a pushed effect*/
	-webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
	box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
}
#yes, #no{
	margin: 0;
	display: inline-block;
}
#yes{
	background: red;
	border: 1px solid red;
	-webkit-box-shadow: inset 0px 1px 0px red, 0px 5px 0px 0px #900000, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px red, 0px 5px 0px 0px #900000, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px red, 0px 5px 0px 0px #900000, 0px 10px 5px #999;
}
#no{
	background: green;
	border: 1px solid green;
	-webkit-box-shadow: inset 0px 1px 0px green, 0px 5px 0px 0px #003300, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px green, 0px 5px 0px 0px #003300, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px green, 0px 5px 0px 0px #003300, 0px 10px 5px #999;
}
/*@media only screen and (max-width: 480px){
	#header{
		 position: relative;
		 padding: 1rem 0rem 1rem 0rem;
  	     margin-bottom: 3rem;
		}
	.logo{
		width:100%;
		margin:0;
	}
	.logo img{
		display: block;
  		margin:0 auto;
	}
	.menu{
		margin-top:1rem;
		width:100%;
	}
	ul.menu-nav li{
		float:none;
		padding: 0;
		text-align:center;
		background: #fff;
		border: 3px solid #000;
    	border-radius: 25px;
    	margin-bottom:1rem;
	}
	.searchLi{
		border:none !important;
	}
	.search{
		margin:0;
		width:100%;
	}
	.searchBox{
		width:100%;
	    margin:0 auto;
	    font-size:1rem;
	    height:2.7rem;
	}
	#header,.menu,.search{
		float:none;
	}
	#header{
		position: relative;
		width:90%;
		margin:0 auto;
		padding:3rem 0rem 1rem 0rem;
	}
	.logo{
		width:100%;
		margin:-2rem 1rem;
	}
	.logo img{
		margin: 0 auto;
  		display: block;
	}
	.menu{
		margin-top:3rem;
		width:100%;
	}
	ul.menu-nav li{
		float:none;
		padding: 0;
		text-align:center;
		background: #fff;
		border: 3px solid #000;
    	border-radius: 25px;
    	margin-bottom:1rem;
	}
	.searchLi{
		border:none !important;
	}
	.search{
		margin:0;
		width:100%;
	}
	.searchBox{
		width:100%;
	    margin:0 auto;
	    font-size:1rem;
	    height:2.7rem;
	}
}*/
#display_message_section{
	margin: 7rem 5rem 0rem 5rem;
}
.display_message{
	text-align :center;
	border: 3px solid #000;
  	border-radius: 25px;
  	background-color: white;
  	opacity: 0.93;
  	padding: 3rem 3rem;
  	margin-bottom:2rem;
	font-size : 2rem;
}
/*.questions>div{
	flex:1;
}*/
.display_message_content p {
	font-size : 1.5rem;
}
.fa-pencil-square-o, .fa-trash-o{
	font-size: 1rem !important;
}
.submit:hover,.fileLabel:hover{
	/* color:#dfe7ea; */
	letter-spacing:.05rem;
	/*reduce the size of the shadow to give a pushed effect*/
	-webkit-box-shadow: inset 0px 1px 0px #000005, 0px 5px 0px 0px #020F13, 0px 10px 5px #999;
  -moz-box-shadow: inset 0px 1px 0px #000005, 0px 5px 0px 0px #020F13, 0px 10px 5px #999;
  box-shadow: inset 0px 1px 0px #000005, 0px 5px 0px 0px #020F13, 0px 10px 5px #999;
}
.fileLabel{
  padding: 0.2rem;
  text-align: center;
  display: inline-block;
  background: #fff;
  border: 1px solid;
  cursor: pointer;
  font-size: 1rem;
  color: #000000;
  -webkit-box-shadow: inset 0px 1px 0px #000005, 0px 5px 0px 0px #020F13, 0px 10px 5px #999;
  -moz-box-shadow: inset 0px 1px 0px #000005, 0px 5px 0px 0px #020F13, 0px 10px 5px #999;
  box-shadow: inset 0px 1px 0px #000005, 0px 5px 0px 0px #020F13, 0px 10px 5px #999;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
.upImg{
    width: 140px;
  height: 140px;
  border-radius: 50%;
  display: block;
  margin: auto;
}
#upImgText{
  padding:1.3rem;
}
.submit{
	/* margin-left: 18rem; */
	margin: 0 auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	background: #fff;
	border: 1px solid;
	cursor: pointer;
	font-size: 1.5rem;
	letter-spacing: .1rem;
	color: #000;
	-webkit-box-shadow: inset 0px 1px 0px #000005, 0px 5px 0px 0px #020F13, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #000005, 0px 5px 0px 0px #020F13, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px #000005, 0px 5px 0px 0px #020F13, 0px 10px 5px #999;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 0 1rem;
	display: block;
}
.voteSubmit{
	margin-left: 0;
	display: inline-block;
}
.voteResultSubmit{
	margin-left: 2rem !important;
        display: inline-block !important;
}
.detailSubmit{
	margin-left: 0;
	display: inline-block;
}
.loginSubmit{
	display: inline-block;
}
.anchor_submit{
	display: table;
  margin: 0;
  margin-top: 0.5rem;
}
.agreement_label{
	display: initial !important;
	margin-left: 1rem;
	width: 100% !important;
}
.agreement_anchor{
	color: red;
}
.descIndex{  
  display: none;
  width: 50%;
  position: absolute;
  top: 6rem;
  right: 1rem;
  border: 2px solid #666;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: #ADD8E6;
  font-size: 1rem;
}
