.create-poll{
  background: white;
  border:none;
	margin: 0 auto;
  margin-top:2rem;
  padding-bottom:2rem;
}
form.createPollContentForm{
	padding: 4rem 4rem 0 4rem;
	margin:0 auto;
}
form.createPollContentForm label{
	display: inline-block;
	width:20%;
	color: #666;
  font-weight: bold;
}
.createPollContentForm input[type="text"]{
		height: 2rem;
		border-radius: 4px;
		border: 1px solid #f96a0e;
		background: transparent;
		overflow:hidden;
    margin-right:0.5rem;
    padding: 0 4px;
    font-size: 1.25rem;
}
select{
  border: 1px solid #f96a0e;
  padding:0.2rem;
}
#groups{
  border:none;
}
#qText,#qDesc{
	width:75%;
}
form.createPollContentForm .btn{
  margin:0;
}
.createPollContentForm p{
	width:90%;
	margin:0 auto;
	margin-bottom:2rem;
}
/*gundla https://github.com/gundla/jquery-autocomplete-multiselect*/
#categories {
    border:none;
}
.ui-autocomplete-multiselect.ui-state-default {
    display: inline-block;
    background: #fff;
    border: 1px solid #f96a0e;
    padding: 3px 3px;
    padding-bottom: 0px;
    overflow: hidden;
    cursor: text;
    width:75% !important;

}

.ui-autocomplete-multiselect .ui-autocomplete-multiselect-item .ui-icon {
    float: right;
    cursor: pointer;
}

.ui-autocomplete-multiselect .ui-autocomplete-multiselect-item {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1px 3px;
    margin-right: 2px;
    margin-bottom: 3px;
    color: #333;
    background-color: #f6f6f6;
}

.ui-autocomplete-multiselect input {
    display: inline-block;
    border: none;
    outline: none;
    height: auto;
    margin: 2px;
    overflow: visible;
    margin-bottom: 5px;
    text-align: left;
}

.ui-autocomplete-multiselect.ui-state-active {
    outline: none;
    border: 1px solid #7ea4c7;
    -moz-box-shadow: 0 0 5px rgba(50,150,255,0.5);
    -webkit-box-shadow: 0 0 5px rgba(50,150,255,0.5);
    -khtml-box-shadow: 0 0 5px rgba(50,150,255,0.5);
    box-shadow: 0 0 5px rgba(50,150,255,0.5);
}

.ui-autocomplete {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.ui-state-default .ui-icon {
  background-image: url('/static/polls/images/ui-icons_ef8c08_256x240.png') !important;
}
/*end*/

.admin-checkbox,.user-checkbox{
  text-align: center;
  margin-bottom: 2rem;
  /*position: relative;*/
}
.errorlist{
  margin-top:0.8rem;
}
.anonymous{
	text-align: center;
  display: inline;
  margin:1 0.5rem !important;
}
.anonymous input[type="checkbox"]{
	width:30px;
	height:30px;
}
form.createPollContentForm .anonymous label{
	vertical-align: super;
	width:initial !important;
  color:#f96a0e ;
}
.ac-results{
  /*background: #faebd7;*/
  opacity: 1;
  width: 71%;
  margin: 0 auto;
  padding: 1rem 1rem;
  border-radius: 4px;
  margin-left: 21%;
  /*margin-bottom: 7%;*/
  /*margin-top: -4%;*/
  color: white;
}
.choice_image{
	width: 200px;
  	height: 150px;
  	border: 5px solid #666;
  	margin-right: 2rem;
  	cursor:pointer;
}
.choice_image:hover{
	border-color: #00ff00;
}

.createBet{
  display:none;
  border: 2px solid;
  text-align: center;
  padding-top: 1rem;
  width: 30rem;
  margin: 0 auto;
  height: 3rem;
}
.add-choice{
  cursor: pointer;
}
.submit{
  text-align: center;
  display: block;
  margin:0 auto !important;
}
@media only screen and (max-width:980px){
  #createPoll{
    margin:0;
    margin-bottom:11rem;
  } 
  form.createPollContentForm {
    width: 100%;
    padding: 0; 
    margin: 0 auto;
    padding-top:1rem;
  }
  form.createPollContentForm label{
    display: block;
    text-align: center;
    width:100%;
    margin-bottom: 0.5rem;
  }
  #qText,#qDesc{
    width:100%;
    margin-bottom: 0.5rem;
  }
  form.createPollContentForm p{
    margin-bottom:1rem;
  }
  .newDateForm{
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  .createPollContentForm input[type="text"]{
    display: block;
    width:100%;
  }
  form.createPollContentForm .btn{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  form.createPollContentForm .add-choice{
    width: 75%;
  }
  .ui-autocomplete-multiselect.ui-state-default{
    width:100% !important;
  }
  .admin-checkbox label, .user-checkbox label{
    display: inline-block !important;
  }
  .user-checkbox p{
    display: block;
    width: 100%;
  }
}