#content{
	max-width: 1440px;
	padding-top: 7rem;
}
.questions{
	display:block;
	margin-top:1rem;
	margin-bottom: 5rem;
	position: relative;
	border: 3px solid #000;
  	border-radius: 25px;
  	background-color: white;
  	opacity: 0.95;
  	padding: 1rem;/*earlier it was 3rem*/
}
.questionContent{
	width:95%;
	margin:0 auto;
	display: -ms-flex; 
  	display: -webkit-flex; 
  	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
  	display: flex;
}
.questionContent>div{
	 -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  /*width: 20%;*/               /* For old syntax, otherwise collapses. */
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1;              /* IE 10 */
  flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
div.userInfo{
	margin-right: 1rem;
	 -webkit-box-flex: 0.2;
  -moz-box-flex: 0.2;
  width: 20%;
  -webkit-flex: 0.2;
  -ms-flex: 0.2;
	flex:0.2;
 	padding-top: 1rem;
}
.userImage img{
	border-radius:50%;
	padding:0;
	/*width:100%;*/
	width:128px;
	height:128px;
}
.userBrief p{
	padding: 1rem 0rem;
  	font-size: 1rem;
  	/*text-align: center;*/
  	overflow: hidden;
  	width: 100%;
}

.userBrief a{
	color:orange;
}
.mainPoll p{
	font-size: 1.5rem;
}
.catsP{
	margin-top:0.5rem;
}
.que_text:first-letter{
	text-transform: capitalize;
}
.que_text{
	margin-left:1rem;
	word-wrap: break-word;
	margin-bottom: 1rem;
}
.question_description_header{
	font-size:1rem !important;
	margin: 0;
	padding-left: 1rem;
	/* padding-bottom: 1rem; */
	border-bottom:thin solid #000;
	line-height: 0;
}
.question_description_header_span{
	background: #fff;
    padding: 0 .5rem;
}
.question_description{
	font-size:1rem !important;
	margin: 0;
	margin-bottom: 1rem;
	padding: 1rem;
	border-left: thin solid #000;
	border-right: thin solid #000;
	border-bottom: thin solid #000;
}
.que_desc_cat_span{
	background: #ADD8E6;
	border-radius: 5px;
	padding: .1rem;
	color: black;
}
.choice-image-div{
	display: inline-block;
	vertical-align: top;
    width: 22%;
    margin: 0.5rem;
}
.choice-image-img{
	width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
}
p.choiceFigCaption{
	font-size: 1rem;
	text-align: center;
	/*width: 250px;*/
}
form.optionsForm p.last-p{
	border:none;
}
.pollsChart{
  position: relative;
  text-transform: capitalize;
}
.analyzeAndShare{
	position: relative;
	margin-top: 1rem;
}
ul.share-buttons{
  display: inline-block;
  list-style: none;
  padding: 0;
  font-size: 0.3rem;
  /*margin-left:20%;*/
  /*position: absolute;*/
}
ul.share-buttons li{
  display: inline;
}
.shareButtonsDiv {
	width: 25%;
	display: inline-block;
	margin-left: 40%;
}
.shareList{
	display:inline;
}
#disqus_thread{
	display: block;
    width: 95%;
    margin: 0 auto;
    margin-top:2rem;
}
.analysis{
	/*display:none;*/
	margin-top: 5rem;
}
.graphContainer{
	width:94%;
	margin:0 auto;
}
.graphContainer p{
	text-align: center;
	font-size: 2rem;
	z-index: 10;
  	position: relative;
  	margin-top:1rem;
}
.gender,.age,.location,.others{
	border:#666 solid;
	margin-bottom: 5rem;
	display: inline-block;
    width: 49%;
    position: relative;
}
.back{
	position: absolute;
	top: 4rem;
}
.genderChart,.ageChart,.othersChart,.question_analyse_chart,.locationChart,.question_analyse_chart_loc{
  height: 400px;
  overflow: hidden;
  /*width: 46%;*/
  margin: 0 auto;
  /*margin-top:-47px;*/
  position:relative;
}

@media only screen and (max-width: 980px){
	.questionContent{
		display: block;
	}	
	div.userInfo{
		padding:1rem;
		border-bottom:2px dashed #666;
		-webkit-box-flex: none;      
		-moz-box-flex: none;                       
		-webkit-flex: none;          
		-ms-flex: none;              
		flex: none; 
		width:100%;
	}
	div.userImage{
		float:left;
	}
	div.userBrief {
		float:left; 
		margin-left:1rem;
	}
	div.userBrief p{
		padding:0;
		margin:5px 0 5px 0;
	}
	img.usr-detail-img{
		width: 100px;
    	height: 100px;
	}
	.choice-image-div{
		margin:0 2rem;
		width:30%;
	}
	.choice-image-img{
		width:100%;
	}
	.que_text,.mainPoll p{
		margin-left:0rem;
	}.
	pollsChart{
		position: relative;
	}
	.graphContainer{
		width:60%;
		margin:0 auto;
	}
	.genderChart,.ageChart,.othersChart,.question_analyse_chart{
		height: 250px;
		overflow: hidden;
		width: 100%;
		margin: 0 auto;
		margin-top:-47px;
		position:relative;
	}
	.locationChart,.question_analyse_chart_loc{
		height: 200px;
		overflow: hidden;
		width: 100%;
		margin: 0 auto;
		margin-top:-47px;
		position:relative;
	}
	.shareButtonsDiv{
		width: 35%;
		display: inline-block;
		margin-left: 0%;
		padding-left: 15%;
	}
	ul.share-buttons{
		padding:0;
		margin:0 auto;
		display:block;
		text-align: center;
	}
	.fa-2x {
		font-size: 1em !important;
	}
	.gender,.age,.location,.others{
		border:#666 solid;
		margin-bottom: 1rem;
		margin-left:1rem;
		margin-right:1rem;
		width:98%;
		margin:0 auto;
		display: block;
	}
	.analyzeAndShare{
		margin-bottom:2rem;
		padding-bottom:1rem;
	}
	.fa{
		font-size:15px !important;
	}
	.analysis{
		margin-top:0;
	}
	.back {
		top:0;
		left:0;
	}
}

