html{
	background:none !important;
	background-size:cover;
	/*max-width: 1200px;*/
  	margin: 0 auto;
  	position: relative;
  	height: 100%;
  	/*font-family: 'Droid Sans', sans-serif;*/
  	/*font-family: 'Lato', sans-serif;*/
  	font-family: 'Arvo', serif;
}
.pdf-pages, #pdf-survey-footer{
	/*background: url('/static/login/images/analytics-raw.jpg') no-repeat center center fixed;*/
	/*height: 1030px;*/
}
#wrapper {
	max-width: none;
	width: 713.705px;
}
.survey-overview-pdf {
    display: block !important;
    padding: 2rem 1rem 1rem 1rem;
    margin-top: 1rem !important;
}
.page-main-heading{
	/*margin-top: 1rem;*/
	margin-bottom: 0.5rem;
	font-size: 2rem;
    text-align: center;
    /*text-decoration: underline;*/
    background: white;
    padding: 0.4rem;
}
.data-heading-pdf{
	margin-bottom: 0.5rem;
    font-weight: bold;
    background: wheat;
    padding: 0.4rem;
}
.pdf-chart{
	width: 325px;
    display: inline-block;
}
.pdf-chart-poll{
  width: 100%;
  display: block;
}
.pdf-chart-survey-prof{
  display: block;
  margin: 0 auto;
}
.pdf-data{
	background: white;
	font-size: 0.8rem !important;
	margin: 0.5rem 0 0.5rem;
	padding: 0.4rem 0 0.4rem 0.4rem;;
}
.pdf-data-tabbed{
	padding-left: 2rem;
	padding-bottom: 0.5rem;
}
.pdf-data-bold{
	font-weight: bold;
}
.pdf-data-sundar{
	background: wheat;
}
.pdf-info{
	background: white;
}
.pdf-data-footer{
	position: absolute;
    bottom: 0;
    right: 0px;
}
.advancedanalyseSelectPDF{
	background: wheat;
    /*border-radius: 25px;*/
    padding: 0.2rem;
    margin-right: 0.5rem;
}
.advancedanalyseSelectPDFAbsolute{
	margin-left: 4rem;
}
.analysis-pdf-cmp{
	width: 335px;
	display: inline-block;
}
.advancedAnaPDF{
	padding: 0.5rem 0 0.5rem 0;
	text-align: center;
}
.pdf-que-text{
	background: #cfcfcf;
    margin-top: 1rem;
    padding: 0.5rem;
}
.table-component-pdf {
    line-height: 1.5em;
    margin: 0 auto;
    padding: 1em 0 1em;
    overflow: hidden;
}
td, th {
    text-align: center !important;
    vertical-align: middle;
    padding: none !important;
}
.pdf-choice-text{
	background: white;
	margin: 0.2rem 0 0.2rem;
}
.figurePDF { 
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}
.choices{
	display: -ms-flex; 
  	display: -webkit-flex; 
  	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
  	display: flex;
}
.choiceDetailImage{
	width:100px;
	height:100px;
	margin:0 1rem;
}
.choiceFigCaption{
	/*text-align: center;*/
	/*height:21px;*/
	font-size: 0.8rem !important;
}
.choice-figure{
    display: inline-block;
    width: 130px;
    background: white;
    height: auto;
}
.pdf-footer-logo{
	width: 200px;
    /*margin-left: 2px;*/
}