#header-wrapper,#footer{
	display: none;
}
.pollInfo{
	display: none;
}
#content{
	padding:0;
}
.questionContent{
	display: block;
	width:100% !important;
}
.questionContent>div{
	-webkit-box-flex: none;
    -moz-box-flex: none;
    /* width: 20%; */
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    display: block;
}
.questions{
	opacity: 1 !important;
	background-color:transparent; 
	padding:2rem;
	border: none;
}
.userInfo{
	border-bottom: 4px solid;
	-webkit-box-flex: none;
    -moz-box-flex: none;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width:100%;
    display: block !important;
    margin-top:-7%;
}
.userImage img{
	display: block;
    width: 150px;
    height: 150px;
    margin:0 auto;
}
.userBrief,.userBrief-right{
	display: inline-block;
}
.userBrief p{
	padding:0;
}
.userBrief-right{
	float:right;
}
.userBrief-right p{
	text-align: right;
}
#survey-title{
	text-align: center;
}
.survey-questions{
	margin-top:3rem;
}
span.section-name {
    position: absolute;
    top: -24px;
    left: -3px;
    padding: 0 0.5rem;
    background: #f96a0e;
    font-size:1.2rem;
    color:white;
    padding:4px;
}
.survey-sections{   
    margin: 2rem 0;
    position: relative;
    display: none;
}
#section---1{
	display: block;
}
/*p.next-section{
    padding: 0 10px;
    font-size: 1rem;
    right: 15px;
    position: absolute;
    bottom: -5px;
}*/
.survey-sections:first-child{
	display: block;
}
.section-name-div{
	padding: 0.5rem;
}
.survey-question{
	border: 2px solid #666;
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    color:black;
    background: rgba(220,220,220,0.2);
}
.text-ans{
	width:100%;
	height: 2.5rem;
}
.surveySubmit,.next-section{
	font-size: 1rem;
	margin: 0 auto;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    margin-bottom:1rem;
}
.errorlist{
	float: none !important;
}
.que_text{
	font-size: 1.3rem !important;
}
p.que_text_header{
		text-align: center;
		font-size:2rem !important;
}
.choice-text{
	font-size: 1.1rem !important;
	padding:0.5rem;
}
form.optionsForm{
	margin-top: 0 !important;
	padding-top: 0 !important;
}
.light-blue {
    background-color: rgba(20,156,222,0.5);
}
.yellow {
    background-color: rgba(238,188,19,0.5);
}
.red {
    background-color: rgba(238,94,79,0.5);
}
.green {
    background-color: rgba(45,204,112,0.5);
}
.question_description,.question_description_header{
	margin-left: 0;
	padding-left: 0;
}
.question_description{
	padding-left:1rem;
	box-sizing:border-box;
}
.is-countdown{
	display: none;
}
.optionsForm p{
	padding:1rem;
	margin:0;
    cursor: pointer;
}
.userBrief-center{
    text-align: center;
    font-size:1.2rem;
    color:#f96a0e;
}
.optionsForm p.horizontal-options{
	display: inline-block;
	padding-left: 0;
	padding:1rem;
}
.pollInfo {
    width: 94%;
    margin: 0 auto;
}
.pollInfoDataDetail {
    width: 100%;
    margin: 0 auto; 
}
.selectedOption{
	background-color: rgba(192, 192, 192,1) !important;
	 -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}
img.survey-featured{
	display: block;
    margin: 0 auto;
    width: 100%;
    height: 350px;
}

.table-container > header {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
	background: rgba(0,0,0,0.01);
}

.table-container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.table-container > header span {
	display: block;
	font-size: 60%;
	opacity: 0.7;
	padding: 0 0 0.6em 0.1em;
}
.table-component {
	margin: 0 auto;
	max-width: 1000px;
	overflow: hidden;
}
.table-component .filler {
	font-family: "Blokk", Arial, sans-serif;
	color: #d3d3d3;
}
table {
    border-collapse: collapse;
    width: 100%;
    background: #fff;
}
td, th {
    padding: 0.75em 1.5em;
    text-align: left;
}
td.err {
	background-color: #e992b9;
	color: #fff;
	font-size: 0.75em;
	text-align: center;
	line-height: 1;
}
th {
    background-color: rgba(192,192,192,0.5);
    font-weight: bold;
    white-space: wrap;
}
tbody th {
	background-color:rgba(192,192,192,0.5);
}
tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}
tbody tr:hover {
    background-color: rgba(129,208,177,.3);
}

/* For appearance */
.sticky-wrap {
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
	margin: 3em 0;
	width: 100%;
}
.sticky-wrap .sticky-thead,
.sticky-wrap .sticky-col,
.sticky-wrap .sticky-intersect {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .125s ease-in-out;
	z-index: 50;
	width: auto; /* Prevent table from stretching to full size */
}
.sticky-wrap .sticky-thead {
	box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
	z-index: 100;
	width: 100%; /* Force stretch */
}
.sticky-wrap .sticky-intersect {
	opacity: 1;
	z-index: 150;

}
.sticky-wrap .sticky-intersect th {
	background-color: #666;
	color: #eee;
}
.sticky-wrap td,
.sticky-wrap th {
	box-sizing: border-box;
}

/* Not needed for sticky header/column functionality */
th.question-table-heading {
	text-transform: capitalize;
}
.sticky-wrap.overflow-y {
	overflow-y: auto;
	max-height: 50vh;
}

p.special-userBrief-center{
	display: none;
	text-align: center;
}
@media only screen and (max-width: 768px){
    .questions{
    	padding:0;
    	margin:0;
    }
    p.que_text_header{
    	font-size:1.25rem !important;
    }
    .userInfo{
    	display: none !important;
    }
    .userBrief {
            margin-left:2rem;
    }
    img.survey-featured{
		display: block;
	    margin: 0 auto;
	    width: 100%;
	    height: 200px;
	}
	form.optionsForm{
		border-bottom:none;
		margin-top: 0 !important;
		margin-left: 0 !important;
		padding-left: 0 !important;
	}
	.que_text{
		font-size: 1rem !important;
		margin-left: 0 !important;
		padding-left: 0 !important;
		/*margin-bottom: 0;*/
	}
	.choice-text{
		font-size: .95rem !important;
	}
	.question_description{
		font-size: .95rem !important;
	}
    .text-ans{
        font-size:1rem;
    }
    .optionsForm p.horizontal-options{
    	display: block;
    }
    .special-case{
    	display: none;
    }
    p.special-userBrief-center{
    	display: block;
    }
}

@media only screen and (max-width: 980px) and (min-width: 481px){
	.questionContent {
    		width: 100% !important
	}
}
/*For Symphony*/
	#survey-63 .survey-question .que_text{
		padding:0.5rem 0.5rem 0 0.5rem;
		margin:0;
	}
	#survey-63 #section---8 .que_text,#survey-question4177 .que_text{
		margin-bottom: 1rem;
	}
	#survey-63 .optionsForm{
		padding:0 !important;
	}
	#survey-63 .optionsForm .choice-text{
		font-size: 14px !important;
		padding:0 4px;
	}
	#survey-63 .optionsForm input[type=radio] {
	    border: 0px;
	   	height: 12px;
	   	vertical-align: middle;
	}
	#survey-63 .optionsForm p.horizontal-options{
		padding: 1rem 0;
	}
	.othercommentscolor{
		color:red;
	}
/*End For Symphony*/

@media only screen and (max-width: 1280px) and (min-width: 981px){
	#search-980{
		display: none;
	}
}
 	
