html{
	background:url('/static/polls/images/surveyDetail.jpg') no-repeat center center fixed;
	background-size:cover;
	/*max-width: 1200px;*/
  	margin: 0 auto;
  	position: relative;
  	font-family: 'Arvo', serif;
}
.questions{
	opacity: 1 !important;
}
.survey-question{
	border: 2px dashed #666;
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}
.text-ans{
	width:100%;
	height: 2.5rem;
}
.surveySubmit{
	font-size: 1rem;
	margin: 0 auto;
    display: block;
}
.errorlist{
	float: none !important;
}
.que_text{
	font-size: 1.3rem !important;
}
.choice-text{
	font-size: 1.1rem !important;
}
form.optionsForm{
	margin-top: 0 !important;
}
@media only screen and (max-width: 480px){
    .userBrief {
            margin-left:2rem;
    }
	form.optionsForm{
		border-bottom:none;
		margin-top: 0 !important;
		margin-left: 0 !important;
		padding-left: 0 !important;
	}
	.que_text{
		font-size: 1rem !important;
		margin-left: 0 !important;
		padding-left: 0 !important;
		/*margin-bottom: 0;*/
	}
	.choice-text{
		font-size: .95rem !important;
	}
	.question_description{
		font-size: .95rem !important;
	}
	.surveySubmit{
		margin-bottom: 1rem;
	}
}

