{% extends "polls/common.html" %}
{% load static %}

{% load url from future %}
{% load i18n %}
{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/login.css' %}" />
{% endblock %}
{% block content %}
<section id="login">
	<div class="login">
		<div class="loginContent">
			<!-- <h1>{% trans "Sign In" %}</h1> -->

			{% if socialaccount.providers  %}
			{% if request.GET.next %}
				<p><a href="{% url 'account_signup' %}?next={{ request.GET.next }}&&ref={{ request.GET.ref }}"><span class="anchorSpan">Sign up</span></a> for a free account or <span class="anchorSpan">Sign in</span> below</p>
			{% else %}
				<p><a href="{% url 'account_signup' %}"><span class="anchorSpan">Sign up</span></a> for a free account or <span class="anchorSpan">Sign in</span> below</p>
			{% endif %}

			<div class="loginContentTable">
				<div class="information-video">
					<iframe class="video" src="https://www.youtube.com/embed/kxjXPV1a0h8" frameborder="0" allowfullscreen></iframe>
					<div class="slider">
						<img class="slider-img" src="http://i.imgur.com/Hph8nid.jpg">
					</div>
				</div>
				<div class="socialaccount_ballot">
					<div class="social_providers">
					  <!-- <ul class="socialaccount_providers"> -->
						{% include "socialaccount/snippets/provider_list.html" with process="login" %}
					  <!-- </ul> -->
					 </div>
				  <form class="loginContentForm" method="POST" action="{% url 'account_login' %}">
					  {% csrf_token %}
					  {{ form.as_p }}
					  {% if redirect_field_value %}
					  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
					  {% endif %}
					  <p>
					  <a class="forgotPass" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
					  <button class="submit loginSubmit" type="submit">{% trans "Sign In" %}</button>
					  </p>
					</form>
				</div>
				<!-- <div class="login_or"> OR </div> -->

				  <!-- <div class="login-or">{% trans 'or' %}</div> -->

				<!-- <div class="login-or">{% trans 'or' %}</div> -->
				{% include "socialaccount/snippets/login_extra.html" %}
				

				{% else %}
				<p>{% blocktrans %}If you have not created an account yet, then please
				<a href="{{ login_url }}">sign up</a> first.{% endblocktrans %}</p>
				{% endif %}

				
			</div>
		</div>
	</div>
</section>

{% endblock %}
