{% extends "polls/common.html" %}
{% load static %}

{% load url from future %}
{% load i18n %}
{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/login.css' %}" />
{% endblock %}
{% block content %}
<section id="login">
	<div class="login">
		<div class="loginContent">
			<!-- <h1>{% trans "Sign In" %}</h1> -->

			{% if socialaccount.providers  %}
			<p><a href="{% url 'account_signup' %}"><span class="anchorSpan">Sign up</span></a> for a free account or <span class="anchorSpan">Sign in</span> below</p>

			<div class="loginContentTable">
			<div class="socialaccount_ballot">

			  <!-- <ul class="socialaccount_providers"> -->
				{% include "socialaccount/snippets/provider_list.html" with process="login" %}
			  <!-- </ul> -->
			</div>
			<!-- <div class="login_or"> OR </div> -->

			  <!-- <div class="login-or">{% trans 'or' %}</div> -->

			<!-- <div class="login-or">{% trans 'or' %}</div> -->
			{% include "socialaccount/snippets/login_extra.html" %}
			

			{% else %}
			<p>{% blocktrans %}If you have not created an account yet, then please
			<a href="{{ login_url }}">sign up</a> first.{% endblocktrans %}</p>
			{% endif %}

			<form class="loginContentForm" method="POST" action="{% url 'account_login' %}">
			  {% csrf_token %}
			  {{ form.as_p }}
			  {% if redirect_field_value %}
			  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			  {% endif %}
			  <p>
			  <a class="forgotPass" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
			  <button class="submit loginSubmit" type="submit">{% trans "Sign In" %}</button>
			  </p>
			</form>
			</div>
		</div>
	</div>
</section>

{% endblock %}
