.footer_slider .swiper-slide img{
	height: 100px;
	width:100%;
}
.footer-block img{
	height: 50px;
}
.be-post .be-img-block img{
	height: 201px;
}
.info-block span:not(:last-child){
	margin-right: 20px;
}
.be-post-title{
	max-height: 100px;
    height: 100px;
}
.custom-column-5{
	position: relative;
}
a.vote-btn-redirect{
	color:white;
	position: absolute;
	right:0;
}
#ticker {
    height: 40px;
    overflow: hidden;
}
#ticker li {
    height: 40px;
}
.blue{
	color:#0d58c8;
}
.green{
	color:#2ecc71;
}
.yellow{
	color:#f1c40f;
}
.red{
	color:#e74c3c;
}
.login-social{
	text-align: center;
	margin-bottom:2rem;
}