.infoP{
	border: 1px solid;
	padding: 1rem;
	margin-bottom: 1rem;
}
#infoBox1{
    width: 100%;
}

.figBox{
	margin-bottom: 0.5rem;
	/*border:1px solid;*/
}
#wrapper{
	font-size: 20px !important;
	max-width: 1600px !important;
}
.questions{
	opacity:1 !important;
	padding:2rem;
}
#foodStartUpsShare{
	display: inline-flex;
    padding: 1rem;
}
.askbypoll-embed-poll-question-choice{
	margin-right:5rem !important;
}
td {
	height:25px;
}	 
#figBox1{
	border: 0px !important;
}
.askbypoll-embed-show-demographics{
	/*font-size: 1rem !important;
	bottom: 1rem !important;*/
}
.bullet-span{
	font-size: 2rem;
	vertical-align: middle;
}
.sources-a{
	color: darkblue;
}
a{
	color: darkblue;
}
p{
	line-height: 140%;
    font-size: 90%;
    margin-bottom: 1rem;
}
.article-heading{
	background-color: turquoise;
	padding: 1rem 0;
	font-size: x-large;
	font-weight: 700;
	text-align: center;
}
.article-details{
	font-size:80%;
	margin-bottom: 2rem;
}
.article-details-time{
	float: right;
	/*right: 5rem;*/
	/*position: absolute;*/
}
.article-sub-headings{
	font-weight: bold;
	margin-bottom: 1rem;
}
.imageAndInfo-together{
	display: flex;
}
.article-images{
	width: 100%;
}
.mobile-wallet-images{
	height: 400px;
}
.figBox-ws{
	width:40%;
}
.bold-underline{
	font-weight: bold;
	text-decoration: underline;
}
.italic-color-p{
	font-style: italic;
	color: maroon;
}
.bold-italic-color-p{
	background: #fff;
	padding: 15px 20px 15px 45px;
	margin: 0 0 20px;
	position: relative;

	/*Font*/
	font-family: Georgia, serif;
	/*font-size: 16px;*/
	line-height: 1.2;
	color: maroon;
	text-align: justify;
	font-style: italic;
	font-weight: bold;

	/*Borders - (Optional)*/
	border-left: 15px solid #c76c0c;
	border-right: 2px solid #c76c0c;

	/*Box Shadow - (Optional)*/
	-moz-box-shadow: 2px 2px 15px #ccc;
	-webkit-box-shadow: 2px 2px 15px #ccc;
	box-shadow: 2px 2px 15px #ccc;
}
.bold-italic-color-p::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

.bold-italic-color-p::after{
  /*Reset to make sure*/
  content: "";
}
.article-images-org-center{
	margin: 1rem auto;
	display: block;
}
.article-images-org-center-border{
	margin: 1rem auto;
	display: block;
	border: 2px solid maroon;
}
#zipgo-image{
	width:50%;
}
#zipgo-stats{
	height: 500px;
}
@media only screen and (max-width: 480px){
	.questions{
		padding: 1rem;
	}
	.article-details, .sources-p{
		font-size:66%;
	}
	.article-details-time{
		float: left;
	}
	p{
	    font-size: 80%;
	}
	.askbypoll-embed-poll-question-choice{
		margin-right:1rem !important;
	}
	.article-sub-headings{
		font-size: 90%;
	}
	.article-heading{
		font-size: 1.1rem;
	}
	.mobile-wallet-images{
		height: 100%;
	}
	.imageAndInfo-together{
		display: block;
	}
	#zipgo-image{
		width:100%;
	}
	.article-images-org-center, .article-images-org-center-border{
		width: 100%;
	}
	#zipgo-stats{
    	height: 350px;
    	margin-left: -7px;
	}
}
