/* Inspired by http://news.microsoft.com/stories/index.html */
html{
	/*background: linear-gradient(60deg, #6ba0bd 0%, #bf6c9e 100%) no-repeat center center fixed;*/
	background: #fafbfc;
}
#content{
	max-width:1400px;
	padding:9rem 0 3rem 0;
	margin:0 auto;
	color: #555f77;
}
#content p{
	color:#555f77;
	font-size: 1.2rem;
	line-height: 24px;
	letter-spacing: 1px;
}
#featured-partciles{
	height: 768px;
	position: relative;
}
.featured-col{
	position: absolute;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.col1{
	width:48%;
	left:0%;
	border: 2px solid #f96a0e;
}
.featured-col-row{
	height: 49%;
    position: relative;
    margin-bottom:1rem;
    border: 2px solid #f96a0e;
}
.particle-feature-detail{
	position: absolute;
	bottom:0;
	background: rgba(15,15,15,0.78);
	width:100%;
	-webkit-animation: footerSlide 400ms 0.1s ease-out backwards;
    animation: footerSlide 400ms 0.1s ease-out backwards;
}
.particle-feature-detail p{
/*	text-align: center !important;*/
	color:white !important;
	font-weight: bold !important;
	font-size:1.2rem !important;
	text-transform: capitalize;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
}
@-webkit-keyframes footerSlide{
	0%{-webkit-transform:translate3d(0,300px,0)}
	100%{-webkit-transform:translate3d(0,0,0)}}
@keyframes footerSlide{
	0%{-webkit-transform:translateY(300px);
		transform:translateY(300px)
	}
	100%{-webkit-transform:translateY(0);
		transform:translateY(0)
	}
}
.col2{
	left:50%;
	width:24%;
}
.col3{
	left:75%;
	width:24%;
}
#trivia{
	padding-top:0  ;
}
/* Particle Detail Page*/
.particle-detail{
	padding:1rem 2rem;
	box-sizing:border-box;
	background: white;
}
p.main-heading{
	font-size:2rem !important;
	font-weight: bold !important;
	text-align: center !important;
	line-height: 40px !important;
	margin-bottom:0;
}
img.user-particle{
	width:50px;
	height: 50px;
	border-radius: 50%;
	float:left;
}
p.particle-author,p.particle-time{
	float:left;
	margin-left:1rem;
}
p.particle-author{
	padding-right:1rem;
	border-right:2px solid;
}
img.featured-image{
	display: block;
	width:95%;
	margin:0 auto;
	height: auto;
}
.particle-body{
	padding:1rem 3rem;
	background: white;
	/* text-align: justify; */
}
.particle-body img{
	/* display: block; */
	width: 100%;
	height: auto;
}
blockquote p {
  font-size: 1.25rem !important;
}
ul{
	list-style: initial;
}
ul#foodStartUpsShare{
	display: inline-flex;
	padding:1rem 3rem;
	list-style: none;
}
ul#foodStartUpsShare li{
	display: inline-block;
}
iframe#youtube-embed{
	width: 50%;
    display: block;
    margin: 0 auto;
    height: 365px;
}
iframe#fb-post{
	width: 50%;
    display: block;
    margin: 0 auto;
    height: 365px;
	height: 250px;
}
#primer-featured-title,#primer-featured-summary{
	padding:1rem;
}
#primer-featured-title{
	font-size: 1.5rem !important;
	line-height: 2rem;
	text-align: left !important;
	padding-bottom:0;
	margin:0;
}
#primer-featured-summary{
	font-size: 1rem !important;
	text-align: left !important;
	padding-top:0;
}
.primer-title{
	padding:0rem 1rem;
}
@media only screen and (max-width: 767px){
	#content p,.particle-feature-detail p{
		font-size: 1rem;
	}
        .particle-detail{
		padding:1rem;
	}
	.particle-body h1{
		font-size:1.3rem !important;
	}
	.particle-body h2{
		font-size:1.1rem !important;
	}
	blockquote p{
		font-size:1.1rem !important;
	}
	p.main-heading{
		font-size:1.5rem !important;
	}
	#featured-partciles{
		height: auto;
		position: initial;
	}
	.featured-col{
		position: initial;
	}
	.container-primer{
		margin-bottom:1rem;
		height: 380px;
	}
	.col1{
		width:99%;
		margin:0 auto;
		position: relative;
	}
	.col2,.col3{
		position: initial;
		width:100%;
	}
	/*.particle-feature-detail{
		position: initial;
	}*/
	.featured-col-row {
		height: 200px;
		position: relative;
		border: none;
		margin-bottom:1rem;
	}
	#primer-featured-title{
		font-size:1.2rem !important;
	}
	#primer-featured-summary{
		padding-bottom:0;
	}
	.primer-detail{
		position: absolute;
	}
	p.main-heading{
		line-height: 36px !important;
	}
	.particle-detail img.user-particle{
		margin-left:1rem;
	}
	.particle-body{
		padding:1rem;
	}
	.figBox img{
		display: block;
		width:100%;
	}
	.particle-author,.particle-time{
		font-size:1rem !important;
	}
	.particle-author{
		padding-right:0.5rem !important;
	}
	.particle-time{
		margin-left:0.5rem !important;
	}
	.particle-body img{
		width: 98% !important;
    	height: auto !important;
		display: block;
		margin:0 auto;
	}
	img.askbypoll-embed-poll-question-choice-img{
		width: 100px !important;
		height: 100px !important;
	}
	img.article-images.article-images-ws.bad-img, img.valentines-info {
	    display: block;
	    width: 100%;
	}
	.particle-body li{
		line-height: 24px;
	}
	iframe#youtube-embed,iframe#fb-post{
		width:100%;
	}
}
