html{
	background:url('/static/login/images/analytics-raw.jpg') no-repeat center center fixed;
	background-size:cover;
}
body{
	max-width: initial;
}
#mobile-dashboard{
	display: none;
}
#content{
	max-width: 1600px;
	margin: 0 auto;
	background-color: white;
	padding: 7rem 2rem;
}
#dashboard-menu{
	width:10%;
	float:left;
	margin-top:5rem;
}
.group-action-icons{
	float:right;
	cursor:pointer;
}
ul.dashboard-menu-items{
	padding:0;
}
ul.dashboard-menu-items li{
	font-size:1.2rem;
	font-family:'Arvo', serif;
	text-align: left;
	margin:1rem 0;
	cursor: pointer;
}
.selectedLi, .dashboard-menu-li:hover{
	background-color: wheat;
    padding: 0.5rem;
    border-radius: 4px;
}
.admin-dash-div{
	width: 90%;
 	float: left;
 	display: none;
}
#dashboard-content{
	display: block;
}
.dashboard-header{
	font-size: 3rem;
    border-bottom: 5px solid black;
   	padding-left: 10px;
}
.dashboard-header p{
	margin-bottom:0;
}
.dashboard-stats{
	margin: 2rem 0;
    margin-left: 1rem;
}
ul.dashboard-stats-ul {
	margin-bottom:2rem;
}
ul.dashboard-stats-ul li{
	display: inline-block;
    width: 33%;
    text-align: center;
    padding: 1rem 0;
    font-size:2rem;
    position: relative;
	color:white;
}
.first-li{
	background-color: rgb(23, 134, 101);
}
.second-li{
	background-color: rgb(184, 81, 2);
}
.third-li{
	background-color: rgb(99, 95, 152);
}
.see-more-details{
    font-size: 0.8rem;
    position: absolute;
    bottom: 0;
    right: 2px;
    cursor: pointer;
    background-color: wheat;
    padding: 0.2rem;
    border: 1px solid black;
}
ul.dashboard-stats-ul .see-more-details{
	display: none;
}
.graphs-cube{
	height: 400px;
	margin-bottom:1rem;
}
.graph-admin{
	width: 65%;
    display: inline-block;
    background-color: whitesmoke;
    height: 100%;
    /*margin-right: 6rem;*/
}
svg{
	height:100%;
	width:100%;
}
.cube-admin{
	width: 26%;
    display: inline-block;
    height: 100%;
	-webkit-perspective:800;
	perspective:800;
	-webkit-perspective-origin:50% 110px;
	perspective:50% 110px;
	margin-right: 3rem;
	float:right;
}

#cube{
	display:block;
	position:relative;
	margin:auto;
	margin-top:2rem;
	height:300px;
	width:300px;
	-webkit-transform-style:preserve-3d;
	-webkit-transform:rotateX(0deg) rotateY(20deg);
	-webkit-animation:anim2 ease-in-out 60s infinite alternate;
}

.mail-poll{
	margin-right:24rem;
}
.shareOnMail{
	display:none;
	border:1px dashed;
}

@-webkit-keyframes anim2{
	from {-webkit-transform:rotateY(0deg)}
	50% {-webkit-transform:rotateY(360deg)}
	to {-webkit-transform:rotateY(0deg)}
}
.face{
    position: absolute;
    height: 270px;
    width: 360px;
    /* padding: 20px; */
    background-color: rgba(255,255,255,0.5);
    font-size: 7rem;
    text-align: center;
}
#f1{
	-webkit-transform: rotateX(90deg) translateZ(200px);
	-ms-transform: rotateX(90deg) translateZ(200px);
	transform: rotateX(90deg) translateZ(200px);
}
#f2{
	-webkit-transform: translateZ(180px);
	-ms-transform: translateZ(180px);
	transform: translateZ(180px);
	background-color: rgb(23, 134, 101);
}
#f3{
	-webkit-transform: rotateY(90deg) translateZ(180px);
	-ms-transform: rotateY(90deg) translateZ(180px);
	transform: rotateY(90deg) translateZ(180px);
	background-color: rgb(184, 81, 2);
}
#f4{
	-webkit-transform: rotateY(180deg) translateZ(180px);
	-ms-transform: rotateY(180deg) translateZ(180px);
	transform: rotateY(180deg) translateZ(180px);
	background-color: rgb(23, 134, 101);
}
#f5{
	-webkit-transform: rotateY(-90deg) translateZ(180px);
	-ms-transform: rotateY(-90deg) translateZ(180px);
	transform: rotateY(-90deg) translateZ(180px);
	background-color: rgb(184, 81, 2);
}
#f6{
	-webkit-transform: rotateX(-90deg) translateZ(200px) rotate(180deg);
	-ms-transform: rotateX(-90deg) translateZ(200px) rotate(180deg);;
	transform: rotateX(-90deg) translateZ(200px) rotate(180deg);;
}
.cube-text{
	position: absolute;
	font-size:2rem;
	color:white;
	bottom:0;
	left:0;
}
.dashboard-recent{
	background: whitesmoke;
	padding:1rem;
	position: relative;
	color:black;
}
.dashboard-recent li{
	margin-bottom:0.5rem;
	position: relative;
}
.dashboard-recent li:first-child{
	font-size:2rem;
	margin-bottom:1rem;
	border-bottom:2px solid black;
}
li.followers{
	border-bottom:0 !important;
	font-size:1rem !important;
	display: inline-block !important;
}
.see-more-details-p{
	width: 8rem;
    text-align: center;
    /*margin-top:0.2rem;*/
    bottom: initial;
}
.activity_url{
	display: inline-block;
}
.activity_url::first-letter{
	text-transform: capitalize;
}
.question-u{
	/*top: 4rem;*/
    right: 8rem;
}
.edit-u{
	/*top: 4rem;*/
    right: 40rem;
}
.clone-u{
	/*top: 4rem;*/
    right: 32rem;
}
.check{
	float: right;
}
.fa-arrow-left {
    display: inline-block;
}
.li-margin-polls{
	border-bottom: 2px dashed;
    padding-bottom: 1.5rem;
}
.analysis{
	display: none;
	margin-top: 0rem !important;
}
#advancedAna{
	width:90%;
	margin:0 auto;
	text-align: center;
}
.analyseSelect,.advancedanalyseSelect{
	width: 10%;
    margin: 0 auto;
    display: block;
    padding: 0.5rem;
    border-radius: 25px;
    margin-bottom: 1rem;
    font-family: 'Arvo',serif;
    background-color: wheat;
    color: black;
}
.advancedanalyseSelect{
	display: inline-block;
}
.pollsChartClass{
	width: 76%;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.choices figure{
	display: inline-block;
}
.choices figure img{
	width: 200px;
	height: 200px;
	display: inline-block;
}
span.cube-num{
	padding-top: 3rem;
    display: inline-block;
	color:white;
}
.coming-soon{
	text-align: center;
    font-size: 2rem;
    margin-top: 10rem;
}
.feed-admin{
	border-bottom: none !important;
}
.create-group,.create-survey{
	display: none;
	margin-top:2rem;
	/*position:relative;*/
}

.groupMembers,.surveyDescription{
	padding-bottom:1rem;
}

#create-new-group,#create-new-survey{
	position: absolute;
    right: 131px;
    top: 8rem;
    border: 2px solid;
    padding: 0.5rem;
    cursor: pointer;
    z-index:10;
}
.error-survey{
	display: block;
    text-align: center;
}
.survey-questions{
	margin-top:1rem;
}
.survey-all-questions{
	display:none;
    border: 2px dashed;
    margin-top: 2rem;
    margin-left: 1rem;
}
.anonymous{
    text-align: center;
    display: block;
    margin: 0 auto;
}
.ana-text{
	display: none;
	margin:0 1rem;
}
.answer-text{
	border: 2px solid #666;
    box-sizing: border-box;
    padding: 0.5rem;
    background: #cfcfcf;
    margin-bottom: 0.5rem;
}
figure.members-figure {
     position: relative;
     display: inline;
     padding: 1rem;
     cursor:pointer;
}
figure img.groupsMemberProfilePic {
	width: 75px;
    height: 75px;
    border-radius: 50%;
    display: block;
    display: inline;
}
figcaption.members-figcaption {
    color: orange;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top:2rem;
    text-align: center;
}
.group-ana-member{
	margin-top: 2rem;
}
form#create-group-form,form#create-survey-form{
	padding: 2rem 0rem 0 2rem;
    margin: 0 auto;
    border: 2px dashed #666;
    margin-left: 1rem;
}
form#create-group-form p.form-p,form#create-survey-form p.form-p{
	margin-bottom:3rem;
}
form#create-group-form label,form#create-survey-form label{
	display: inline-block;
	width:20%;
	color: #666;
}
#create-group-form input[type="text"],#create-survey-form input[type="text"]{
		height: 2rem;
		border-radius: 10px;
		border: 1px solid #4c4c4c;
		background: transparent;
		overflow:hidden;
}
form#create-group-form textarea,form#create-survey-form textarea{
	border-radius: 10px;
    border: 1px solid #666;
    background: transparent;
    overflow: hidden;
	width:50%;
	height: 3rem;
}
::-webkit-input-placeholder {
    text-align: center;
}
:-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
}
::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
}
:-ms-input-placeholder {
    text-align: center;
}
#csvUpload{
	padding: 0.5rem;
    display: inline-block;
    background: #fff;
    border: 1px solid;
    cursor: pointer;
    font-size: 1rem;
    color: #000000;
    border-radius: 10px;
}
.create-questions{
	display: none;
}
li.questions-li{
	display: inline;
	margin:0 1rem;
}
.errorlistSurvey{
	float: none;
	margin-left: 1rem;
}
.survey-question-div{
	border: 1px solid;
    padding: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
.survey-question-div:active,.survey-question-div:hover{
    box-shadow: 5px 5px 5px;
}
.share-with-group{
	right: 16rem;
}
.survey-overview-button{
 right: 24rem;
}
.survey-overview{
	display:none;
	margin-top:2rem;
}
.completionRate{
	border: 1px solid;
    color: black;
    background: wheat;
    padding:0.2rem;
    margin-left: 1rem;
}
.share-with-group-form{
	display:none;
	position: absolute;
    right: -25px;
    top: 47px;
    width: 353px;
}
.share-button-g{
	border: 1px solid;
    padding: 0.2rem;
    position: absolute;
    top: 8px;
    cursor: pointer;
    background: wheat;
}

.table-container > header {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
	background: rgba(0,0,0,0.01);
}

.table-container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.table-container > header span {
	display: block;
	font-size: 60%;
	opacity: 0.7;
	padding: 0 0 0.6em 0.1em;
}
.table-component {
	line-height: 1.5em;
	margin: 0 auto;
	padding: 2em 0 3em;
	width: 90%;
	max-width: 1000px;
	overflow: hidden;
}
.table-component .filler {
	font-family: "Blokk", Arial, sans-serif;
	color: #d3d3d3;
}
table {
    border-collapse: collapse;
    width: 100%;
    background: #fff;
}
td, th {
    padding: 0.75em 1.5em;
    text-align: left;
}
td.err {
	background-color: #e992b9;
	color: #fff;
	font-size: 0.75em;
	text-align: center;
	line-height: 1;
}
th {
    background-color: #31bc86;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}
tbody th {
	background-color: #2ea879;
}
tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}
tbody tr:hover {
    background-color: rgba(129,208,177,.3);
}

/* For appearance */
.sticky-wrap {
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
	margin: 3em 0;
	width: 100%;
}
.sticky-wrap .sticky-thead,
.sticky-wrap .sticky-col,
.sticky-wrap .sticky-intersect {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .125s ease-in-out;
	z-index: 50;
	width: auto; /* Prevent table from stretching to full size */
}
.sticky-wrap .sticky-thead {
	box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
	z-index: 100;
	width: 100%; /* Force stretch */
}
.sticky-wrap .sticky-intersect {
	opacity: 1;
	z-index: 150;

}
.sticky-wrap .sticky-intersect th {
	background-color: #666;
	color: #eee;
}
.sticky-wrap td,
.sticky-wrap th {
	box-sizing: border-box;
}

/* Not needed for sticky header/column functionality */
th.question-table-heading {
	text-transform: capitalize;
}
.sticky-wrap.overflow-y {
	overflow-y: auto;
	max-height: 50vh;
}
.invites-send{
	color: orange;
    border-top: 2px solid#666;
    margin-top: 2rem !important;
    padding-top: 1rem;
    margin-bottom: 2rem !important;
}
.members-future{
	display: inline-block !important;
	margin-left: 1rem !important;
    padding: 0.5rem !important;
    border: 1px solid !important;
    background: #cfcfcf !important;
    font-size: 1rem !important;
}
.export-excel{
	right: 8rem;
    width: 7rem;
}
.export-pdf{
    width: 7rem;
}
.embed-poll-code{
	margin-right:16rem;
}
.embedPollDiv{
	display:none;
	border:1px dashed;
	padding:2rem;
}
.embedCodeTextArea{
	width:60%;
	font-size:20px;
	height:60px;
	vertical-align: top;
	margin-bottom: 1rem;
}
.embedCodeLabel{
	display: inline-block;
    width: 30%;
}
.embedCodeP{
	display:inline-block;
	width:45%;
}
#embedCodeDivP{
	margin: 0 auto;
    display: block;
    margin-top: 2rem;
}
.advanced-ana-bar-graph{
	display:none;
	text-align: center;
    font-weight: bold;
}
.pollsChartClassColumn{
	width: 100%;
    /*margin-left: 1rem;*/
    display: inline-block;
    height: 330px;
}
.advancedanalyseSelectColumn1, .advancedanalyseSelectColumn2{
	/*max-width: 17%;*/
	width: 7rem;
    /*display: block;*/
    margin: 0;
    margin-bottom: 1rem;
}
.advancedanalyseSelectChoiceCmp{
	width:10rem;
}
.advancedAnaCmp{
	width:49% !important;
	/*margin: 0 !important;*/
	display: inline-block !important;
}
.advancedCmpSelect{
	/*position: absolute;*/
	/*width: 17%;*/
	display: inline-block;
	margin-top: 3rem;
	vertical-align: top;
}

.gender, .age, .location, .others {
	width:initial;
	display: block;
}
.question_analyse_chart_cmp1, .question_analyse_chart_cmp2, .question_analyse_chart_loc_cmp1, .question_analyse_chart_loc_cmp2{
	height: 400px;
	width: 100%;
}
.remove-question{
	cursor: pointer;
    float: right;
}
.add-q,.add-choice{
	cursor: pointer;
}
.remove-choice{
	cursor: pointer;
	margin-left: 1rem;
}
.createPollContentForm textarea{
	margin-top: 0rem !important;
}
.choice-filter{
	text-align: center;
	display: block;
	font-weight: bold;
    margin-bottom: 0.5rem;
}
.askbypoll-group-filter{
	margin: 4rem 1rem 1rem 1rem;
    /* text-align: center; */
    /* padding-bottom: 2rem; */
    border-bottom: 1px black dashed;
}
.askbypoll-email-preview-form{
	width: 97%;
	margin: 0 auto;
	position: relative;
    margin-bottom: 1rem;
    height: 1000px;
}
.askbypoll-email-preview-form-child{
	width: 48%;
	border: 2px solid;
    border-radius: 10px;
    display: inline-block;
    height: 100%;
    overflow: auto;
}
.askbypoll-email-preview{
	position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
.askbypoll-email-preview-sub{
	font-size: 1.2rem;
	/*text-align: center;*/
    margin: 1rem;
}
.askbypoll-email-form{
	/*height: 99%;
    position: absolute;
    right: 0;
    top: 0;*/
}
.askbypoll-group-filter-p{
	font-size: 1.2rem;
    margin-bottom: 2rem;
    display: inline-block;
}
.mail-poll-widget-type-p{
	margin: 0rem 0 1rem 0;
	display: inline-block;
}
.mail-poll-widget-type{
	display: block;
	text-align: center;
}
.askbypoll-email-preview-form textarea{
	width:100%;
	height: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #000;
    border: 1px solid transparent;
}
.askbypoll-email-preview-sub-form-text{
	height: 1rem !important;
    width: 96% !important;
    margin-left: 1rem;
}
.email-widget-template-div, .email-widget-email-list-div{
	text-align: left;
	margin-left: 1rem;
}
.email-widget-template-div label, .email-widget-email-list-div label{
	display: inline-block;
	width:12rem;
}
.email-widget-email-list-div p{
	margin: 1rem 0 1rem 0;
    position: relative;
}
.email-widget-email-list-div textarea{
	height: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #000;
    border: 1px solid transparent;
    position: absolute;
    top: 0;
    left: 10%;
    width: 50%;
}
.email-widget-email-list-div input[type="file"]{
	font-size: 1.1rem;
	border-radius: 5px;
	background: white;
	padding:0.5rem;
}
.email-widget-template-div select, .askbypoll-group-filter select{
	font-size: 1.1rem;
    margin: 0 1rem;
    width: 12rem;
    border-radius: 5px;
    display: inline-block;
}
.email-widget-template-div button{
	font-size: 1.1rem;
    padding: 0.2rem;
    border-radius: 5px;
}
.email-widget-template-div input[type="text"]{
	font-size: 1.1rem;
    border-radius: 5px;
}
.errorListEmailTemplate{
	float: none;
}
.padding-bottom-border-p{
	padding-bottom: 3rem;
	border-bottom: 1px dashed;
}
.share-template-div{
    width: 30%;
    text-align: center;
}
.feedback-half{
	width: 65%;
    margin: 0 auto;
}
@media only screen and (max-width: 960px){
	#admin-dashboard{
		display:none;
	}
	#mobile-dashboard{
		display: block;
	    background-color: white;
	    border: 2px dashed #666;
	    padding: 1rem;
	    margin: 1rem;
	    margin-bottom: 10rem;
	}
}
.group-member-links{
	display:inline-block;
	margin-bottom: 3rem;
}
