/*Vertical css tabs taken from http://codepen.io/nik-savchenko/pen/xDIAe*/
html{
	background:url('/static/login/images/profile-m.jpg') no-repeat center center fixed;
	background-size:cover;
}
#profile{
	margin: 7rem 5rem 0rem 5rem;
  margin-bottom: 55rem;
}
.profilePic{
	margin: 2% 2% 5% 16%;
	width: 50%;
	margin:0 auto;
}
.profilePic img{
	width:140px;
	height:140px;
	border-radius:50%;
	display:block;
	margin:auto;
}
.profileContent{
	font-size:2rem;
}

.tabs{
	top:10px;
	float: none;
	list-style: none;
	position: relative;
	margin: 20px 5px 5px 10px;
	text-align: left;
	box-sizing:border-box;
}
.tabs input[name="tabs"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
.insideTabs{
  margin:0 auto;
  width:62%;
}
.tabs li{
    float: left;
    width:33%;
}

.tabs label.tabsLabel{
	cursor: pointer;
  	display: block;
    padding: 10px 0px;
  margin-top: 10px;
  	background: -webkit-linear-gradient(23deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
    background: -o-linear-gradient(23deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
    background: linear-gradient(113deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
    position: relative;
    top: -10px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    text-align: center;
    width:163px;
}
.tabs label.tabsLabel:hover{
	background: #b2b2b2;
}
.tabs .tabContent{
	  z-index: 2;
    display: none; 
    overflow: hidden;
    width: 99%;
    position: absolute;
    top: 50px;
    left: 0; 
    background: -webkit-linear-gradient(337deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
    background: -o-linear-gradient(337deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
    background: -ms-linear-gradient(337deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
    background: -moz-linear-gradient(337deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
    background: linear-gradient(113deg, rgb(239, 240, 243) 0%, rgb(230, 232, 238) 98%);
    margin: 0rem 0rem;
    padding: 3rem 0rem;
    opacity: 0.8;
    border: 3px solid #000;
  	border-radius: 25px;
}
/*.tabs input[type="radio"]:checked + label{
	top:0;
	padding-bottom:20px;
}*/
.tabs [id^="tab"]:checked + label { 
    /*top: 0;*/
    /*padding-top: 7px; */
    background: #b2b2b2; 
  }
.tabs [id^="tab"]:checked ~ [id^="tabContent"] {
    display: block;
	/* margin: 0 5rem; */
}
form.profileForm{
	width:90%;
	margin:0 auto;
}
.profileForm p{
  margin-bottom:2rem;
}
form.profileForm label{
	display: inline-block;
	width:24%;
	color: #666;
  font-size: 1rem;
}
form.profileForm .fileLabel{
  padding: 0.2rem;
  text-align: center;
  display: inline-block;
  background: #fff;
  border: 1px solid;
  cursor: pointer;
  font-size: 1.5rem;
  color: #000000;
  -webkit-box-shadow: inset 0px 1px 0px #000005, 0px 5px 0px 0px #020F13, 0px 10px 5px #999;
  -moz-box-shadow: inset 0px 1px 0px #000005, 0px 5px 0px 0px #020F13, 0px 10px 5px #999;
  box-shadow: inset 0px 1px 0px #000005, 0px 5px 0px 0px #020F13, 0px 10px 5px #999;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
.upImg{
    width: 140px;
  height: 140px;
  border-radius: 50%;
  display: block;
  margin: auto;
}
#upImgText{
  padding:1.3rem;
}
.profileForm input[type="text"]{
		height: 2rem;
		border-radius: 10px;
		border: 1px solid #4c4c4c;
		background: transparent;
		font-size:1rem;
		overflow:hidden;
    box-sizing: border-box;
    padding-left: 4px;
}
.bioCss{
  margin-bottom:10rem;
}
.profileForm textarea{
	border-radius: 10px;
  border: 1px solid #666;
  background: transparent;
  font-size: 1.25rem;
  overflow: hidden;
	float:right;
  width:75%;
  padding-left:4px;
  height:4rem;
}
label[for=id_bio]{
  margin-top:3rem;
}
ul.resp-tabs-list, p {
  font-size: 1rem;
}
ul.ul-easy-tabs-polls{
  width:initial !important;
}
ul.ul-easy-tabs-polls li{
  width:initial !important;
}
.polls-resp-tabs-container{
  width:76% !important;
}
.profileForm input[type="date"]{
	border-radius: 10px;
    border: 2px solid #666;
    background: transparent;
    font-size: 1rem;
}
.searchResults{
  font-size: 1rem;
  border: 3px solid #000;
    border-radius: 25px;
    background-color: white;
    opacity: 0.93;
    padding: 1rem 3rem;
    margin-bottom:2rem;
    display: -ms-flex; 
    display: -webkit-flex; 
    display: flex;
}
.result{
  width:90%;
  margin:0 auto;
}

/***SET THE BUTTON'S HOVER AND FOCUS STATES***/
/*.createPollContentForm input[type="submit"]*/ .fileLabel:hover{
	/* color:#dfe7ea; */
	letter-spacing:.05rem;
	/*reduce the size of the shadow to give a pushed effect*/
	-webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
	box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
}
#changePassword{
    width: 40%;
  margin: 0 auto;
}
#changePassword p{
  font-size:1.5rem;
  margin-bottom: 1rem;
}
#changePassword form p{
  font-size:1rem;
}
#changePassword label{
    width: 35%;
  display: inline-block;
}

.circle
{
  width: 32%;
  height: 200px;
  border-radius: 50%;
  font-size: 1rem;
  color: white;
  /* line-height: 83px; */
  text-align: center;
  background: #666;
  display: inline-block;
  margin-top: 1rem;
}
.circleP{
    margin-top:5rem;
}
.category_figure{
    display:inline-block;
    margin:1rem;
}
.category_figurecaption{
    font-size: 1rem;
    text-align: center;
}
.category_imagethumbnails{
    height:96px;
    width:128px;
}
.profilePageZeroQuestions{
    text-align:center;
}
#id_categories{
  width: 125%;
  margin-left: 3rem;
}
#id_categories li{
  display:inline;
  width:45%;
}
span#cats{
  cursor:pointer;
  font-size:1rem;
}
li.secondChildResponsive{
    display: none;
  }
#tabContentResponsive{
    display: none;
  }
@media only screen and (max-width: 960px){
  #profile{
    margin:0;
    width:100%;
    margin-bottom:75rem;
  }
  .tabs{
    margin:0;
  }
  .tabs label.tabsLabel{
    width:100%;
    font-size:1rem;
    top:0.5rem;
  }
  form.profileForm label{
    display: block;
    text-align: center;
    width:100%;
    margin-bottom:0.5rem;
  }
  form.profileForm .fileLabel{
    width: 100%;
    font-size: 1rem;
  }
  .profileForm input[type="text"]{
    margin-top:0.5rem;
    width:100%;
  }
  .first_Gender{
    display:inline-block !important;
    width:33% !important;
    margin-top:0.5rem;
  }
  label[for=id_gender_1],label[for=id_gender_2]{
    display:inline-block !important;
    width:33% !important;
  }
  .profileForm input[type="date"]{
    width:100%;
    margin-top:0.5rem;
  }
  .profileForm textarea{
    width:100%;
    margin-top:0.5rem;
    margin-bottom:2rem;
  }
  #id_state,#id_profession,#id_country{
    width:100%;
    margin-top:0.5rem;
  }
  #id_categories{
    margin:0;
    width:initial;
  }
  span#cats{
    font-size:0.8rem;
    margin-bottom:1rem;
    margin:0 auto;
    display: inline-block;
    text-align: center;
    color:#666;
    width:100%;
  }
  #changePassword label{
    width:100%;
    display:block;
    margin-bottom: 0.5rem;
  }
  #changePassword .submit{
    font-size:1rem;
    padding:0 1rem;
  }
  .responsiveStats{
    display: none !important;
  }
  /*Define Accordion box*/
  /*http://www.hongkiat.com/blog/css-content-accordion/*/
  .accordion {
    overflow:hidden; 
    margin:10px auto; 
    padding:10px;
  } 

  /*General Accordion****************************************************************************/
  /*Set style of open slide*/
  .accordion section:target { background:#FFF; padding:10px;}
  .accordion section:target:hover { background:#FFF; }
  .accordion section:target h2 {width:100%;}
  .accordion section:target h2 a{ color:orange; margin-bottom:0.5rem;padding:0;}
  .accordion section:target p {display:block;}
  .accordion section h2 a{padding:8px 10px;display:block; font-size:16px; font-weight:normal;color:#eee; text-decoration:none; }

  /*set style of closed slide*/
  .accordion section{ float:left; overflow:hidden; color:#333; cursor:pointer; background: #666; margin:3px; }
  .accordion section:hover {background:#444;}
  .accordion section p { display:none; }
  .accordion section:after{position:relative;font-size:24px;color:#000;font-weight:bold;}
  .accordion section:nth-child(1):after{content:'1';}
  .accordion section:nth-child(2):after{content:'2';}
  .accordion section:nth-child(3):after{content:'3';}
  .accordion section:nth-child(4):after{content:'4';}
  .accordion section:nth-child(5):after{content:'5';}
  /*End General Accordion****************************************************************************/

  /*Vertical Accordion *************************************************************************/
  .vertical section{ width:100%; height:40px;
    -webkit-transition:height 0.2s ease-out;
    -moz-transition:height 0.2s ease-out;
      -o-transition:height 0.2s ease-out;
    -ms-transition:height 0.2s ease-out;
      transition:height 0.2s ease-out;
  }
  /*Set height of the slide*/
  .vertical :target{ height:auto; width:97%; }

  .vertical section h2 { position:relative; left:0;}

  /*Set position of the number on the slide*/
  .vertical section:after{ top:-60px;left:810px;}
  .vertical section:target:after{ left:-9999px;}

  .circle{
    display: initial;
    float:left;
  }
  .category_imagethumbnails{
     width:100px;
  }

}