#overlay-inAbox4{
	left:25%;
	display:none;
}
#content{
	background: white;
}
#footer{
	margin-top: 5rem;
}
.profileHeader{
	width:90%;
	margin:0 auto;
	border-bottom: 2px dashed black;
	padding:3rem 1rem 0 1rem;
	position: relative;
}
.profilePicDiv,.profileBrief{
	display: inline-block;
}
.profilePic{
	height:175px;
	width:175px;
}
.profileBrief{
	position: absolute;
    top: 50%;
    left: 28%;
    transform: translate(-50%,-50%);
    height: 150px;
}
.detailHeader{
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
}
.detailHeader h1{
	text-align: center;
	text-transform: capitalize;
}
ul.profileBriefUl li{
	float:left;
	margin-right:1rem;
}
ul.profileBriefUl li:first-child{
	float:none;
	font-size:1.5rem;
	margin-bottom: 1rem;
}
.profileBody{
	margin: 0 1rem;
    padding: 2rem 2rem;
}
.profileStats{
	width:30%;
	float:left;
}
.myProfileTabs{
	cursor: pointer;
}
.displayDiv{
	width:70%;
	float:left;
}
.myActivityDiv{
	display: block;
}
ul.profileStatsUl li{
	margin:1rem;
}
.profileStatsUl li i{
	margin-right:0.5rem !important;
}
ul.profileDetailUl{
	padding-top: 1rem;
}
.following{
	border-top: 2px dashed;
}
.liDetail{
	display: flex;
}
p.main{
	font-size:1rem;
	position: relative;
	margin: 0.8rem 0.8rem;
}
p.desc{
    font-size: 0.85rem;
    margin: 0.5rem 1rem 1rem 4rem;
}
p.pollsDesc{
    font-size: 0.85rem;
    margin: 0.5rem 1rem 1rem 4rem;
}
.imgInFeed{
	width:50px;
	height:50px;
	border-radius: 50%;
}
.activity_text{
	/*position: absolute;
    left: 4rem;
    top: 1rem;*/
}
.activity_url{
	color:orange;
	cursor:pointer;
}
.category_figure{
    display:inline-block;
    margin:1rem;
}
.category_figurecaption{
    font-size: 1rem;
    text-align: center;
}
.category_imagethumbnails{
    height:96px;
    width:128px;
}
.fa-arrow-left{
	display: none;
}
.myConnectionsDiv ul:first-child{
	border-bottom:2px dashed;
}
ul.followers li{
	display: inline-block;
    position: relative;
    width:5rem;
    margin-bottom:1rem;
    vertical-align: top;
}
img.follow{
	display: inline;
    margin-bottom: 1rem;
}
.follow_url{
	/*position: absolute;
    bottom: 0;
    left: 0;*/
    word-wrap: break-word;
}
ul.followers p{
	margin-bottom:1rem;
}
@media only screen and (max-width: 980px){
		img.profilePic{
		width:120px;
		height: 120px;
	}
	.profileBrief{
		position: initial;
		width:225px;
		transform:none;
	}
	.detailHeader{
		bottom:-1rem;
	}
	.profileBody{
		margin:0;
		padding:0rem;
	}
	.profileDetail{
		display:none;
	}
	.profileStats{
		width:100%;
		float:none;
	}
	li.myProfileTabs img{
		width:64px;
		height: 61px;
		margin-right: 0.5rem !important;
		padding: 1rem;
		display: block;
	}
	.profileStatsUl{
		width: 95%;
		margin: 0 auto;
	}
	.profileStatsUl li i{
		font-size: 64px;
		margin-right: 0.5rem !important;
		padding: 1rem;
		width:64px;
		height: 61px;
	}
	ul.profileStatsUl li {
    	margin: 1rem;
    	position: relative;
    	float: left;
    	/*width:100px;*/
    	border:2px dashed;
    	border-radius: 25px;
	}
	p.desc{
	    margin: 0.5rem 1rem 1rem 4rem;
	}
	.iCaption{
		position: absolute;
		bottom: -1.5rem;
		left: 0;
		font-size:0.8rem;
		width:120px;
	}
	.fa-newspaper-o,.fa-users,.fa-comments{
		/*padding:0.7rem !important;*/
	}
	.fa-coins{
		font-size:61px !important;
	}
	.displayDiv{
		width:100%;
		float:none;
	}
	.fa-arrow-left{
		cursor:pointer;
		z-index: 100000;
	}

	#overlay-inAbox4{
		top:200px;
		width:100%;
		left:0;
		display:none;
	}
}

.fa-flag, .fa-comment{
	display: none;
}
