#signup{
	margin: 7rem 5rem 0rem 5rem;
}
.signup{
	font-size: 1.5rem;
	border: 3px solid #000;
	border-radius: 25px;
	background-color: white;
	opacity: 0.93;
	/* padding: 1rem 1rem;
	margin-bottom: 2rem; */
	/* width: 75%; */
	margin: 0 auto;
}
.signup p{
	/* margin-bottom: 2rem; */
	margin-left: 19rem;
	margin-top: 2rem;
}

.signupContent{
	margin: 0 auto;
}
.signupContentForm textarea{
    vertical-align: top;
}
form.signupContentForm{
	/* width:60%; */
	padding: 2rem 4rem 2rem 4rem;
	margin:0 auto;
	/* margin-left:21rem; */
}
form.signupContentForm label{
	display: inline-block;
	width:20%;
	color: #666;
    font-size: 1rem;
}
form.signupContentForm input{
	margin-left: 0rem;
}
.signupContentForm input[type="text"],.signupContentForm input[type="email"],.signupContentForm input[type="password"],.signupContentForm select{
		height: 2rem;
		border-radius: 10px;
		border: 1px solid #4c4c4c;
		background: transparent;
		font-size:1rem;
		overflow:hidden;
}

.signupContentForm select{
	font-size:1rem;
}

.signupContentForm textarea{
	border-radius: 10px;
    border: 1px solid #666;
    background: transparent;
    font-size: 1rem;
    overflow: hidden;
	/* margin-top: -2rem; */
	/*width: 45rem;*/
	height: 5rem;
	/*margin-left:11rem;*/
}
#qText{
	margin-bottom:2rem;
}
.signupContentForm input[type="date"]{
	border-radius: 10px;
    border: 2px solid #666;
    background: transparent;
    font-size: 1rem;
}
.signupContentForm p{
	width:90%;
	margin:0 auto;
	margin-bottom:2rem;
}
.signupContentForm input[type="file"] {
   /*  margin-left: 2rem;
	width:25%;
	background: #3e9cbf; */ /*the colour of the button*/
	/* border:1px solid #3e9cbf; /*required or the default border for the browser will appear*/ */
	/* cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/ */
	/* -moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	font-size: 1rem;
	visibility:hidden;
	background:url('question.jpg') no-repeat center center fixed; */
}
#id_categories{
	width: 125%;
  margin-left: 3rem;
}
#id_categories li{
	display:inline;
}
span#cats{
  cursor:pointer;
  font-size:1rem;
}
label.required:after { content: '*'; color:red; }
