{% extends "polls/common.html" %}
{% load static %}
{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/index.css' %}" />
{% endblock %}
{% block content %}
	<section id="content">

					<div class="questions">
							<P>
								<center><H1><font style="font-size: x-large;font-weight: 700;">ASK BY POLL Privacy Policies</font></H1></center><HR><br><br>
<P align="justify" style="line-height:150%">This Privacy Policy describes the information ASK BY POLL collects about you, how we use and share that information and the privacy choices we offer. This Privacy Policy applies to information we collect when you use our websites, mobile applications and other online products and services (collectively, the “Services”), or when you otherwise interact with us.
We may change the provisions of this Privacy Policy from time to time. If we make changes, we will notify you, including by revising the date at the top of this policy. We encourage you to review the Privacy Policy whenever you use our Services to stay informed about our information practices and the ways you can help protect your privacy.</P><br><br><br>

<u><font style="font-weight: 700;">Information Users Provide to Us</font></u><br><br>
<p align="justify" style="line-height:150%">We collect information you provide to us, such as when you create an account, update your profile, use the interactive features of our Services, participate in contests, promotions or surveys, request customer support or otherwise communicate with us. The types of information we may collect include:
• Basic user information: such as your name, username, gender, birth date, email address, mailing address, phone number and photographs;
• Messages and interactive forum information: such as discussion group posts, messages to other ASK BY POLL community users and information you provide in connection with activities and events; and
• Other background, contact and demographic information: such as your ethnicity, occupation, personal URL, IM username, emergency contact, home descriptions, travel history and plans and other interests and self-descriptions you choose to provide.
We also collect information about you from other ASK BY POLL community users, such as trust ratings, friend connections, public references and other interconnections and interactions between you and other ASK BY POLL community users.</p><br><br><br>


<u><font style="font-weight: 700;">Information We Collect Automatically From You</font></u><br><br>
<p align="justify" style="line-height:150%">When you access or use our Services, we may also automatically collect information about you, including:
• Location Information: We may collect information about your location each time you access or use our mobile application or otherwise consent to the collection of this information.
• Device Information: We collect device-specific information when you access our Services, including your hardware model, operating system and version, unique device identifiers, mobile network information and information about the device’s interaction with our Services.
• Log Information: We collect log information about how you access or use our Services, including your access times, browser type and language, Internet Service Provider and Internet Protocol (“IP”) address.
• Information Collected by Cookies and other Tracking Technologies: We may automatically collect information using cookies, web beacons (also known as “gifs,” “pixel tags” and “tracking pixels”) and other tracking technologies to, among other things, improve our Services and your experience, monitor user activity, count visits, understand usage and campaign effectiveness and tell if an email has been opened and acted upon. For information about removing or rejecting cookies, please see “Your Information Choices” below.</p><br><br><br>


<u><font style="font-weight: 700;">Information We Collect from Other Sources</font></u><br><br>
<p align="justify" style="line-height:150%">We may also obtain information from other sources and combine that with information we collect through our Services. For example, if you create or log into your ASK BY POLL account through a third-party social networking site, we will have access to certain information from that site, such as your name, profile picture, connections and other account information in accordance with the authorization procedures determined by such third-party social networking site.</p><br><br><br>


<u><font style="font-weight: 700;">Use of Information</font></u><br><br>
<p align="justify" style="line-height:150%">We use information about you for purposes described in this Privacy Policy or otherwise disclosed to you on or in connection with our Services. For example, we may use information about you to:<br>
1.	Operate and improve our Services;<br>
2.	Protect the safety of ASK BY POLL community users and verify users’ identities;<br>
3.	Send you technical notices, updates, security alerts and support and administrative messages;<br>
4.	Respond to your comments, questions and requests and provide customer service;<br>
5.	Communicate with you about products, services, offers, promotions, rewards and events and provide other news and information about ASK BY POLL and our select partners;<br>
6.	Monitor and analyze trends, usage and activities in connection with our Services;<br>
7.	Personalize the Services, which may include providing content or features that match user profiles or interests;<br>
8.	Process and deliver contest entries and rewards; and<br>
9.	Link or combine with other information we get from third parties to help understand your needs and provide you with better service.</P>
</P>
</div>
{% endblock %}

