{% extends "polls/common.html" %}
{% load static %}
{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/index.css' %}" />
	<style>
		td {
    		height:25px;
		}	 
</style>
{% endblock %}
{% block content %}
<section id="content">
	<div class="questions">
			<center><H1><font style="font-size: x-large;font-weight: 700;">ASK BY POLL FAQ's</font></H1></center><HR><br><br>
				<P align="justify" style="line-height:150%"><strong style="font-weight:700;">How do I create my Profile on AskByPoll?</strong><br><br>
				You can create your profile either using Social Media profiles (Facebook, Twitter, and Google+) or manually using the Sign up Button. On the details screen, we encourage you to provide all the information so that you get relevant questions on your home screen, at the same time your vote can contribute towards the question analysis. 
				</P><br><br><br>

				<p align="justify" style="line-height:150%"><strong style="font-weight:700;">How do I post a question on AskByPoll?</strong><br><br>
				Once you log into the portal, click on the Ask tab at the top of the page. Once on the question detail page – Type the question, the description, time out value, Options (either as text or images). Also tag the question to a few categories to increase the reach of the question. As you tag the question to more the number of categories, chances of getting responses on the question also increases. 
				Questions can also be marked as Private and can be posted as Anonymous.
				</p><br><br><br>

				<p align="justify" style="line-height:150%"><strong style="font-weight:700;">What are Private Questions on AskByPoll?</strong><br><br>
				A question if marked a Private will not be displayed publicly on any of the AskByPoll pages. In order to get responses the person has to send the question manually to people by sharing the Browser Link or by sharing the question on their respective Social Media pages. Private polls are extremely useful if the person wants to get responses from a selected set and if the question is personal or sensitive.
				</p><br><br><br>

				<p align="justify" style="line-height:150%"><strong style="font-weight:700;">What is Anonymous Posting on AskByPoll?</strong><br><br>
				In case a question is marked as Anonymous the question will be displayed on AskByPoll pages however, the name and profile image of the person who has posted the question will not be shown. Anonymous posting is helpful if you want to gather responses from the general public but do not want to reveal your identity. </p><br><br><br>

				<p align="justify" style="line-height:150%"><strong style="font-weight:700;">How do you vote on a question and check the results?</strong><br><br>
				A user has to log into his / her AskByPoll account to answer on any question. After Login into the portal, you would land on the latest / trending polls page where you can see questions relevant to you. You can filter questions by geography using the Global dropdown at the top of the page and then choosing the appropriate Geography. You can also navigate to the Categories tab at the top of the page to check out questions from a particular category. 
				Once you get the question you want to vote, simply click on the Radio button on which you want to place your vote and press the Vote Button. You would be redirected to the Questions details page now where you can check the result of the question. You can also press on the Analyse button to see the analysis of the question based on various demographic variables.</p><br><br><br>

				<p align="justify" style="line-height:150%"><strong style="font-weight:700;">How do I comment on a Question? </strong><br><br>
				The comments section is available on the question detail page below the Bar Graphs and the Analysis Section. You can type your comments and also tag others who have commented by typing “@user_name”. All the followers of the question would be notified through email about the comment.
				</p><br><br><br>

				<p align="justify" style="line-height:150%"><strong style="font-weight:700;">How can I Check the profile & activities of an AskByPoll member?</strong><br><br>
				You can view the profile of a member by clicking on the Profile link from the question posted by the member. On clicking the link, you would be taken to the profile detail page of the member displaying his / her recent activities, details of questions, responses, comments, connections (Followers & Following) and a few other statistics. </p><br><br><br>

				<p align="justify" style="line-height:150%"><strong style="font-weight:700;">How do I follow someone on AskByPoll?</strong><br><br>
				Navigate to the Profile page as described above. Click on the Follow button beside the Name and member detail area to Follow. Once you have successfully followed someone the “Follow” icon will turn green.</p><br><br><br>

				<p align="justify" style="line-height:150%"><strong style="font-weight:700;">How do I send a Private Message to someone?</strong><br><br>
				Navigate to the Profile page as described above. Click on the message icon button beside the Name. The message box will open where type out the subject and the body of the message and send it. On receiving a response back from the person, you would get an email notification regarding the same. Come back to your profile and check the Inbox section to read the unread message from the sender.</p><br><br><br>

				<p align="justify" style="line-height:150%"><strong style="font-weight:700;">What are pCoins? </strong><br><br>
				In the AskByPoll community, pCoins are virtual currency points that you gain or lose depending on the type of activity. pCoins can also be redeemed (Feature coming soon) against certain predefined rewards. Activities like, answering a question, up voting or down voting on a question, commenting on a question will get you new pCoins. pCoins can be also used to push your posted questions up on the home page to increase chances to people answering on it, making questions featured and can also be used to play prediction games. Users can also lose pCoins if someone down votes your question or unfollows you.
				</p><br><br><br>

				<p align="justify" style="line-height:150%"><strong style="font-weight:700;">What are the scenarios for generating or using pCoins? </strong><br><br>
				The table below details out the scenarios for gaining or using pCoins on AskByPoll. Apart from the scenarios mentioned there are 2 ways in which pCoins can be used – pCoins can be used to push the questions up on the home page (To be Live soon), pCoins can also be used to play prediction games as described below.<br><br>
				<table style="width:100%">
					<tr><th colspan='3'><strong style="font-weight:700;">Scenarios for point generation</strong></th></tr>
					<tr><td></td><td><strong style="font-weight:700;">+</strong></td><td><strong style="font-weight:700;">-</strong></td></tr>
					<tr><td>New Users Joining</td><td>100</td><td>0</td></tr>
					<tr><td>Creating Prediction Question</td><td>10</td><td>0</td></tr>
					<tr><td>Making a Question Featured</td><td>0</td><td>100</td></tr>
					<tr><td>Answer an Open Question </td><td>10</td><td>0</td></tr>
					<tr><td>Answer a Private Question</td><td>20</td><td>0</td></tr>
					<tr><td>Answer a Prediction Question Without Points</td><td>10</td><td>0</td></tr>
					<tr><td>Answer a Prediction Question with Points</td><td>20</td><td>0</td></tr>
					<tr><td>Comment on any type of question</td><td>10</td><td>0</td></tr>
					<tr><td>Up vote a Question</td><td>10</td><td>0</td></tr>
					<tr><td>Person whose Question is Up voted</td><td>2</td><td>0</td></tr>
					<tr><td>Person whose Question is Down voted</td><td>0</td><td>2</td></tr>
					<tr><td>Person who is followed</td><td>20</td><td>0</td></tr>
					<tr><td>Person who is Unfollowed</td><td>10</td><td>0</td></tr>
					<tr><td>Follow Someone</td><td>0</td><td>0</td></tr>
				</table>
				</p><br>
				Note: Points on comments will only be credited if it exceeds 100 characters and is relevant. The right to decide a comment as relevant or irrelevant is hold solely by AskByPoll Team.
				<br><br><br>
				
				<p align="justify" style="line-height:150%"><strong style="font-weight:700;">How can pCoins be redeemed on AskByPoll?</strong><br><br>
                                pCoins can be redeemed against E-Gift Vouchers in 3 different categories – Entertainment, Dining or E-Commerce. If you want you can donate the appropriate redemption amount to NGOs as well. It is an excellent way to give back to the society for something good you are doing on the website. If you want to donate to NGOs you would not need to do anything, we will do it on your behalf and intimate you once it is done.<br><br>

                                Steps to redeem:<br>
                                Go to your Profile -> Click on your Profile Image at the top right hand corner of the page an click on the profile link. You can also click on the pCoins Box on the right of the screen. This will take you to the profile page.<br>

Click on the Redeem Icon on the Profile Page beside the edit profile option. This will redirect you to the Redemption Page. The screen will show you the total pCoins that can be redeemed and the conversion to INR. <br>

In order to move forward with the redemption, choose the number of coupons in the option of choice and you are done !!<br>

We will send you the E-Voucher within 2 Business Days.</p><br><br><br>

				<p align="justify" style="line-height:150%"><strong style="font-weight:700;">What are Prediction Games?</strong><br><br>
				Prediction games are a special type of question where users can predict the answer of the question beforehand by adding some pCoins. At the end when the question times out, if the option which the user had predicted gets the maximum number of answers or is a winner based on an actual event, the user gets more pCoins in return based on our internal calculation algorithm. For e.g. if the user adds 100 pCoins on Option A of the prediction question and Option A gets maximum answers when it has timed out in that case user would get pCoins greater than 100 which is calculated using our internal algorithm.
				</p><br><br><br>

			</div>
{% endblock %}

