{% extends "polls/common.html" %}
{% load static %}
{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/index.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'foodstartup.css' %}" />
	<style>
		td {
    		height:25px;
		}	 
</style>
{% endblock %}
{% block content %}
<section id="content">
	<div class="questions">
			<center><H1><font style="font-size: x-large;font-weight: 700;">Analysis of Foodtech startups in India</font></H1></center><HR><br><br>

				<P align="justify" style="line-height:150%">The honeymoon period for food tech starts seems to have ended. With start-ups like Dazo and Spoonjoy shutting operations and talks about the troubles within Foodpanda and Tinyowl, both investors and consumers have started raising eyebrows.
				</P><br><br>

				<div class = "dataContainer">
					<div class="figBox" id="figBox1"> 
						<img style="width:100%; height:400px;" src="/static/foodStartupFig1.jpg">
					</div>
					<div class="infoBox" id="infoBox1"> 
						<p class = "infoP"> 
							<strong style="font-weight:700;">
								Many players with few results
							</strong> <br> <br>
							On the lines of e-commerce and hyperlocal sectors, foodtech witnessed several prominent angels and VCs funding various me-too startups that seem to have prioritised scale and growth over basic business fundamentals.
							We thought of looking the food tech startups from a new angle – The people’s angle.
						</p>
						
					</div>
				</div>

				<P align="justify" style="line-height:150%"><strong style="font-weight:700;">A Primary Research on FoodTech Startups</strong><br>A primary research on foodtech startups conducted on AskByPoll reveals interesting results. The research was conducted through a poll to measure which is the best foodtech startup among – Freshmenu, Swiggy, EatFresh & SpoonJoy.<br><br>
				Here is a snapshot of the initial result –
				</P><br><br>
				<div class="figBox" id="figBox2"> 
					<img style="width:100%; height:400px;" src="/static/foodGraph.png">
				</div>

				<P align="justify" style="line-height:150%"><strong style="font-weight:700;">On drilling down further, pretty interesting insights were discovered –</strong><br>	
					•	Out of the entire population, none of the females voted on SpoonJoy.<br>
					•	EatFresh and SpoonJoy do not have any students in the age group of 20 – 25 voting on it.<br>  
					•	In the 20 – 25 agegroup, Swiggy has a 28% larger brand recall than its overall recall.<br>
					•	Whereas EatFresh as a Zero Brand Recall in the 20 – 25 Age Group.<br>
					•	Swiggy on the other hand takes a hit of 14% Points in the age group of 26 – 30.<br>
				<br>
				</P>
				
				<ul id="foodStartUpsShare" class="share-buttons">
					<li class="foodStartUpsSocialShare"><div class="fb-share-button" data-href="http://{{ request.META.HTTP_HOST }}/foodtechstartups" data-image='https://askbypoll.com/static/pollsLogoShareNew.png'  data-layout="button_count"></div></li>
					<li class="foodStartUpsSocialShare" style="margin-left:1rem;"><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://{{ request.META.HTTP_HOST }}/foodtechstartups" data-via="askbypoll" data-count="horizontal" data-counturl="https://{{ request.META.HTTP_HOST }}/foodtechstartups" data-hashtags="AskByPoll" style="margin-left:1rem;">Tweet</a></li>
					<li class="foodStartUpsSocialShare" style="margin-left:1rem;"><div class="g-plus" data-action="share" data-annotation="bubble" data-href="https://{{ request.META.HTTP_HOST }}/foodtechstartups" style="margin-left:1rem;"></div></li>
				</ul>

				<div id="disqus_thread">
				</div>
				<script type="text/javascript">

					(function(d, s, id) 
					{
		  				var js, fjs = d.getElementsByTagName(s)[0];
		  				if (d.getElementById(id)) return;
		  				js = d.createElement(s); js.id = id;
		  				js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=1573017902971015";
		  				fjs.parentNode.insertBefore(js, fjs);
					}
					(document, 'script', 'facebook-jssdk'));

					!function(d,s,id)
					{
						var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
						if(!d.getElementById(id))
						{
							js=d.createElement(s);
							js.id=id;
							js.src=p+'://platform.twitter.com/widgets.js';
							fjs.parentNode.insertBefore(js,fjs);
						}
					}(document, 'script', 'twitter-wjs');

					var disqus_shortname = 'askbypoll';
					/* * * DON'T EDIT BELOW THIS LINE * * */
					(function() {
					    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					})();
				</script>
			</div>
{% endblock %}

