{% extends "polls/common.html" %}
{% load static %}
{% block extra_js %}
	<script type='text/javascript' src='https://www.askbypoll.com/static/js/widgetwithdatas.js'></script>
{% endblock %}
{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/index.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'foodstartup.css' %}" />
	<style>
		td {
    		height:25px;
		}	 
		.askbypoll-embed-show-demographics{
			font-size: 1rem !important;
			bottom: 1rem !important;
		}
</style>
{% endblock %}
{% block content %}
<section id="content">
	<div class="questions">
			<center><H1><font style="font-size: x-large;font-weight: 700;">Mobile Wallets - The Modern Day Payment Machines</font></H1></center><HR><br>
			<center><font style="font-size: x-large;font-weight: 100;">Read Time: 7 Mins</font></center><br><br>
			<H2><font style="font-size: x-large;font-weight: 700;">An Introduction to Mobile Wallets</font><br><br>

				<P align="justify" style="line-height:150%">Mobile Wallets is a relatively new concept which is being embraced with open arms in India. Simply put, a mobile wallet is a mobile-based virtual wallet, where you preload a certain amount in your account created with the mobile wallet service provider, and spend it at online and offline merchants listed with the mobile wallet service provider.
				</P><br><br>

				<div class = "dataContainer">
					<div class="figBox" id="figBox1"> 
						<img style="width:100%; height:400px;" src="/static/mobileWallet.png">
					</div><br>
					<P align="justify" style="line-height:150%">Right from recharging their phones to refilling the taxi money to online bill payments - the advantages are many. A few people have even started using these to buy a drink at Cafe Coffee Day and refuelling at gas stations. The numbers speak for themselves:<br><br>
					•	Paytm today has about 20 million active users which is higher than the cumulative number of credit cards in India .<br>
•	According to a study by research firm RNCOS, the current Indian market size for mobile wallet (m-wallet) stands at about Rs 350 CRORES and is estimated to rise to Rs 1,210 CRORES by 2019.<br>
•	Tracxn, a market intelligence platform, has laid down the momentum in this sector as - Over 250 financial-tech start-ups were founded in 2013 and 2014, and the last 1.5 years have seen them raise $1.5 billion in funding .<br>
                                	</P><br><br>
				</div>
				
				 <H2><font style="font-size: x-large;font-weight: 700;">Types of  Mobile Wallets</font><br><br>

                                <P align="justify" style="line-height:150%">As per RBI, mobile wallets (or e-wallets) are of 3 different types – Closed Wallets, Semi-Closed Wallets and Open Wallets. 
                                </P><br>
				<P align="justify" style="line-height:150%">Closed Mobile Wallets can be used only for a particular company’s (or online merchant) goods and services. No redemption or cash withdrawal is possible with such wallets. Examples of closed wallets would be the ones offered by MakeMyTrip, Jabong, etc. where your respective MakeMyTrip or Jabong account gets credited with the refund amount in case of any order cancellation or product return. You can use the refund amount only to make purchases from that merchant itself. 
                                </P><br>
				 <P align="justify" style="line-height:150%">Semi-Closed Wallets also do not allow redemption or cash withdrawal. They can be used to transact for goods and services at several different merchant locations that have the required tie-ups with the wallet issuing company. For example, Paytm, MobiKwik, PayUMoney, Oxigen, etc. are all Semi-Closed Wallets and they are perhaps the most widely used mobile wallets in India currently.
                                </P><br>
				 <P align="justify" style="line-height:150%">Open Wallets are those that allow redemption as well as cash withdrawals (from automated teller machines / business correspondents) in addition to the other features offered by Semi-Closed ones. A perfect example is the Vodafone powered M-pesa wallet.
                                </P><br>
				
				 <H2><font style="font-size: x-large;font-weight: 700;">Catalysts driving mobile wallet adoption</font><br><br>
				<div class="imageAndInfo" style="display:inline;">
				<div class="infoBox" id="infoBox1" style="width:50%; margin: 0; display: inline-block;border: 1px solid;padding: 1rem;">
					<P align="justify" style="line-height:150%">The growth in the digital payment landscape can be broken down into a few pivotal factors that came in together at the same time to fuel the burgeoning growth:
                                	</P><br>
					<P align="justify" style="line-height:150%">•	Government and Telcos introducing 3G & 4G Services across more geographies at affordable prices giving a tangible boost to e-commerce and digital payments. 
					</P><br>
					<P align="justify" style="line-height:150%">•	Nearly 50 per cent of Indian Smartphone users belong to the 18-30 years demographic, who are the early adopters in these digital segments. 
                                        </P><br>
					<P align="justify" style="line-height:150%">•	With online banking gaining momentum and online transaction security picking up confidence more and more transactions started happening online with a gradual shift towards more affordable and feature loaded digital wallets.  
                                        </P><br>
                                </div>
				</div>
				<div class="figBox" id="figBox1" style="width: 46%; display: inline-block;">
                                                <img style="width:100%; height:400px;" src="/static/futureOfMoney.jpg">
                                </div>
				<P align="justify" style="line-height:150%">With the ecosystem becoming mature and more and more players, suppliers and vendors entering the market, the day is not far when payments even at Kirana stores might be done using a Digital wallet. As said by Paytm -  
				</P><br>
				<P align="justify" style="line-height:150%">“We wish to tie-up with organised retail partners, your local kirana shops and create app-cash points, so these merchants will accept Paytm payments, but also give you top-ups and in some cases do the eKYC as well. The idea is to drive up our offline merchant payment points as well. We plan to have 50,000 of these by the end of the year,”
                                </P><br>
				<P align="justify" style="line-height:150%">The problem will arise when the funding runs out and all these mobile wallets will have to depend on their own profits to finance further expansion, fund the discounts and scale. The players are currently subsidising the user while burning VC cash, with the whole industry hoping that they reach the critical mass before running out of funds, and move on to the next stage of improving revenue per user.
                                </P><br>
				<P align="justify" style="line-height:150%">We have fingers crossed but for now, let’s order food at half the price, enjoy free movie tickets, hail cheap cabs and get cashbacks on utility bills.
                                </P><br>
				<div class="askbypoll-embed-poll" id="askbypoll-data-embed-poll---3045"></div>
				<br><br>
				
				 <P align="justify" style="line-height:150%">
					Clearly, looks like Freshmenu is doing good across age groups and professions whereas, EatFresh has to do some time to capture the younger age group and Swiggy has to do something to capture the salaried group of 26 – 30.
                                <br>
                                </P>
				<div class="askbypoll-embed-poll" id="askbypoll-embed-poll---3332"></div>
				<ul id="foodStartUpsShare" class="share-buttons">
					<li class="foodStartUpsSocialShare"><div class="fb-share-button" data-href="http://{{ request.META.HTTP_HOST }}/foodtechstartups" data-image='https://askbypoll.com/static/pollsLogoShareNew.png'  data-layout="button_count"></div></li>
					<li class="foodStartUpsSocialShare" style="margin-left:1rem;"><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://{{ request.META.HTTP_HOST }}/foodtechstartups" data-via="askbypoll" data-count="horizontal" data-counturl="https://{{ request.META.HTTP_HOST }}/foodtechstartups" data-hashtags="AskByPoll" style="margin-left:1rem;">Tweet</a></li>
					<li class="foodStartUpsSocialShare" style="margin-left:1rem;"><div class="g-plus" data-action="share" data-annotation="bubble" data-href="https://{{ request.META.HTTP_HOST }}/foodtechstartups" style="margin-left:1rem;"></div></li>
				</ul>

				<div id="disqus_thread">
				</div>
				<script type="text/javascript">

					(function(d, s, id) 
					{
		  				var js, fjs = d.getElementsByTagName(s)[0];
		  				if (d.getElementById(id)) return;
		  				js = d.createElement(s); js.id = id;
		  				js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=1573017902971015";
		  				fjs.parentNode.insertBefore(js, fjs);
					}
					(document, 'script', 'facebook-jssdk'));

					!function(d,s,id)
					{
						var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
						if(!d.getElementById(id))
						{
							js=d.createElement(s);
							js.id=id;
							js.src=p+'://platform.twitter.com/widgets.js';
							fjs.parentNode.insertBefore(js,fjs);
						}
					}(document, 'script', 'twitter-wjs');

					var disqus_shortname = 'askbypoll';
					/* * * DON'T EDIT BELOW THIS LINE * * */
					(function() {
					    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					})();
				</script>
			</div>
{% endblock %}

