{% extends "polls/common.html" %}
{% load static %}
{% block meta_data_extra %}
	<meta property="og:image" content="http://{{ request.META.HTTP_HOST }}/static/yourstory.png"/>
	<meta property="og:image:width" content="300" /> 
	<meta property="og:image:height" content="300" />
	<meta property="og:url" content="https://{{ request.META.HTTP_HOST }}{{ request.path }}"/>
	<meta property="og:title" content="Is ZipGo Crumbling Towards a Slow Death?"/>
{% endblock %}
{% block extra_js %}
	<script type='text/javascript' src='https://www.askbypoll.com/static/js/widgetwithdatas.js'></script>
{% endblock %}
{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/index.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'foodstartup.css' %}" />
	<style>
		html{
			background:url('/static/walletBackground.jpg') no-repeat center center fixed !important;
			background-size: cover !important;
		}
		
</style>
{% endblock %}
{% block content %}
<section id="content">
	<div class="questions">
			<H1 class="article-heading">Is ZipGo Crumbling Towards a Slow Death?</H1><HR>
			
			<p class="article-details">
				Created by: <a target="_blank" style="color:red;" href="https://in.linkedin.com/in/sandeepsingh2328"> Sandeep Singh </a> 2nd February, 2016
				<span class="article-details-time"> Read Time: 6 Mins </span>
			</p>

			<p class="bold-italic-color-p">
			They are operating illegally. They have to obtain a permit, a stage carriage permit, but they won’t get it here because it’s the same area as the BMTC. Because of this they can’t operate,” said Ramegowda, Karnataka’s commissioner for transport and road safety.
			</p>	

			<H2 class="article-sub-headings">The ZipGo Service</h2>

				<P>ZipGo is an app that aggregates shuttle AC bus services. Now operational in Bangalore and Gurgaon, it is looking to solve the deteriorating traffic situation and at the same time provide a comfortable and convenient public transport service. With the ZipGo App you can book a seat on an AC bus for your daily commute. With the ZipGo app you can, view all the routes that ZipGo serves, view the Estimated Time of Arrival (ETAs) of buses on your chosen route, view seat availability and reserve a seat on a bus and track the bus movement in real-time in the app.
				</P>

				<div class="figBox" id="figBox1"> 
					<img class="article-images-org-center" src="/static/yourstory.png">
				</div>

			<H2 class="article-sub-headings">The Story So Far</h2>
					
				<P>
					ZipGo was founded by four founders - Jitender Sharma and Gaurav Agarwal were in the founding team of TaxiPixi. Neeraj Paliwal, an IIT Delhi alumnus was working at Kiwi and Pritesh Gupta comes in from his stint at Ola and TinyOwl.
				</p>
				<p>
					According to Jitender, while the taxi market addresses one portion of the market, a large portion of the daily commuters’ woes is not solved. Taxis, he adds, are expensive even if you take the subsidised costs into account. So if you look at a price point that’s convenient for most commuters it is buses . This vision which drives the ZipGo team –
				</p>
				<p class="bold-italic-color-p">
					We are looking to build a smart mass transport system. We saw that people in New York, Singapore, and London were using buses for their transportation, so why couldn’t we look at the same,” says Jitender.
				</p>
				<p>
					The major issue with the current system that the team feels is – 
				</p>
				<p class="bold-italic-color-p">
					Even if buses are available, people aren’t using them. This is because of the lack of convenience. The experience, quality and timings aren’t consistent.”
				</p>
				<p>
					ZipGo follows an aggregator model, where the team on boards the buses and drivers by explaining the benefits of the system to them. For the people using the service, there is a mobile application to use. On launching the app, it asks you what route you would like to take, after which, the app shows all the buses that are available on that particular route. It shows the number of seats available on the bus, you can reserve your seats and it also shows the ETA for pick and drop. The app also shows tracking of the bus and the route it takes.
				</p>                                
				
			<H2 class="article-sub-headings">The Beginning of the Controversy</h2>

				<p>
					With this service within the city of Bangalore ZipGo had to suspend its Bangalore operations after the Karnataka transport department raided their office premises and served them a notice to provide documents of the licences and other details of the vehicles aggregated on its platform.
				</p>
				<p class="bold-italic-color-p">
					The regulator said that there is no provision for ZipGo to operate services that directly compete with the state-run city bus service under the Karnataka Motor Vehicle Rules of 1989.”
				</p>
				<p>
					In response to the regulator’s claim a lawyer representing ZipGo told the transport department  –
				</p>
				<p class="bold-italic-color-p">
					These companies are not licensees of the Regional Transport Authority. These are IT platforms that allow independent operators to aggregate and provide service in the interest of reducing traffic congestion on the roads.”
				</p>
				<p>
					ZipGo recently also launched a shuttle bus service from 14 points across the city to the Kempegowda International Airport for INR 149, whereas BMTC offers the same service for over INR 170 . ZipGo functions in the same space as the Bangalore Metropolitan Transport Corporation (BMTC) and could be seen as competition by the state-run entity. 
				</p>
				<p>
					On January 29th 2016, ZipGo had to again suspend its services across Bangalore due to huge pressure from the Transport Department related to permit violations. The department continued extensive checking of vehicles in outlying areas like ITPL, Kadugodi and Tin Factory on Friday. Around 200 vehicles were seized. It is unclear as to how many of these vehicles were operated by ZipGo .
				</p>
				<p>
					ZipGo claims that all the vehicles on its platform comply with all the regulations and laws, most specifically, Section 2(7) of the Motor Vehicles Act that deals with the Contract Carriage Permits. Since ZipGo doesn’t pick and drop people unless they’ve booked a ride and thus getting into a contract with ZipGo, RTO’s logic doesn’t apply .
				</p>

			<H2 class="article-sub-headings">Social Media on ZipGo</h2>

				<p>
					People on Social media sites like Facebook and Twitter are lending their support in favour of ZipGo. 
				</p>

				<div class="figBox" id="figBox2">
                    <img class="article-images-org-center-border" src="/static/zipgo1.jpg">
                </div>

                <p>
                	A few users on Facebook commented on a post in favour of ZipGo saying–
                	<p class="italic-color-p"><span class="bullet-span">•</span>	“Very Simply... I use ZipGo... It’s 100% better than BMTC...I can't stand for 2 hours in BMTC...paying such amount...”
					</p>
					<p class="italic-color-p"><span class="bullet-span">•</span>	“Paid car pool is allowed then why not ZipGo? ZipGo should move to court, they are supporting govt by adding more buses to routes... why do govt wants to keep monopoly of BMTC?”
					</p>
                </p>

                <div class="figBox" id="figBox3">
                    <img class="article-images-org-center-border" src="/static/zipgo2.jpg">
                </div>

                <p>
                	However there are also people who feel that the move by the Government is correct. A few users on Facebook commented on the same post against ZipGo saying – 
                	<p class="italic-color-p"><span class="bullet-span">•</span>	“I have one fundamental question. Bangalore is already bleeding with Traffic jams and pollution, do we really need one more aggregator in Bangalore? Why can't we as fellow citizens, encourage people to share their cars/bike or cycle (if feasible) or opt for the existing modes of public transport.”  
					</p>
					<p class="italic-color-p"><span class="bullet-span">•</span>	“ZipGo has limited routes which are already being covered by BMTC buses so why the hell we need ZipGo ...”
					</p>
                </p>

                <p>
                	If you have used the ZipGo service and feel it is useful in your daily life or that the government should promote entrepreneurship by decreasing stringent regulations, you would want to favour ZipGo to continue whereas if you feel that ZipGo is just another service adding towards the already worsening traffic condition in Bangalore the response if obvious ... 
                </p>

                <p>
                	In either case, please vote your opinion below so that the stakeholders can get a wider picture.
                </p>

				<div class="askbypoll-embed-poll" id="askbypoll-embed-poll---3765"></div>
                                
				<p class="sources-p">
					<span class="sources-span" style="color:grey">Sources: </span> 
					<a target="_blank" class="sources-a" href="https://www.linkedin.com/company/zipgo">LinkedIn</a>
					<a target="_blank" class="sources-a" href="http://yourstory.com/2015/09/zipgo/">Yourstory</a>
					<a target="_blank" class="sources-a" href="http://www.livemint.com/Companies/za2e195x2LhwCxcrsA9KWO/Zipgo-suspends-Bengaluru-operations-after-Karnataka-transpor.html">Livemint</a>
					<a target="_blank" class="sources-a" href="http://inc42.com/flash-feed/zipgo-ban/">Inc42</a>
					<a target="_blank" class="sources-a" href="http://www.thehindu.com/news/cities/bangalore/zipgo-suspends-operations/article8170161.ece">Hindu</a>
					<a target="_blank" class="sources-a" href="http://www.officechai.com/news/zipgo-trouble-with-transport-government">OfficeChai</a>
				</p>
				
				<ul id="foodStartUpsShare" class="share-buttons">
					<li class="foodStartUpsSocialShare"><div class="fb-share-button" data-href="http://{{ request.META.HTTP_HOST }}{{ request.path }}" data-layout="button_count"></div></li>
					<li class="foodStartUpsSocialShare" style="margin-left:1rem;"><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://{{ request.META.HTTP_HOST }}{{ request.path }}" data-via="askbypoll" data-count="horizontal" data-counturl="https://{{ request.META.HTTP_HOST }}{{ request.path }}" data-hashtags="AskByPoll" style="margin-left:1rem;">Tweet</a></li>
					<li class="foodStartUpsSocialShare" style="margin-left:1rem;"><div class="g-plus" data-action="share" data-annotation="bubble" data-href="https://{{ request.META.HTTP_HOST }}{{ request.path }}" style="margin-left:1rem;"></div></li>
				</ul>

				<div id="disqus_thread">
				</div>
				<script type="text/javascript">

					(function(d, s, id) 
					{
		  				var js, fjs = d.getElementsByTagName(s)[0];
		  				if (d.getElementById(id)) return;
		  				js = d.createElement(s); js.id = id;
		  				js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=1573017902971015";
		  				fjs.parentNode.insertBefore(js, fjs);
					}
					(document, 'script', 'facebook-jssdk'));

					!function(d,s,id)
					{
						var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
						if(!d.getElementById(id))
						{
							js=d.createElement(s);
							js.id=id;
							js.src=p+'://platform.twitter.com/widgets.js';
							fjs.parentNode.insertBefore(js,fjs);
						}
					}(document, 'script', 'twitter-wjs');

					var disqus_shortname = 'askbypoll';
					/* * * DON'T EDIT BELOW THIS LINE * * */
					(function() {
					    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					})();
				</script>
			</div>
{% endblock %}

