{% extends "polls/common.html" %}
{% load static %}
{% block meta_data_extra %}
	<meta property="og:image" content="http://{{ request.META.HTTP_HOST }}/static/6thFebcar.png"/>
	<meta property="og:image:width" content="300" />
	<meta property="og:image:height" content="300" />
	<meta property="og:url" content="https://{{ request.META.HTTP_HOST }}{{ request.path }}"/>
	<meta property="og:title" content="ZipGo Suspended - A Startup's Battle Against The Government"/>
{% endblock %}
{% block extra_js %}
	<script type='text/javascript' src='https://www.askbypoll.com/static/js/widgetwithdatas.js'></script>
{% endblock %}
{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'trivia/css/trivia.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'foodstartup.css' %}" />
  <style>
  #content{
    max-width:1200px;
  }
    .questions{
      background: white;
    }
  </style>
{% endblock %}
{% block content %}
<section id="content">
	<div class="questions">
<h1 class="article-heading">Should Bangladesh Appologise to Mahendra Singh Dhoni, the&nbsp;Indian Cricket Team &amp; the Indian Cricket Fans ?</h1>
<p class="article-details">
  Created by: <a target="_blank" style="color:red;" href="https://in.linkedin.com/in/sandeepsingh2328"> Editor </a> 6th March, 2016
  <span class="article-details-time"> Read Time: 3 Mins </span>
</p>

<p>It has happened again. The line has been crossed and the sport has now taken a back seat. While the Indian and the Bangladeshi cricket team are preparing for the final of the Asia Cup, the internet has gone wild over a morphed picture of Taskin Ahmed
  carrying a severed head of Mahendra Singh Dhoni, the Indian captian who has already won the Asia Cup in 2010.&nbsp;</p>

<p>The Asia Cup is a big tournanament, especially when to crown the cricket champions of this vast continent. It is only understandable that the fans are excited and enthusuiatic about it. And when one thinks about the Bangladeshi fans, indeed it is a big
  thing for them. A team always considered as minnows, a team always considered as the outsiders, has finally started taking down the giants of the cricketing world, not just sporadically but on a regular basis. The recent performances and series wins
  against the higher&nbsp;&nbsp;ranked India, Pakistan and South Africa is a testimony to the ever improving performance of the Tigers, as they are so lovingly called. However, it seems that the Bangladeshi cricket fans cannot control themselves when
  it comes to celebrating the laurels of their team.&nbsp;<img alt="" class="right" src="http://thetypicalindian.com/upload/media/entries/2016-03/05/12413-0-2a60a5590ce27ddd003142208f4a4c9a.jpg" style="height:300px; width:300px;float: left;
      padding: 1rem" /></p>

<p>A picture of&nbsp;Taskin Ahmed carrying a severed head of Mahendra Singh Dhoni has gone viral in the social media realms of Bangladesh and has also started doing rounds in India. &nbsp;It is indeed a graphic image and may be terribly disturbing to our
  reader. We sincerely appologise for posting it but after a lot of contemplation, we decide to post it so that you understand the gravity of the situation. Such acts of unsportsmanship conduct cannot be tolerated. Period. The sad part is that nothing
  has been done about it. Maybe, its time that people voice their opinion. The common cricket loving fans need to speak, and speak loud. Vote below if you think that an appology should be made by that fan or the Bangladeshi Cricket Board on behalf of
  their fan.</p>
<br>
<br><p>&nbsp;</p>
<div class="askbypoll-embed-poll" id="askbypoll-embed-poll---3835"></div>

<p><img alt="" class="left" src="http://s3.firstpost.in/wp-content/uploads/2015/06/bangla_ad_mocking_ProthomAl.jpg" style="height:285px; width:380px;float: right;
    padding: 1rem;" /></p>

<p>&nbsp;</p>

<p>We would love to think that this was a solitary act of a deranged fan, however Bangladeshi Fans seem adept at it.&nbsp;&nbsp;There has been recent cases of such nuances against the Indian team by such fans, and a thing of bigger concern is that not much
  has been done to curb such incidents or issue any knid of apology. Last year when India knocked out Bangladesh in the world cup, many had cried foul at a few umpiring decisions which went against Bangladesh. The fans cited the &quot;controversial&quot;
  decision has the reason for their team being knocked out. Unfortunately the Bangladeshi fans vent out their frustration on the Indian team and players by alleging that the loss was an undeserved one. Hundreds of memes surfaced over the internet following
  the incident. Similarly when Bangladesh registered a historic series win against India last year, the celebrations went too far. A leading Bangladeshi aily published a picture of&nbsp;of Indian players with their heads shaved off. &nbsp;What is more
  troubling is the fact that this picture is still up at the site and you can find it easily at&nbsp;<a href="http://epaper.prothom-alo.com/view/dhaka/2015-06-29/21">Prothom-alo</a> , the daily which published the image.
  <br />

  <br /> It was however, refreshing to see Ravi Shastri, the Team Director, responding to a question during the press conferece on his reaction to the image.&nbsp;</p>

<p class="bold-italic-color-p">
I don&rsquo;t read newspapers. You all read them, we will go and play our match. We are not in the habit of reading papers, during a match. You read the papers and make your own assessments, our job is to get out there and play cricket.</p>

<p>We do hope that both the teams are above this, and that the final would be a great match. May the best team win.</p>
<div class="askbypoll-embed-poll" id="askbypoll-embed-poll---3836"></div>

<p class="sources-p">
  <span class="sources-span" style="color:grey">Sources: </span>
  <a target="_blank" class="sources-a" href="http://www.fastcricket.com/entry/2052/">FastCricket</a>
  <a target="_blank" class="sources-a" href="https://en.wikipedia.org/wiki/Bangladesh_national_cricket_team">Wikipedia</a>
  <a target="_blank" class="sources-a" href="http://www.thequint.com/sports/2016/03/05/image-of-taskin-ahmed-carrying-dhonis-severed-head-goes-viral">TheQuint</a>
  <a target="_blank" class="sources-a" href="http://epaper.prothom-alo.com/view/dhaka/2015-06-29/21">Prothom-Alo</a>
  <a target="_blank" class="sources-a" href="http://www.bangaloremirror.com/sports/cricket/Asia-Cup-Bangladesh-vs-India-Morphed-photo-of-Taskin-holding-Dhonis-chopped-head-goes-viral/articleshow/51270440.cms">BangaloreMirror</a>
</p>

<ul id="foodStartUpsShare" class="share-buttons">
  <li class="foodStartUpsSocialShare"><div class="fb-share-button" data-href="http://{{ request.META.HTTP_HOST }}{{ request.path }}" data-layout="button_count"></div></li>
  <li class="foodStartUpsSocialShare" style="margin-left:1rem;"><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://{{ request.META.HTTP_HOST }}{{ request.path }}" data-via="askbypoll" data-count="horizontal" data-counturl="https://{{ request.META.HTTP_HOST }}{{ request.path }}" data-hashtags="AskByPoll" style="margin-left:1rem;">Tweet</a></li>
  <li class="foodStartUpsSocialShare" style="margin-left:1rem;"><div class="g-plus" data-action="share" data-annotation="bubble" data-href="https://{{ request.META.HTTP_HOST }}{{ request.path }}" style="margin-left:1rem;"></div></li>
</ul>

<div id="disqus_thread">
</div>
<script type="text/javascript">

  (function(d, s, id)
  {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=1573017902971015";
      fjs.parentNode.insertBefore(js, fjs);
  }
  (document, 'script', 'facebook-jssdk'));

  !function(d,s,id)
  {
    var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
    if(!d.getElementById(id))
    {
      js=d.createElement(s);
      js.id=id;
      js.src=p+'://platform.twitter.com/widgets.js';
      fjs.parentNode.insertBefore(js,fjs);
    }
  }(document, 'script', 'twitter-wjs');

  var disqus_shortname = 'askbypoll';
  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
</div>
</section>
{% endblock %}
