{% extends "polls/common.html" %}
{% load static %}
{% block meta_data_extra %}
	<meta property="og:image" content="http://{{ request.META.HTTP_HOST }}/static/stop-the-crime.jpg"/>
	<meta property="og:image:width" content="300" /> 
	<meta property="og:image:height" content="300" />
	<meta property="og:url" content="https://{{ request.META.HTTP_HOST }}{{ request.path }}"/>
	<meta property="og:title" content="Personal & Women Security Startups To Look Up To"/>
{% endblock %}
{% block extra_js %}
	<script type='text/javascript' src='https://www.askbypoll.com/static/js/widgetwithdatas.js'></script>
{% endblock %}
{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/index.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'foodstartup.css' %}" />
	<style>
		html{
			background:url('/static/walletBackground.jpg') no-repeat center center fixed !important;
			background-size: cover !important;
		}
		
</style>
{% endblock %}
{% block content %}
<section id="content">
	<div class="questions">
			<H1 class="article-heading">Personal & Women Security Startups To Look Up To</H1><HR>
			
			<p class="article-details">
				Created by: <a target="_blank" style="color:red;" href="https://in.linkedin.com/in/sandeepsingh2328"> Sandeep Singh </a> 4th Feb, 2016
				<span class="article-details-time"> Read Time: 7 Mins </span>
			</p>

						
			<h2 class="article-sub-headings">The Fire in the Hole</h2>	
				<p><span class="bullet-span">•</span> 21-year-old Tanzanian student beaten and then stripped of all her clothes by a group of locals in Bangalore	
				</p>
				<p><span class="bullet-span">•</span> Locals assumed she was part of an incident in which a Sudanese man had run over a local woman on last Saturday night
				</p>
				<p><span class="bullet-span">•</span> The High Commission of Tanzania has requested the Government of India of follow up on the matter.
				</p>
				<div class="figBox" id="figBox2">
                    <img id="personal-security-1" class="article-images-org-center-border" src="/static/personal_security.png">
                </div>
                <p>External Affairs Minister Sushma Swaraj also said that – </p>
                <p class="bold-italic-color-p">
					She has spoken to Karnataka Chief Minister Siddaramaiah and asked him to ensure safety of all foreign students and stringent punishment for the guilty.” 
				</p>
				<p>This incident again leaves us thinking how safe we actually are in India today. Let us know your views by voting below.</p>
				<div class="askbypoll-embed-poll" id="askbypoll-embed-poll---3795"></div>
				<p>Turning the tide, we thought of presenting the positive side of the story as well. The article below talks about the current state of personal and women security in India followed by how technology today is playing a pivotal role in increasing safety and a few companies that have taken it on them to ensure people around them are safe. </p>
			<h2 class="article-sub-headings">The Current State of Personal & Women Security in India</h2>

				<p>India is one country which reports a lot of crime – with a crime rate of 581.1 per 100,000 of the population . According to the “Crime Index for Country 2016” published by NUMBEO, India ranks 53rd among 117 Nations with a Crime Index of 46.59 .  The elevated rate of crime might be associated with socio-economic imbalances, urban anonymity, disproportionate gender ratio (884 female: 1,000 males), overpopulation, unemployment, poverty, corruption, and inadequate policing.
				</p>

				<p class="bold-italic-color-p">Delhi police reported a total of 6,944 snatching cases in 2014 compared to 3,316 cases in 2013 a staggering 110% increase in the crime rate ."</p>
				<p>
					Even at the time the Nirbhaya case came to light, almost 670 women in the country were being sexually harassed (and much worse) daily. Of course, those were just the reported numbers—the actual cases of violence against women were much higher.  According to data from the National Crime Records Bureau—the government agency that keeps track of the country’s crime rate—cases of violent abuse of women have steadily increased since 2009. By 2013, the number of such cases has increased by over 50 percent. That's over 848 women who are harassed, raped or killed after abduction every single day. Some are sold off to traffickers .
				</P>

				<div class="figBox" id="figBox1"> 
					<img class="article-images" src="/static/stop-the-crime.jpg">
				</div>

			<H2 class="article-sub-headings">Technology Opening Doors to Reducing Crime</h2>
					
				<p>Let’s shift gear to the positive side now. Across the world there is a lot of research happening around how technology can help reduce crime. Here is a list of 3 recent breakthrough areas in technology helping to prevent crime:
					<p><span class="bullet-span">•</span>	<span class="bold-underline">Mapping Technologies:</span>  Geographic Information Systems, remote sensing, and data mapping applications are allowing law enforcers to make enormous leaps in criminal intelligence, crime analysis, emergency response, and policing 
					Mapping technologies use real-time information to assess where crimes are happening and their nature. They can identify hot spots and patterns of activity which lets them focus on investigations and improve crime prevention. 
					</p>
					<p><span class="bullet-span">•</span>	<span class="bold-underline">Smartphone Apps:</span>  Till Five years back, Smart Phones where a rarity, let alone apps and let alone any that had to do with crime prevention or reporting. People today are already using their phones and wearable devices to trigger remote alarms and SOS messages. Also, seen can be the convergence of technology and man power with apps notifying 1st level authorities for real time incident reporting and safeguarding.
					</p>
					<p><span class="bullet-span">•</span>	<span class="bold-underline">Web Reporting:</span> While mobile devices are great ways for people to report criminal activity, many people don’t have access to them at all times. However, many more people can get access to a computer; can go online, for example, to submit anonymous tips to local police departments or the federal government. Many developed nations are creating strong ecosystems to empower a disenfranchised community to move from being in a “victim community” to a proactive part of the safety solution.
					</p>
                </P>

                                
				
			<H2 class="article-sub-headings">Startups changing the face of Personal & Women Security in India</h2>

                <div class="imageAndInfo-together">
					<!-- <div class="figBox figBox-ws" id="figBox2">
                        <img class="article-images" src="/static/WomenSecurity.jpg">
                    </div> -->
					<div class="infoBox" id="infoBox2">
						<P>Sadly India today has no centralized 911 service for emergency calls and a police-to-citizen ratio among the world’s lowest. India has 1.3 police per 1,000 citizens, compared with a global median of 3:1,000, the Federation of Indian Chambers of Commerce and Industry said in a 2013 report.
	                    </P>
						<P>In this context a few start ups have taken it on them to try and improve the personal and women security situation tapping into the burgeoning demand for technology-based security services in India, where rapes have increased to an average of four an hour. 
						</P>
						<P>In the next section we review a few start-ups in the Personal & Women security space.  
	                    </P>  
					</div>
				</div>
				<div class="imageAndInfo-together">
					<div class="figBox figBox-ws" id="figBox3">
                        <img class="article-images" src="/static/OneTouch.jpg">
                    </div>
					<div class="infoBox" id="infoBox3">
						<p><span class="startup-options-name">One Touch Response</span> is a technology driven personal safety and assistance service which provides Immediate Assistance and First Response services to its customers whenever they are faced with any real life situation involving personal safety or situations where they require assistance.
	                    </p>
						<P>These situations can range from general problems such as a flat tire in the middle of night to more immediate problems such as a case of a stranger following you or emergency medical needs at odd hours at night. 
						</P>
						<P>One Touch Response app offers a single point of contact for all these situations related to personal safety monitoring, managing physical threats, road accidents, and medical emergencies or on road assistance. It uses globally tested & proven technology, procedures and systems. 
	                    </P>
	                    <p>
	                    	Website: <a target="_blank" href="https://www.onetouchresponse.com/"> One Touch Response</a>
	                    </p> 
					</div>
				</div>
				<div class="imageAndInfo-together">
					<div class="infoBox" id="infoBox4">
						<P><span class="startup-options-name">SAFER</span> keeps you safe outdoors and indoors, on the street, at work and at home. SAFER - Smart jewellery that keeps women safe and connected.
	                    </P>
						<P>‘Safer’ is  fashioned in the form of a pendant made of rust-proof and non-corrosive metal casing, with a fashionable coloured stone that has the safety mechanism beneath it. When a user buys the pendant, he needs to download the app, sync it with the jewellery, and then add guardians or people one would like to reach out in distress situations. 
						</P>
						<P>Leaf Wearables, the company which created Safer, raised $250,000 from a group of angel investors last year. 
	                    </P>
	                    <p>
	                    	Website: <a target="_blank" href="https://www.leafwearables.com/">Leaf Wearables</a>
	                    </p> 
					</div>
					<div class="figBox figBox-ws" id="figBox4">
                        <img class="article-images" src="/static/LeafWearables.jpg">
                    </div>
				</div>
				<div class="imageAndInfo-together">
					<div class="figBox figBox-ws" id="figBox4">
                        <img class="article-images" src="/static/safemate.jpg">
                    </div>
					<div class="infoBox" id="infoBox4">
						<P><span class="startup-options-name">SafeMate</span> is a dedicated personal safety device developed by Delhi-based MapmyIndia. The matchbox-sized SafeMate weighs just 50 grams in weight and can fit into a school bag, purse, or pocket very easily. The wonder safety device makes use of its built-in GPS and Internet connectivity to securely transmit live locations to a mobile phone and desktop. It also has an SOS button that can be pressed in case of an emergency. Pressing the SOS button will send email and SMS alerts to the emergency contacts designated by the person.
	                    </P>
						<P>The thing that makes distinguishes SafeMate from the others in the market is that unlike other safety apps that make use of the mobile phone’s GPS continuously, and tend to drain the phone’s battery, SafeMate does not require a mobile phone, and has a battery life of three to four days.
	                    </P>
	                    <p>
	                    	Website: <a target="_blank" href="http://www.mapmyindia.com/safemate/">Safe Mate</a>
	                    </p> 
					</div>
				</div>
				
				<P>There are others like FearSafe and iFollow which are also operating in the Women security space.
				</P>
				<P>With the Government and Telcos introducing 3G & 4G Services across more geographies at affordable prices, nearly 50 per cent of Indian Smartphone users belonging to the 18-30 years demographics, who are the early adopters of these new technology apps and personal and women security becoming a major concern in most cities across the country, affordable technology to self manage security is surely going to see a huge boost in the near future in India.
				</P>
				<div class="askbypoll-embed-poll" id="askbypoll-embed-poll---3796"></div>
                                
				<div class="askbypoll-embed-poll" id="askbypoll-embed-poll---3797"></div>
                                
				<p class="sources-p">
					<span class="sources-span" style="color:grey">Sources: </span> 
					<a target="_blank" class="sources-a" href="http://indiatoday.intoday.in/story/african-student-stripped-assaulted-by-locals-in-bengaluru/1/586328.html">India Today</a>
					<a target="_blank" class="sources-a" href="http://www.thequint.com/india/2015/08/25/crime-data-suggests-india-is-becoming-more-violent-by-the-day">The Quint</a>
					<a target="_blank" class="sources-a" href="http://www.numbeo.com/crime/rankings_by_country.jsp">Numbeo</a>
					<a target="_blank" class="sources-a" href="https://www.osac.gov/pages/ContentReportDetails.aspx?cid=17460">OSAC</a>
					<a target="_blank" class="sources-a" href="http://www.huffingtonpost.in/2014/12/16/crime-against-women-india_n_6330736.html">Huffingtonpost</a>
					<a target="_blank" class="sources-a" href="http://www.livemint.com/Consumer/veCr72KPlQfXEfJtNqo8LL/Four-rapes-an-hour-in-India-stoke-personal-security-app-sale.html">Livemint</a>
					<a target="_blank" class="sources-a" href="http://thetechportal.in/2015/09/19/one-touch-response/">TheTechPortal</a>
					<a target="_blank" class="sources-a" href="http://www.thehindu.com/business/Industry/womens-safety-technology-startup-raises-rs-16-crore/article7958585.ece">Hindu</a>
					<a target="_blank" class="sources-a" href="http://www.indianweb2.com/2015/09/29/meet-safemate-a-gps-based-personal-safety-device-by-mapmyindia-722/">IndiaWeb2</a>
				</p>
				
				<ul id="foodStartUpsShare" class="share-buttons">
					<li class="foodStartUpsSocialShare"><div class="fb-share-button" data-href="http://{{ request.META.HTTP_HOST }}{{ request.path }}" data-layout="button_count"></div></li>
					<li class="foodStartUpsSocialShare" style="margin-left:1rem;"><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://{{ request.META.HTTP_HOST }}{{ request.path }}" data-via="askbypoll" data-count="horizontal" data-counturl="https://{{ request.META.HTTP_HOST }}{{ request.path }}" data-hashtags="AskByPoll" style="margin-left:1rem;">Tweet</a></li>
					<li class="foodStartUpsSocialShare" style="margin-left:1rem;"><div class="g-plus" data-action="share" data-annotation="bubble" data-href="https://{{ request.META.HTTP_HOST }}{{ request.path }}" style="margin-left:1rem;"></div></li>
				</ul>

				<div id="disqus_thread">
				</div>
				<script type="text/javascript">

					(function(d, s, id) 
					{
		  				var js, fjs = d.getElementsByTagName(s)[0];
		  				if (d.getElementById(id)) return;
		  				js = d.createElement(s); js.id = id;
		  				js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=1573017902971015";
		  				fjs.parentNode.insertBefore(js, fjs);
					}
					(document, 'script', 'facebook-jssdk'));

					!function(d,s,id)
					{
						var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
						if(!d.getElementById(id))
						{
							js=d.createElement(s);
							js.id=id;
							js.src=p+'://platform.twitter.com/widgets.js';
							fjs.parentNode.insertBefore(js,fjs);
						}
					}(document, 'script', 'twitter-wjs');

					var disqus_shortname = 'askbypoll';
					/* * * DON'T EDIT BELOW THIS LINE * * */
					(function() {
					    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					})();
				</script>
			</div>
{% endblock %}

