{% extends "polls/common.html" %}
{% load static %}
{% block meta_data_extra %}
	<meta property="og:image" content="http://{{ request.META.HTTP_HOST }}/static/valentines.jpg"/>
	<meta property="og:image:width" content="300" /> 
	<meta property="og:image:height" content="300" />
	<meta property="og:url" content="https://{{ request.META.HTTP_HOST }}{{ request.path }}"/>
	<meta property="og:title" content="Valentine’s Day : Roses, Hugs, Kisses, Love and Rs 22000 Crores"/>
	<meta property="og:description" content="Rs 22000 Crores ! Yes, you read it right. That was the estimated amount of money spent on this festival of Love last year, or should we say the Hallmark festival of Love."/>
{% endblock %}
{% block extra_js %}
	<script type='text/javascript' src='https://www.askbypoll.com/static/js/widgetwithdatas.js'></script>
{% endblock %}
{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/index.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'foodstartup.css' %}" />
	<style>
		html{
			background:url('/static/vday-bg.jpg') no-repeat center center fixed !important;
			background-size:cover;
		}
		
</style>
{% endblock %}
{% block content %}
<section id="content">
	<div class="questions">
			<h1 class="article-heading">Valentine’s Day : Roses, Hugs, Kisses, Love and Rs 22000 Crores</h1><HR>
			
			<p class="article-details">
				Created by: <a target="_blank" style="color:red;" href="https://in.linkedin.com/in/kewalkrishna"> Kewal Krishna </a> 8th Feb, 2016
				<span class="article-details-time"> Read Time: 3 Mins </span>
			</p>

			<!-- <p class="bold-italic-color-p">
			They are operating illegally. They have to obtain a permit, a stage carriage permit, but they won’t get it here because it’s the same area as the BMTC. Because of this they can’t operate,” said Ramegowda, Karnataka’s commissioner for transport and road safety.
			</p> -->	
				<div class="enter-contest">
					<a href="#askbypoll-embed-poll---3802"><img class="enter-to-win" src="/static/enter-to-win.jpg"></a>
					<p>Is it about that crimson delicate rose which you picked aside from a bunch of thrones or is it about that promise you made to be there forever ? Is it about that warm reassuring hug while you sniff the locks around the neck or is it about that stolen kiss which you forever cherish ? Is this Valentines Day going to be about your loved one and you ? Well, my dear friend, i am afraid it is not. In fact, as Meja says, It's all 'bout the money ; It’s all 'bout the dum dum… 
					</p>
				</div>
				<p class="bold-italic-color-p">
					 It's all 'bout the money ; It’s all 'bout the dum dum…
				</p>	
				

			<H2 class="article-sub-headings">Let us have a look at The Numbers</h2>
					
				<p>
					<span class="startup-options-name">Rs 22000 Crores ! </span> Yes, you read it right. That was the estimated amount of money spent on this festival of Love last year, or should we say the Hallmark festival of Love. And, if we go by the growth rate of <span class="startup-options-name">40% </span>, which was the last year trend, then surely this year may see an excess of Rs 25000 Crores. Indians splurge this money on cards, flowers, chocolates, soft toys, jewellery and many more, revealed an ASSOCHAM report . 
				</p>
				<div class="imageAndInfo-together">
					<!-- <div class="figBox figBox-ws" id="figBox3"> -->
                        <img class="article-images article-images-ws bad-img" src="/static/valentines.jpg" style="margin-right:1rem">
                    <!-- </div> -->
					<div class="infoBox" id="infoBox3">
						<p>
							India, is not alone in spending big bucks on Valentine’s day. The estimated spent in the US is around <span class="startup-options-name">USD 18.9 Billion</span>, way more than any other nation. To put that number into perspective, it is almost greater than 3.5% of the GDP of 175 countries of the world. Yes, just one week of spend is much more, almost <span class="startup-options-name">seven times more than the net profits of Infosys</span> over a quarter. Another interesting point to note is that rural spend is also increasing on this occasion by almost 22%, a couple of points more than the urban spend.
						</p>
						<p>
							Retailers are offering attractive prices and discounts and targeting people working in IT, BPO-ITeS, retail, hospitality industry, big corporates and also students of various colleges, schools and institutions. As per the same ASSOCHAM report, almost <span class="startup-options-name"> 52% of shoppers surveyed say that they prefer to shop online</span>because of better deals. Half of them and almost 18% of tablet owners said that the purchase is done on mobile devices itself and it should continue to grow further in the coming years. 
						</p>
					</div>
				</div>
				<img class="valentines-info" src="/static/valentines-info.jpg">
				<p>
					 A lot of people believe that there is no reason to have a special day to celebrate romantic relationships. Every day should be a Valentine's Day if your relationship is healthy. The only people who profit from Valentine's Day are flower sellers and chocolate manufacturers.
				</p>

				<p class="bold-italic-color-p">
			 		Having a special holiday set aside is just another example of rampant consumerism. It leads to disappointment and stress if one partner forgets, and overspending in order to convince the other partner that the relationship is important. 
			 	</p> 
				<p> Inspite of all this, Valentine's day remains one of the most celebrated occassions today. Infact, this has become one of the three most important shopping festivals including Diwali and Raksha Bandhan. 
				</p>
				<p>Valentine's day is a day to celebrate the spirit of love and it should be celebrated with your loved ones. A quote from Reeva Steenkamp seems appropriate here.
				</p>    
				<!-- <p class="bold-italic-color-p">
			 		You are protected, in short, by your ability to love!
			 	</p>   -->                  
				<p class="bold-italic-color-p">
			 		I've realized that although Valentine's Day can be a cheesy money-making stint to most people, it's a day of expressing love across the world. It doesn't have to only be between lovers, but by telling a friend that you care, or even an old person that they are still appreciated.
			 	</p>      
				<p>
					The day to celebrate this spirit of love is just around the corner and we at AskByPoll will be part of your celebration this time. We thought we will put a simple poll for all of you to answer. One lucky winner who votes on the poll receives something special from our side. (Read the Terms & Conditions) Happy Valentine’s Day everyone. 
				</p>	
				<div class="askbypoll-embed-poll" id="askbypoll-embed-poll---3802"></div>
				<p>Terms & Conditions</p>
				<ul class="v-day-tnc" style="list-style: initial;display: block;width: 97%;margin: 0 auto;font-size:0.9rem;margin-bottom:1rem;">
					<li>The Poll will be active till the midnight of 12th February, 2016.</li>
					<li>The Winner will be announced in the wee hours of 13th February, 2016.</li>
					<li>Winner would be receiving ________ at their own or their loved ones address directly</li>
					<li>One lucky winner would be chosen by the AskByPoll team solely at their discretion.</li>
					<li>Only People who provide their E-Mail ID during their Vote Submission would qualify for the Gift.</li>
					<li>The AskByPoll Team will be mailing the winner on 13th February to take their mailing address.</li>
					<li>The Gift would be sent directly to the mailing address precisely on 14th February on V’Day.</li>
				</ul>
				<p class="sources-p">
					<span class="sources-span" style="color:grey">Sources: </span> 
					<a target="_blank" class="sources-a" href=" https://en.wikipedia.org/wiki/Meja">Meja</a>
					<a target="_blank" class="sources-a" href="http://indianexpress.com/article/lifestyle/feelings/what-men-and-women-want-on-this-valentines-day/">IndianExpress</a>
					<a target="_blank" class="sources-a" href="http://www.hongkiat.com/blog/random-valentines-facts/">Hongkiat</a>
					<a target="_blank" class="sources-a" href="https://www.infosys.com/about/Pages/last-quarter.aspx">Infosys</a>
					<a target="_blank" class="sources-a" href="http://www.assocham.org/newsdetail.php?id=4863">Assocham</a>
					<a target="_blank" class="sources-a" href="http://time.com/money/3699604/valentines-day-spending-history-truth/">Times</a>
					<a target="_blank" class="sources-a" href="http://statisticstimes.com/economy/projected-world-gdp-ranking.php">StatisticsTimes</a>
					<a target="_blank" class="sources-a" href="http://www.debate.org/opinions/is-valentines-day-a-stupid-holiday">Debate</a>
					<a target="_blank" class="sources-a" href="http://www.brainyquote.com/quotes/quotes/r/reevasteen510454.html">BrainyQuote</a>
					<a target="_blank" class="sources-a" href="http://yourstory.com/2015/01/shopping-festival-valentines-day/">YourStory</a>

				</p>
				
				<ul id="foodStartUpsShare" class="share-buttons">
					<li class="foodStartUpsSocialShare"><div class="fb-share-button" data-href="http://{{ request.META.HTTP_HOST }}{{ request.path }}" data-layout="button_count"></div></li>
					<li class="foodStartUpsSocialShare" style="margin-left:1rem;"><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://{{ request.META.HTTP_HOST }}{{ request.path }}" data-via="askbypoll" data-count="horizontal" data-counturl="https://{{ request.META.HTTP_HOST }}{{ request.path }}" data-hashtags="AskByPoll" style="margin-left:1rem;">Tweet</a></li>
					<li class="foodStartUpsSocialShare" style="margin-left:1rem;"><div class="g-plus" data-action="share" data-annotation="bubble" data-href="https://{{ request.META.HTTP_HOST }}{{ request.path }}" style="margin-left:1rem;"></div></li>
				</ul>

				<div id="disqus_thread">
				</div>
				<script type="text/javascript">

					(function(d, s, id) 
					{
		  				var js, fjs = d.getElementsByTagName(s)[0];
		  				if (d.getElementById(id)) return;
		  				js = d.createElement(s); js.id = id;
		  				js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=1573017902971015";
		  				fjs.parentNode.insertBefore(js, fjs);
					}
					(document, 'script', 'facebook-jssdk'));

					!function(d,s,id)
					{
						var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
						if(!d.getElementById(id))
						{
							js=d.createElement(s);
							js.id=id;
							js.src=p+'://platform.twitter.com/widgets.js';
							fjs.parentNode.insertBefore(js,fjs);
						}
					}(document, 'script', 'twitter-wjs');

					var disqus_shortname = 'askbypoll';
					/* * * DON'T EDIT BELOW THIS LINE * * */
					(function() {
					    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					})();
				</script>
			</div>
{% endblock %}

