{% extends "polls/common.html" %}
{% load static %}
{% block meta_data_extra %}
	<meta property="og:image" content="http://{{ request.META.HTTP_HOST }}/static/Picture1.png"/>
	<meta property="og:image:width" content="300" /> 
	<meta property="og:image:height" content="300" />
	<meta property="og:url" content="https://{{ request.META.HTTP_HOST }}{{ request.path }}"/>
	<meta property="og:title" content="What is Most Important for Startups?"/>
	<meta property="og:description" content="Mike Tyson once said, Everybody has a plan, until they get punched in the face. Bill Gross added to this during a TED Conference saying that, I think thats so true about business as well. So much about a teams execution is its ability to adapt to getting punched in the face by the customer. The customer is the true reality."/> 
	<meta name="twitter:image:src" content="http://{{ request.META.HTTP_HOST }}/static/Picture1.png">
{% endblock %}
{% block extra_js %}
	<script type='text/javascript' src='https://www.askbypoll.com/static/js/widgetwithdatas.js'></script>
{% endblock %}
{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/index.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'foodstartup.css' %}" />
	<style>
		html{
			background:url('/static/walletBackground.jpg') no-repeat center center fixed !important;
			background-size: cover !important;
		}
		
</style>
{% endblock %}
{% block content %}
<section id="content">
	<div class="questions">
			<H1 class="article-heading">What is Most Important for Startups?</H1><HR>
			
			<p class="article-details">
				Created by: <a target="_blank" style="color:red;" href="https://in.linkedin.com/in/sandeepsingh2328"> Sandeep Singh </a> 16th Feb, 2016
				<span class="article-details-time"> Read Time: 7 Mins </span>
			</p>

			<p class="bold-italic-color-p">
				Mike Tyson once said, "Everybody has a plan, until they get punched in the face." Bill Gross added to this during a TED Conference saying that, “I think that's so true about business as well. So much about a team's execution is its ability to adapt to getting punched in the face by the customer. The customer is the true reality. ” 
			</p>
			<h2 class="article-sub-headings">So, What exactly is a Startup?</h2>
				<p>According to Serial Entrepreneur and Silicon Valley legend Steve Blank, a Startup is a – </p>
				<p class="bold-italic-color-p">
					Temporary Organization designed to search for a repeatable and scalable Business Model.” 
				</p>
				<div class="figBox" id="figBox1"> 
					<img class="article-images-startup" src="/static/Image1.jpg">
				</div>
				<p>
					He further argues that in the context of the tech industry, a Startup should be short for “scalable Startup,” which searches to not only prove their business model, but to do so quickly, in a way that will have a significant impact on the current market. From day one the intent is to grow the Startup into a large, disruptive company.	
				</p>
			<h2 class="article-sub-headings">Conclusion One For Startups - </h2>
				<p class="bold-italic-color-p">
					A Startup will generally not have a proven business model initially and the premise of the Startup would be to experiment and validate with different models at every stage” 
				</p>
				<p>
					Let’s pause for a moment here as we would love to know your opinion on success factors for a Startup in the Indian context. Vote your opinion below and do add your demographics so that we can perform meaningful statistical analysis on the data.  – 
				</p>
				<div class="askbypoll-embed-poll" id="askbypoll-data-embed-poll---3807"></div>
			<h2 class="article-sub-headings">Is the Idea Important?</h2>
				<p>
					 Sam Altman, the President of Y Combinator and co-chairman of OpenAI says –
				</p>
				<p class="bold-italic-color-p">
					The best startups seem like a bad idea, but are really a good idea.” 
				</p>
				<div class="figBox" id="figBox1"> 
					<img class="article-images-startup" src="/static/Image2.jpg">
				</div>
				<p>
					He says, if an idea is an obviously good idea, it probably means that a lot of other teams are chasing it, and it will be difficult to differentiate and compete. On the other hand, if you’re pursing something that seems like a bad idea, it means you have probably discovered some insight before others have and that insight gives you the competitive advantage of time.
				</p>
				<p>
					As many gurus have reiterated regarding the Startup Idea – It’s good to take a “Leap of Faith” and start working on your idea, but it’s equally important to validate & collect feedback and keep on pivoting the idea per the market requirements.
				</p>
			<h2 class="article-sub-headings">Conclusion Two For Startups – </h2>
				<p class="bold-italic-color-p">
					The very best Startup ideas tend to have three things in common: they're something the founders themselves want, that they themselves can build, and that few others realize are worth doing.”
				</p>
			<h2 class="article-sub-headings">Who are these Guys, Can they execute it?</h2>
				<p>
					Sean Covey an American author and motivational speaker providing business leadership and time management educational tools for organizations and individuals once said – 
				</p>
				<p class="bold-italic-color-p">
					When entrepreneurs come to me with that million dollar idea, I have to tell them that an idea alone is really worth nothing. It’s all about the execution”
				</p>
				<p>
					Early stage startups need extremely resourceful co-founders. Sam Altman says that you need a James Bond, someone who is good at everything, acts fast, decisively and is almost never wrong. If you find one, hold on to him/her. If you find someone that isn’t right, fire fast. It’s painful but might very well save your business.
				</p>
				<p>
					Execution is probably the least fun. Execution has two components, focus and intensity. Focus is critical because a founder has a million and one things to do and a million and two things vying for his/her attention. When it comes to intensity, the best founders work on things that seem small but move fast and can be done really quickly.
				</p>
			<h2 class="article-sub-headings">Conclusion Three For Startups – </h2>
				<p class="bold-italic-color-p">
					Having James Bond in your team would not harm. But learn to get rid of laggards equally efficiently. Execution is the key, focus and intensity is critical. Focus on priorities and act fast.”
				</p>
			<h2 class="article-sub-headings">Are they funded?</h2>
				<p>
					Dave Thomas, founder of the famous fast-food restaurant chain Wendy’s, once said, “What do you need to start a business? Three simple things: know your product better than anyone, know your customer, and have a burning desire to succeed.” But in a country as difficult to do business as India, an entrepreneur also needs a fourth attribute: knowledge of a complex maze of laws and regulations. (A representative story of a startup caught up in the maze of Government regulations - <a target="_blank" class="sources-a" href="https://www.askbypoll.com/article/should-zipgo-be-allowed-to-continue-operations-in">ZipGo Suspended - A Startup's Battle Against The Government</a>).
				</p>
				<p>
					What also makes financing important in India is – Over the last 15-20 years, while India has been primarily focused on “services”, China though started with “manufacturing” but quickly extended its focus to “product” companies. As a result, in addition to being the manufacturing behemoth, China has also produced product brands like Lenovo, Huawei, ZTE, Xiaomi, Baidu, Alibaba, Spreadtrum, spanning hardware, software and e-commerce.
				</p>
				<p>
					India desperately needs to create several high value product companies to meet domestic demand and create wealth. As such, ‘Make in India’ shouldn’t be just about “manufacturing” but also be about “making products”.
				</p>
				<div class="figBox" id="figBox3">
                    <img class="article-images-startup" src="/static/Image3.jpg">
                </div>
                <p>
                	Product-centric start-ups require a totally different mindset and approach. They tend to take tens to hundreds of millions of dollars and five to ten years before reaching profitability. This is quite a contrast from “services” model that doesn’t require lot of capital and usually make small but quick returns. But, product companies create lot more value and wealth.
                </p>
            <h2 class="article-sub-headings">Conclusion Four Regarding Startups – </h2>
				<p class="bold-italic-color-p">
					For Product Based Companies access to early capital definitely helps wade through the initial years but access to capital should not be the signature of success for a startup as is the scene today.”
				</p>
			<h2 class="article-sub-headings">Is the idea way too early and the world's not ready for it?</h2>
				<p>
					Bill Gross looked across all 100 Idealab companies, and 100 non-Idealab companies to try and come up with something scientific to find out which factor is the most important for startup success.
				</p>
				<p>
					According to his study, the bottom companies in his list had intense funding, they even had business models in some cases, but they didn't succeed. 
				</p>
				<p>
					According to the Study – 
				</p>
				<p class="bold-italic-color-p">
					The number one thing was timing. Timing accounted for 42 percent of the difference between success and failure. Team and execution came in second, and the idea, the differentiability of the idea, the uniqueness of the idea, actually came in third.”
				</p>
				<p>
					His reasoning around Business Model correlated to Steve Blank’s reasoning that the initial business model might actually change a lot. And regarding funding, he feels if someone is gaining traction fast, especially in today's age, it's easy to get intense funding.
				</p>
				<p>
					A few specific examples - Take a wild success like Airbnb. The company was famously passed on by many smart investors because people thought, "No one's going to rent out a space in their home to a stranger." Of course, people proved that wrong. But one of the reasons it succeeded, aside from a good business model, a good idea, great execution, is the timing.
				</p>
				<p>
					Airbnb came out right during the height of the recession when people really needed extra money, and that maybe helped people overcome their objection to renting out their own home to a stranger.
				</p>
				<p>
					Now a failure - Z.com, it was an online entertainment company. It raised enough money, had a great business model, and even signed incredibly great Hollywood talent to join the company. But broadband penetration was too low in 1999-2000. It was too hard to watch video content online. The company eventually went out of business in 2003. Just two years later, when the codec problem was solved by Adobe Flash and when broadband penetration crossed 50% in America, YouTube was perfectly timed. In fact, YouTube didn't even have a business model when it first started.
				</p> 
			<h2 class="article-sub-headings">Final Conclusion For Startups – </h2>
				<p>In the words of Bill Gross himself, who perfectly summed it up - 
				</p>
				<p class="bold-italic-color-p">
					Execution definitely matters a lot. The idea matters a lot. But timing might matter even more. And the best way to really assess timing is to really look at whether consumers are really ready for what you have to offer them. 
					And to be really, really honest about it, not be in denial about any results that you see, because if you have something you love, you want to push it forward, but you have to be very, very honest about that factor on timing.”
				</p>
                                
			<p class="sources-p">
				<span class="sources-span" style="color:grey">Sources: </span> 
				<a target="_blank" class="sources-a" href="https://www.ted.com/talks/bill_gross_the_single_biggest_reason_why_startups_succeed/transcript?language=en">TED</a>
				<a target="_blank" class="sources-a" href="https://blog.generalassemb.ly/difference-between-a-startup-and-a-small-business/">General Assembly Blog</a>
				<a target="_blank" class="sources-a" href="https://medium.com/startup-lessons-1/why-the-idea-is-important-notes-from-how-to-start-a-startup-lecture-1-32239d2ecb58#.pdzm46jjp">Medium</a>
				<a target="_blank" class="sources-a" href="http://www.brevedy.com/2015/01/14/startup-essentials-ideas-products-teams-and-execution/">Brevedy</a>
			</p>
				
			<ul id="foodStartUpsShare" class="share-buttons">
				<li class="foodStartUpsSocialShare"><div class="fb-share-button" data-href="http://{{ request.META.HTTP_HOST }}{{ request.path }}" data-layout="button_count"></div></li>
				<li class="foodStartUpsSocialShare" style="margin-left:1rem;"><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://{{ request.META.HTTP_HOST }}{{ request.path }}" data-via="askbypoll" data-count="horizontal" data-counturl="https://{{ request.META.HTTP_HOST }}{{ request.path }}" data-hashtags="AskByPoll" style="margin-left:1rem;">Tweet</a></li>
				<li class="foodStartUpsSocialShare" style="margin-left:1rem;"><div class="g-plus" data-action="share" data-annotation="bubble" data-href="https://{{ request.META.HTTP_HOST }}{{ request.path }}" style="margin-left:1rem;"></div></li>
			</ul>

			<div id="disqus_thread">
			</div>
				<script type="text/javascript">

					(function(d, s, id) 
					{
		  				var js, fjs = d.getElementsByTagName(s)[0];
		  				if (d.getElementById(id)) return;
		  				js = d.createElement(s); js.id = id;
		  				js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=1573017902971015";
		  				fjs.parentNode.insertBefore(js, fjs);
					}
					(document, 'script', 'facebook-jssdk'));

					!function(d,s,id)
					{
						var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
						if(!d.getElementById(id))
						{
							js=d.createElement(s);
							js.id=id;
							js.src=p+'://platform.twitter.com/widgets.js';
							fjs.parentNode.insertBefore(js,fjs);
						}
					}(document, 'script', 'twitter-wjs');

					var disqus_shortname = 'askbypoll';
					/* * * DON'T EDIT BELOW THIS LINE * * */
					(function() {
					    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					})();
				</script>
			</div>
{% endblock %}

