<div class="tooltip orange" id="category_tooltip">
	<span>Categories list:<br></span>
	{% for cat in data.categories %}
		<span class="cat_title_tooltip">{{ cat }},    </span>
	{% endfor %}
</div>
<div class="tooltip orange" id="groups_tooltip">
	<span class="cat_title_tooltip">You can select the Group and the question would be sent to them directly.</span>
</div>
<div class="tooltip orange" id="authenticate_vote_tooltip">
	<span class="cat_title_tooltip">Only Logged In Users Can Vote. Expect Fewer Votes Though</span>
</div>
<div class="tooltip orange" id="private_poll_tooltip">
	<span class="cat_title_tooltip">The question will not be publicly visible. Please share the question directly with the concerned users for votes</span>
</div>
<div class="tooltip orange" id="protectResult_tooltip">
	<span class="cat_title_tooltip">The Results would not be publicly visible. Only you would be able to see the results</span>
</div>
<div class="tooltip orange" id="makeFeatured_tooltip">
	<span class="cat_title_tooltip">The Question would be sent to the Home page and 100 pCoins would be deducted.</span>
</div>
<div class="tooltip orange" id="featuredimage_tooltip">
	<span class="cat_title_tooltip">Make your polls beautiful and gain more votes.This image will also be used as the cover picture for social media sharing.</span>
</div>