{% extends "polls/common.html" %}
{% load static %}
{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'trivia/css/trivia.css' %}" />
{% endblock %}
{% block extra_js %}
{% endblock %}
{% block content %}
	<section id="content">
		<section id="trivia">
			{% if trivias %}
				<div class="masonry">
					{% for trivia in trivias %}
				   		<div class="item">
				   			<div class="trivia-title">
								<a href="{% url 'polls:polls_vote' trivia.question.id trivia.question.que_slug %}">{{ trivia.trivia_title }}</a>
							</div>
							{% if trivia.trivia_percentage %}
								<div class="trivia-per-stamp">
									<img class="trivia-stamp" src="{% static 'trivia/images/stamp.png' %}">
									<p class="trivia-percentage">
										{{ trivia.trivia_percentage }}%
									</p>
								</div>
							{% endif %}
							{% if trivia.trivia_image %}
								<img class="trivia-image" src="{{ trivia.get_img_url }}">
							{% endif %}
							<div class="trivia-description">
								{{ trivia.trivia_header }} {{ trivia.trivia_body }}
							</div>
				   		</div>
				   	{% endfor %}
				</div>
			{% endif %}
		</section>
	</section>
{% endblock %}
