{% extends "polls/common.html" %}
{% load static %}
{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/askbypoll-products.css' %}" />
{% endblock %}
{% block content %}
	<section id="content">
		<div class="product-constants">
			<h1 class="product-heading">AskByPoll has helped various organisations and users in different sectors to improve the speed and effectiveness of their decision making. Read more to know the efficiency you can gain by using AskByPoll.</h1>
			<div class="abpb-col case-study light-blue">
				<h2>A Study of Mobile Internet & Free Basics</h2>
				<img class="case-study-img" src="/static/freebasic.jpg"/>
				<p class="case-study-p">A pan India study was done to understand the people's prefernce and pain points while using mobile internet and theri views on Free Basics like program</p>
				<ul class="product-feature">
					<li class="features">7 States, 15 Cities</li>
					<li class="features">700 Survey Responses</li>
					<li class="features">70 Video & Audio Interviews with English Transcripts</li>
					<li class="features">Online & Offline Data Collection</li>
					<li class="features">Analysis done on the AskByPoll platform</li>
					<li class="features">Recommendations sent to Key Stakeholders</li>
				</ul>
				<div class="cs-div">
					<a href="mailto:shradha@askbypoll.com?Subject=Hello" target="_top" class="btn">Know More</a>
				</div>
			</div>
			<div class="abpb-col case-study red">
				<h2>Integrated Road Plan Research Project: A Joint Study with Namma Bengaluru</h2>
				<img class="case-study-img" src="/static/namma-bengaluru.jpg"/>
				<p class="case-study-p">The Aim of the Research Study was toUnderstand the Attitude of Citizens towards Traffic Situation In Bangalore;Understand the Attitude of Citizens towards Role of Government in Traffic Matters;Understand the Attitude of Citizens towards Role of Public in Traffic Matters.</p>
				<ul class="product-feature">
					<li class="features">To be presented to Shri. Nitin Gadkari, Union Minister for Road Transport, Highways and Shipping.</li>
					<li class="features">More than 200 Responses</li>
					<li class="features">More than 20 Interviews</li>
					<li class="features">Analysis done on the AskByPoll platform</li>
				</ul>
				<div class="cs-div">
					<a href="mailto:shradha@askbypoll.com?Subject=Hello" target="_top" class="btn">Know More</a>
				</div>
			</div>
			<div class="abpb-col case-study green">
				<h2>ZipGo Campaign</h2>
				<img class="case-study-img" src="/static/mystory.png"/>
				<p class="case-study-p">A pan India campaign was done to understand the thoughts of the people on cab aggregator services like ZipGo and their reaction on ZipGo being banned by the government</p>
				<ul class="product-feature">
					<li class="features">12 States, 31 Cities</li>
					<li class="features">215 Online Responses</li>
					<li class="features">End-to-End Campaing on AskByPoll</li>
					<li class="features">Analysis done on the AskByPoll platform</li>
					<li class="features">Recommendations sent to Key Stakeholders</li>
				</ul>
				<div class="cs-div">
					<a href="mailto:shradha@askbypoll.com?Subject=Hello" target="_top" class="btn">Know More</a>
				</div>
			</div>
			<div class="abpb-col case-study yellow">
				<h2>Idea Testing & Feedback: Bite and Chew</h2>
				<img class="case-study-img" src="/static/foodStartupFig1.jpg"/>
				<p class="case-study-p">A food-tech startup used AskByPoll to conduct idea testing and customer feedback of their product. They delivered their products to selected users and gathered online quantitative and qualitative feedback using AskByPoll Startup Packages.</p>
				<ul class="product-feature">
					<li class="features">Quassi-Private Study</li>
					<li class="features">Completely Online</li>
					<li class="features">Helped define Price Points</li>
					<li class="features">Directly engage with potential & existing customers</li>
					<li class="features">Analysis done on the AskByPoll platform</li>
				</ul>
				<div class="cs-div">
					<a href="mailto:shradha@askbypoll.com?Subject=Hello" target="_top" class="btn">Know More</a>
				</div>
			</div>
			<div class="abpb-col case-study red">
				<h2>Being used as a primary source of Research by a Technology Company</h2>
				<img class="case-study-img" src="/static/Image2.jpg"/>
				<p class="case-study-p">The firm a leading technology, media and marketing Internet property which is focused on market intelligence, advisory services, strategic consultancy and communication design for information technology. We specialize in Smartphone, Social Media, Internet and the Gaming Industry. They use AskByPoll as their primary source of data gathering and analysis to publish reports.</p>
				<ul class="product-feature">
					<li class="features">Completely Online</li>
					<li class="features">Website & Email Widgets</li>
				</ul>
				<div class="cs-div">
					<a href="mailto:shradha@askbypoll.com?Subject=Hello" target="_top" class="btn">Know More</a>
				</div>
			</div>
			<div class="abpb-col case-study dark-blue">
				<h2>Award Nominations & Voting</h2>
				<img class="case-study-img" src="/static/enter-to-win.jpg"/>
				<p class="case-study-p">A popular UK based award nominations and voting was done using the AskByPoll platform. The question was posted on the platform and shared privately in a group of people. Only people from that group could see and cast their votes on the question. The responses captured were completely anonymous and hence protecting the visibility of the user.</p>
				<ul class="product-feature">
					<li class="features">Completely Private Study</li>
					<li class="features">Completely Online</li>
					<li class="features">Comments on top of votes</li>
				</ul>
				<div class="cs-div">
					<a href="mailto:shradha@askbypoll.com?Subject=Hello" target="_top" class="btn">Know More</a>
				</div>
			</div>
			
		</div>
		<div class="cta-div">
			<a href="mailto:shradha@askbypoll.com?Subject=Hello" target="_top" class="btn">Schedule Free Demo</a>
		</div>
	</section>
{% endblock %}