{% extends "polls/common.html" %}
{% block meta_data_extra %}
	{% with question.has_image as has_image %}
		{%if has_image|length > 0 %}
			{% for share_image in has_image %}
				<meta property="og:image" content="{{ DOMAIN_URL }}{{ share_image }}"/>
			{% endfor %}
				<meta property="og:image:width" content="300" /> 
				<meta property="og:image:height" content="300" />
		{% else %}
			<meta property="og:image" content="{{ DOMAIN_URL }}/static/pollsLogoShareNew.png"/>
		{% endif %}
	{% endwith %}
	<meta property="og:url" content="{{ DOMAIN_URL }}{{ request.path }}"/>
	<meta property="og:title" content="{{ question.question_text  }}"/>
	<meta property="og:description" content="{{ question.description  }}" />
{% endblock %}
{% block extra_js %}
	<script type='text/javascript'>
		$(document).ready(function(){
			windowHref = window.location.href;
			windowHref = windowHref.replace("/public-url","");
			window.location.href = windowHref;
		});
	</script>
{% endblock %}
